<style>
	.footer {
		background-color: var(--primary-color);
		display: flex;
		flex-direction: column;
	}

	.footer-legal {
		display: flex;
		align-items: center;
		flex-direction: column;
		text-align: center;
		padding:1em;
		color: var(--quartinary-shade);
	}

	.legal-flag {
		width:5em;
		display: inline-block;
	}
	.legal-quote {
		font-size: 80%;
		font-style: italic;
	}
</style>

<footer class="footer">
	<div class="footer-legal">
		<img class="legal-flag" src="~/images/EU-flag.jpg" alt="Flag of European Union">
		<p class="legal-quote">
			This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 731053.
		</p>
	</div>
</footer>
