@using Microsoft.AspNetCore.Identity
@using Ubora.Web.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User)) {
<!-- <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
<button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button> -->
<!-- <header-action description="Menu" link="/">
	<i class="material-icons">menu</i>
</header-action> -->
} else {
	<header>
		<div class="header-action-group">
			<a class="header-action-index" asp-controller="Home" asp-action="Index">
				<img class="header-action-index-image" src="~/images/icons/ubora-logo.svg" alt="UBORA logo">
			</a>
		</div>

		<div class="header-action-group">
			<a asp-controller="Account" asp-action="SignInSignUp">Sign in/sign up</a>
		</div>

		<div class="header-action-group header-action-list">
			<header-action description="Search" link="/Home/Search">
				<i class="material-icons">search</i>
			</header-action>
		</div>
	</header>
}
