@using Ubora.Web.Services

@inject SignInManager<ApplicationUser> SignInManager
@inject ApplicationUserManager UserManager

@if (SignInManager.IsSignedIn(User)) {
    <header>
        <a asp-controller="Home" asp-action="Index">
            <img class="header-logo" src="~/images/icons/ubora-logo.svg" alt="UBORA logo">
        </a>

        @*<a class="header-action" asp-controller="Home" asp-action="Search">
            <i class="header-action-icon material-icons">search</i>
            <span class="header-action-description">Search</span>
        </a>*@
        <p>Hello, <a asp-action="Index" asp-controller="Manage">@UserManager.GetUserFullName(User)</a></p>
        <form asp-action="Logout" asp-controller="Account" method="post">
            <button class="button" type="submit">Log out</button>
        </form>
        @*<a asp-controller="Account" asp-action="Logout">Log out</a>*@
    </header>
    

<!-- <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
<button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button> -->
} else {
	<header>
		<a asp-controller="Home" asp-action="Index">
			<img class="header-logo" src="~/images/icons/ubora-logo.svg" alt="UBORA logo">
		</a>

		<a asp-controller="Account" asp-action="SignInSignUp">Sign in/sign up</a>

		<a class="header-action" asp-controller="Home" asp-action="Search">
			<i class="header-action-icon material-icons">search</i>
			<span class="header-action-description">Search</span>
		</a>
	</header>
}
