@using Microsoft.AspNetCore.Identity
@using Ubora.Web.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User)) {
<!-- <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
<button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button> -->
} else {
    <header class="expanded row header">

        <div class="header-action">
            <a href="/">
                <img src="~/images/icon.png" alt="UBORA official logo" style="max-width:75px;">
            </a>
        </div>

        <div class="header-action">
            <a class="modal_signing" data-toggle="modal_signing">Sign in/sign up</a>
        </div>

        <div class="header-action">
            <a href="#" class="action action_search">
                <i class="material-icons">search</i>
                <span>Search</span>
            </a>
        </div>

    </header>

    <div class="full reveal" id="modal_signing" data-reveal>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>

        <div class="row">
            <div class="small-6 small-centered columns">
                <a class="button secondary large expanded" asp-controller="Account" asp-action="Login">
                    <img src="~/images/icon.png" alt="UBORA" style="max-width:30px">
                    &nbsp;Continue with UBORA
                </a>

                <h3>Don't have an account?</h3>
                <a class="button large expanded" asp-controller="Account" asp-action="Register">Sign up</a>
            </div>
        </div>
    </div>
}
