.alert {
    position: fixed;
    text-align: center;
    bottom: 0;
    z-index: 9999;
    width: 40%;
}

.danger-notice {
  color: $text-color;
}

.danger-notice-header {
  color: $orange;
  text-align: center;
}

.alert-dismissible .close {
  top: auto;
  bottom: auto;
  right: 10px;
  padding: 0;
}

.alert p {
  margin: 0;
}

.alert-success {
    border-color: $green;
}
