.btn:not(.btn-icon):not(.btn-link):not(.btn-sm) {
    min-width: 8rem;
}

@include media-breakpoint-down(md) {
    .btn:not(.btn-icon) {
        min-width: 6rem;
    }
}

.modal-dialog {
    .btn:not(.btn-icon) {
        min-width: 5rem;
    }
}

.btn-primary {

    &:focus,
    &:hover,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active:focus {
        @include button-style($light-blue, $light-blue, $white, none);
    }
}

.btn-outline-primary {

    &:focus,
    &:hover,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active:focus {
        @include button-style(transparent, $light-blue, $light-blue, none);

    }
}

.btn-disabled[disabled] {
    @include button-style($primary-shade, $primary-shade, $white, none);
    font-family: inherit;

    &:focus,
    &:hover {
        background-color: $primary-shade;
        border-color: $primary-shade;
        color: $white;
        cursor: not-allowed;
    }
}

.btn,
.btn-icon {

    .material-icons,
    span {
        @extend .align-middle;
    }
}

.btn[disabled] {

    &:focus,
    &:hover {
        cursor: not-allowed;
    }
}

.btn-cta {
    background-color: $orange;
    border-color: $orange;
    color: $white;
}

.btn-icon {
    background-color: transparent;
    border: none;

    &:focus,
    &:hover {
        cursor: pointer;
        box-shadow: none;
    }
}

a.btn-icon:hover {
    text-decoration: none;
}

.btn-action {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-center;
    @extend .my-2;
    @extend .w-100;
}
