.card {
  height: 100%;

  a h5{
      color: var(--blue);
  }
}

.card-title, .card-text {
  word-break: normal;
  font-weight: normal;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  height: 5em;
}

.card-link {
  word-break: normal;
}

.card img.card-img-top {
  object-fit: cover;
}