.card {
    height: 100%;

    .card-title,
    .card-text,
    .card-link {
        word-break: normal;
    }

    .card-img-overlay {
        background-color: rgba(255, 255, 255, 0.9);
        top: 0;
        height: 5em;
    }

    img.card-img-top {
        object-fit: cover;
    }

    a {
        text-decoration: none;
    }
}
