.form-group label {
  color: var(--blue);
  margin: 1rem 0 .5rem 0;
}

.form-group label[for="CommentText"] {
  margin: 0;
}


.form-check .form-control,
.form-group .form-control {
    border: 0;
    border-bottom: 1px solid var(--secondary-shade);
    border-radius: 0;
    font-family: inherit;
    font-size: 1rem;
    padding: .5rem 0;
}

.form-group .form-check .form-check-label {
  color: var(--text-color);
  font-size: inherit;
}

.form-check .form-check-label .form-control {
  padding: 0;
}


.form-group .form-control:focus {
  border: 0;
  border-bottom: 2px solid var(--light-blue);
}

select.form-control:not([size]):not([multiple]) {
  height: auto;
}

.form-group textarea.form-control {
  border: 1px solid var(--blue);
  padding-left: .65em;
}

.form-group textarea.form-control:focus {
  border: 1px solid var(--light-blue);
}

label.custom-file {
  font-size: 1rem;
}

.custom-file-control.selected:lang(en)::after {
  content: "" !important;
}

.custom-file-control {
  border:0;
  border-radius: 0;
  border-bottom: 2px solid var(--blue);
}

.custom-file-control::before {
  background-color: var(--blue);
  border: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: .25rem;
  color: var(--white);
  transition:
    background-color 200ms ease-in,
    border 200ms ease-in;
}

.custom-file:hover .custom-file-control::before {
  background-color: var(--light-blue);
  cursor: pointer;
}

.custom-file .custom-file-control,
.custom-file-control::before {
  line-height: 1;
}

.validation-summary-errors {
  color: var(--orange);
  font-size: 120%;
}

.validation-summary-errors > ul {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}

.validation-summary-errors > ul > li {
  padding: .2em 0;
}

.field-validation-error {
  color: var(--orange);
  display: block;
}

.field-validation-error > span {
  margin: .5em 0;
  padding: 0;
}

.input-validation-error {
  border-color: var(--orange);
}


input.width-8 {
  display: inline;
  width: 8%;
}
