.form-group label {
    color: $text-color;
    margin: 1rem 0 .5rem 0;
    font-size: 1.2rem;

    &[for="CommentText"] {
        margin: 0;
    }
}

.form-check,
.form-group {

    .form-control {
        border: 0;
        @include form-field-border;
        font-family: inherit;
        font-size: 1rem;
        padding: 0.375rem 0.2rem;
        padding-bottom: 5px;
    }
}

.form-group .form-check .form-check-label {
    color: $text-color;
    font-size: inherit;
}

.form-check .form-check-label .form-control {
    padding: 0;
}

.form-check .form-control:focus,
.form-group .form-control:focus,
.form-group .form-control.input-validation-error:focus {
    border: 0;
    border-bottom: 2px solid $light-blue;
    box-shadow: none;
    padding-bottom: 4px;
}

select.form-control:not([size]):not([multiple]) {
    height: auto;
}

.form-group textarea {
    &.form-control {
        border: 1px solid $secondary-shade;
        padding: 5px;

        &:focus {
            border: 2px solid $light-blue;
            padding: 4px;
        }

        &.input-validation-error {
            border: 1px solid $red;

            &:focus {
                border: 2px solid $light-blue;
                padding: 4px;
            }
        }
    }
}

label.custom-file {
    font-size: 1rem;
}

.validation-summary-errors {
    font-size: 120%;
}

.validation-summary-errors > ul {
    list-style: none;
    margin: 1em 0;
    padding: 0;
}

.validation-summary-errors > ul > li {
    padding: .2em 0;
}

.field-validation-error {
    color: $red;
    display: block;
}

.field-validation-error > span {
    margin: .5em 0;
    padding: 0;
}

.form-group .form-control.input-validation-error {
    border-bottom: 1px solid $red;
}

.form-group.search {
    input {
        padding-right: 2rem;
    }
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}