.nav-tabs .nav-link {
    border: none;
    color: $text-color;

    &.active {
        border-bottom: 2px solid $blue;

        .badge-dark-outline {
            border: 1px solid $blue;
        }
    }
}

