.progress {
  background-color: var(--tertiary-shade);
}

.progress-bar {
  background-color: var(--blue);
}

.table-level-of-completion .progress-bar.bg-success {
  background-color: var(--green) !important;
}

.table-level-of-completion .progress-bar.bg-warning {
  background-color: var(--orange) !important;
}
