.table-medical-tags,  .table-level-of-completion {
  border: none;
}

.table-medical-tags td, .table-level-of-completion td, .table-medical-tags th  {
  background-color: #fff;
  border-top: none;
}

.table-votes td{
  border-top: none;
  padding: .25rem 0;
}

.table-votes th{
  font-weight: normal;
  border-top: none;
}
