.table-medical-tags,  .table-level-of-completion {
  border: none;
}

.table-medical-tags td, .table-level-of-completion td  {
  background-color: #fff;
  border-top: none;
}

.table-of-standards {
  border: 1px solid var(--blue);
}

.table-of-standards td{
  background-color: var(--white);
  border: 1px solid var(--tertiary-shade);
}

.table-heading-light tr th {
  background-color: var(--white);
  padding: .5em;
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
  font-size: 1.25rem;
}
