.table-medical-tags {
  border: none;
}

.table-medical-tags td,
.table-medical-tags th  {
  background-color: #fff;
  border-top: none;
}

.table-add-vote td{
  border-top: none;
  padding: .25rem 0;
}

.table-add-vote th{
  font-weight: normal;
  border-top: none;
}

.table-structured-information th {
  width: 50%;
}
