h1, h2, h3, h4, h5, h6 {
    color: var(--dark);
    margin-bottom: 1.5rem;
}

h2, h3, h4, h5, h6 {
    font-weight: 400;
}

dt,
table thead th{
    font-weight: 600;
}

.display-3 {
    font-size: 2.5rem;
}

.display-4 {
    font-size: 2rem;
}

.display-1 {
  font-size: 3.5rem;
}

.display-2 {
  font-size: 3rem;
}

.display-3 {
  font-size: 2.5rem;
}

.display-4 {
  font-size: 2rem;
}

.display-5 {
  font-size: 1.5rem;
}

.display-6 {
  font-size: 1rem;
}

h1 {
    @extend .display-3;
}