
/*for voting*/
.circle {
    background:  var(--tertiary-shade);
    color: var(--white);
    border-radius: 50%;
}

.average-number {
    font-size: 3em;
    width: 3em;
    height: 3em;
    line-height: 3em;
}

.vote-number {
    font-size: 1em;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    cursor: pointer;
    color: #fff;
}


.voted {
    background: var(--blue);
}

.table-add-vote input[type="radio"]{
  display : none;
}

.table.table-votes td,
.table.table-votes th {
  border-top: none;
}



/*overrides*/
.small-text .btn-link {
	color: var(--primary-shade);
	border: none;
	padding: 0;
}

.small-text .btn-link:hover,
.small-text .btn-link:active,
.small-text .btn-link:focus {
	cursor: pointer;
	color: var(--light-blue);
}
