@import 'helpers.scss';

@import 'overrides/alerts';
@import 'overrides/forms';
@import 'overrides/links';
@import 'overrides/tables';
@import 'overrides/buttons';
@import 'overrides/typography';
@import 'overrides/progressbars';
@import 'overrides/ubora_select2';
@import 'overrides/card-item';
@import 'overrides/feedback';
@import 'overrides/drag_and_drop_file_uploads';
@import 'overrides/profile_view';
@import 'overrides/breadcrumb';
@import 'overrides/infinite_scroll';

@import 'page_components/voting';
@import 'page_components/header';
@import 'page_components/footer';
@import 'page_components/notices';
@import 'page_components/notifications';
@import 'page_components/autocomplete';
@import 'page_components/landing_jumbotron';
@import 'page_components/repository';
@import 'page_components/markdown_editor';
@import 'page_components/landingpage';
@import 'page_components/header_project';
@import 'page_components/3dviewer';
@import 'page_components/nav_rightside';
@import 'page_components/nav_sidemenu';
@import 'page_components/project_closure';
@import 'page_components/nav_tabs';
@import 'page_components/comments';
@import 'page_components/scroll_indicator';

body {
    color: $text-color;
    font: normal 16px/1.5em;
    font-display: swap;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    min-height: 70vh;
}

.modal-open {
    padding-right: 0px !important;
}




