@mixin form-field-border {
    border-bottom: 1px solid $secondary-shade;
}

@mixin bg-size-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin form-field-border {
    border-bottom: 1px solid $secondary-shade;
}

@mixin bg-size-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin modal-left-nav {

    &.modal-left-pane {
        &.show .modal-dialog {
            transform: translate(0, 0);
        }

        .modal-dialog {
            transform: translate(-100%, 0);
            margin-left: 0;
            margin-top: 0;
            width: 50%;
            height: 100%;

            .modal-content {
                border-radius: 0;
                border: none;
                height: 100%;
                overflow-y: auto;

                .modal-header {
                    padding: .5rem 1rem;
                }

                .modal-body {
                    padding-top: 0;

                    ul.list-sidebar {
                        padding-left: 1rem;
                        font-size: 14px;

                        li {
                            margin-top: .75rem;
                            margin-bottom: .75rem;
                        }

                        .side-menu-secondary li {
                            font-weight: normal;
                            margin-top: .5rem;
                            margin-bottom: .5rem;
                        }

                        .side-menu-secondary span {
                            margin-left: .6rem;
                        }

                        .side-menu-tertiary {
                            padding-left: 1.6rem;
                        }

                        .side-menu-quaternary {
                            padding-left: 1.6rem;
                        }
                    }
                }
            }
        }
    }

    &.fade.in .modal-dialog {
        left: 0;
    }
}
