.feedback-trigger {
  color: var(--white);
  background-color: var(--orange);
  border: 0;
  border-radius: .2em;
  bottom: .5em;
  font-family: inherit;
  font-size: 150%;
  padding:.5em;
  position: fixed;
  right: .5em;
  transition: background-color .3s ease-in;
  z-index: 999;
}

.feedback-trigger > .material-icons {
  background-color: transparent;
  color: var(--white);
}

.feedback-trigger:hover {
  background-color: var(--text-color);
  cursor: pointer;
}

.modal {
  background-color: rgba(0,0,0,.5);
  height: 100vh;
  left:0;
  position: fixed;
  top:0;
  width: 100vw;
  z-index: 9999;
}

.modal-content {
  background-color: var(--white);
  border-radius: .2em;
  left: 50%;
  padding: 2em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  width:80vw;
}

.feedback-modal {
  display: none;
}
