.validation-summary-errors {
    color: var(--orange);
    font-size: 120%;
}

    .validation-summary-errors > ul {
        list-style: none;
        margin: 1em 0;
        padding: 0;
    }

        .validation-summary-errors > ul > li {
            padding: .2em 0;
        }

.field-validation-error {
    color: var(--orange);
    display: block;
}

    .field-validation-error > span {
        margin: .5em 0;
        padding: 0;
    }

.input-validation-error {
    border-color: var(--orange);
}


form {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 2em auto;
}

.form-input {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1em 0;
}

    .form-input > label {
        color: var(--blue);
    }

    .form-input > input,
    .form-input > select,
    .form-input > textarea {
        width: 100%;
    }

    .form-input-horizontal {
        flex-direction: row;
    }

form > label > input,
form > label > select,
form > label > textarea {
    width: 100%;
}

    form > label > input[type="checkbox"] {
        width: inherit;
    }

form h1,
form h2,
form h3 {
    margin: .5em 0 0 0;
}

.form-input-file {
    margin: 1em 0;
}

.default-form {
    display: block;
    margin: 0;
    padding: 0;
}

.textbox-label {
    color: var(--text-color);
}

.form-input > label + .recommendation {
    color: lightgray;
}
