/*Technically hide elements from page rendering flow*/
.pseudo-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	position: absolute;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	width: 1px;
}

/*Avatar image look*/
.avatar {
    border-radius: 50%;
    object-fit: cover;
}

.card .avatar {
    height: 150px;
    width: 150px;
}

/*Avatar image size in comments section*/
.avatar-comment {
	height: 4em;
	width: 4em;
}


.material-icons.icon-size-lg {
	font-size: 5rem !important;
}

/*Override bootstrap badge component*/
.badge {
    font-weight: normal;
}

.badge-grey-ghost {
    border: 1px solid $primary-shade;
    color: $text-color;
}

.badge-green {
    background-color: $green;
    color: $white;
}

.badge-orange {
	background-color: $orange;
    color:  $white;
}

/*Override icon default values*/
.material-icons {
  font-size: 1.3rem;
  line-height: 1.3;
}

/*Project status indicator*/
.project-status-draft {
	color: $white;
	background-color: $orange;
	padding: 0 1rem;
	margin-bottom: 0;
}

/*coloring text to orange*/
.color-orange {
	color: $orange;
}

/*coloring text to grey*/
.color-grey {
	color: $primary-shade;
}

/*Repository icons*/
.file-list--item-control {
    margin: 0;
    padding: 0;
    text-align: center;
    transition: color .3s ease;
    color: $blue
}

    .file-list--item-control:hover {
        color: $light-blue;
        cursor: pointer;
    }

/*For small text*/
.small-text {
	font-size: 0.875em;
}

/*For 16px text*/
.normal-text {
	font-size: 1rem;
}

.text-informative {
    font-style: italic;
    color: $dark-grey;
}

.hide {
	display: none;
}

/*Different widths*/
.width-8 {
  width: 8%;
}

.width-12 {
  width: 12%;
}

.width-32 {
  width: 32%;
}

.width-36 {
  width: 36%;
}

/*Breaks word at any character*/
.break-word-all {
	word-break: break-all;
}

/*Looses text underline from link*/
a.no-underline {
	text-decoration: none;
}

.min-height {
	min-height: 37rem;
}

.page-item.active .page-link {
    background-color: $primary-shade;
    border-color: $primary-shade;
}

.page-link,
.page-link:focus, .page-link:hover {
    color: inherit;
}


.box-shadow {
    -webkit-box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.1);
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.1);
}

