/*Technically hide elements from page rendering flow*/
.pseudo-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	position: absolute;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	width: 1px;
}

/*Avatar image look*/
.avatar {
    border-radius: 50%;
    object-fit: cover;
}

/*Avatar image size in comments section*/
.avatar-comment {
	height: 4em;
	width: 4em;
}


.material-icons.icon-size-lg {
	font-size: 5rem !important;
}

/*Override bootstrap badge component*/
.badge {
    font-weight: normal;
}

.badge-grey-ghost {
    border: 1px solid var(--primary-shade);
    color: var(--text-color);
}

.badge-green {
    background-color: var(--green);
    color: var(--white);
}

.badge-orange {
	background-color: var(--orange);
    color:  var(--white);
}

/*Override icon default values*/
.material-icons {
  font-size: 1.5rem !important;
  line-height: 1.5 !important;
}

/*Project status indicator*/
.project-status-draft {
	color: var(--white);
	background-color: var(--orange);
	padding: 0 1rem;
	margin-bottom: 0;
}

/*coloring text to orange*/
.color-orange {
	color: var(--orange);
}

/*coloring text to grey*/
.color-grey {
	color: var(--primary-shade);
}

/*Repository icons*/
.file-list--item-control {
    margin: 0;
    padding: 0;
    text-align: center;
    transition: color .3s ease;
    color: var(--blue)
}

    .file-list--item-control:hover {
        color: var(--light-blue);
        cursor: pointer;
    }

/*For small text*/
.small-text {
	font-size: 0.875em;
}

.hide {
	display: none;
}

/*Different widths*/
.width-12 {
  width: 12%;
}

.width-36 {
  width: 36%;
}

.width-8 {
  width: 8%;
}

.width-32 {
  width: 32%;
}

/*Breaks word at any character*/
.break-word-all {
	word-break: break-all;
}

/*Looses text underline from link*/
a.no-underline {
	text-decoration: none;
}

.min-height {
	min-height: 37rem;
}

.page-item.active .page-link {
    background-color: var(--light-blue);
    border-color: var(--light-blue);
}

.page-link {
    color: inherit;
}
