//Technically hide elements from page rendering flow
.pseudo-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    position: absolute;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
}

/*User avatar*/
.avatar {
    border-radius: 50%;
    object-fit: cover;
}

.avatar-author {
    height: 2em;
    width: 2em;
}

//badges
.badge {
    font-weight: normal;
}

.badge-dark-outline {
    border: 1px solid $text-color;
}

@each $name, $color in $badge-colors {

    .badge-#{$name} {
        background-color: $color;
        color: $white;
    }
}


/*Override icon default values*/
.material-icons {
    font-size: 1.3rem;
    line-height: 1.3;
}

/*Project status indicator*/
.project-status-draft {
    color: $white;
    background-color: $orange;
    padding: 0 1rem;
    margin-bottom: 0;
}

//Text style
.font-weight-light-bold {
    font-weight: 600;
}

.text-informative {
    font-style: italic;
    color: $dark-grey;
}

//text sizes
@each $name, $size in $font-sizes {
    .font-#{$name} {
        font-size: $size;
    }
}


// background colors
@each $name, $color in $bg-colors {

    .bg-#{$name} {
        background-color: $color;
    }
}

.bg-icon {
    position: absolute;
    z-index: -10;
    font-size: 7rem;
    color: #f3f3f3;
    right: 1rem;
}



// text colors
@each $name, $color in $text-colors {
    .text-#{$name} {
        color: $color;

        a {
            color: $color;
        }
    }
}


/*hide content*/
.hide {
    display: none;
}

// Widths
.w-2-rem {
    width: 2rem;
}

.w-15-rem {
    width: 15rem;
}

// Heights

.h-min-45 {
    min-height: 45rem;
}

.h-min-10 {
    min-height: 10rem;
}

.h-2-rem {
    height: 2rem;
}

/*Breaks word at any character*/
.break-word-all {
    word-break: break-all;
}

/*Looses text underline from link*/
a.no-underline {
    text-decoration: none;
}

//shadows
.box-shadow {
    @include box-shadow(2px, 2px, 8px, 0);
}

.box-shadow-2 {
    @include box-shadow(1px, 1px, 2px, 0);
}



@include media-breakpoint-down(xs) {


    .d-xs-none {
        display: none;
    }

    .pl-xs-0 {
        padding-left: 0 !important;
    }
}

@include media-breakpoint-up(lg) {
    .h-min-50-lg {
        min-height: 50rem;
    }
}

//separator
.comma-separator:after {
    content: ', ';
}

.comma-separator:last-child:after {
    content: '';
}

.divider {
    border-top: 3px solid white;
    width: 50px;
    display: block;
}

//dots, borders
.border-white {
    border-color: white;
}

.border-dark {
    border-color: $text-color;
}

.dot {
    @extend .mx-xl-2;
    @extend .mx-md-2;
    @extend .my-1;
    height: 3px;
    width: 3px;
    background-color: $primary-shade;
    border-radius: 50%;
    display: inline-block;
}

hr {
    &.light {
        border-color: $white;
    }

    &.dark {
        border-color: $black;
    }
}

.form-info {
    label {
        font-weight: 600;
        display: block;
        margin-bottom: 0;
    }
}

@include media-breakpoint-down(xs) {
    .mt-xs-2 {
        margin-top: .5rem;
    }

    .my-xs-2 {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
}

.filter-group {
    max-height: 20rem;
    overflow-y: auto;
}

@include media-breakpoint-down(md) {
    .btn-md-block {
        display: block;
        width: 100%;
    }
}


.d-xs-block {
    @include media-breakpoint-down(sm) {
        display: block;
        width: 100%;
    }
}

//swiper
.swiper-container {
    background-color: white;
    border: 1px solid $quartinary-shade;

    .swiper-image {
        display: flex;
        justify-content: center;

        img {
            @include media-breakpoint-up(xl) {
                min-height: 100%;
            }

            @include media-breakpoint-down(md) {
                height: $swiper-image-md-height;
            }

            height: $swiper-image-lg-height;
            min-height: 100%;
            min-width: 100%;
            object-fit: cover;
        }
    }

    .swiper-details {
        @extend .my-3;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}


.swiper-button-prev,
.swiper-button-next {
    width: 50px;

    &:focus {
        outline: none;
    }

    @include media-breakpoint-down(md) {
        display: none;
    }
}

.swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23BDBDBD'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23BDBDBD'%2F%3E%3C%2Fsvg%3E");
}

@include media-breakpoint-down(md) {
    .btn-md-block {
        display: block;
        width: 100%;
    }
}

.assignment-done {
    text-decoration: line-through;
}

// for IE
img {
    object-fit: cover;
    font-family: 'object-fit: cover;';
}