.notice-indev {
	background-color: var(--blue);
	color:var(--white);
	padding:.5em 0;
	margin: 0;
	text-align: center;
}

.notice-account-confirmation {
		background-color: var(--orange);
		color: var(--white);
		margin: 0;
		padding: .5em 0;
		text-align: center;
}

.notice-account-confirmation-link {
	color: var(--white);
	text-decoration: underline;
}

.notice-account-confirmation-link:active,
.notice-account-confirmation-link:focus,
.notice-account-confirmation-link:hover {
	color: var(--text-color);
}
