.questionnaire-form {
    display: flex;
}

.questionnaire-question {
    margin: 1em 0;
}

.questionnaire-navigation {
    display: flex;
    justify-content: space-between;
}

.questionnaire-navigation a {
    margin: 0 1em;
    font-size: 125%;
}