.file-repository {
    display: flex;
}

.file-list {
    flex-grow: 2;
    margin: 0;
    padding: 0;
}

.file-list--item {
    display: flex;
    margin: .5em 0;
}

.file-list--item-control {
    font-size: 200%;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: color .3s ease;
}

    .file-list--item-control:hover {
        color: var(--light-blue);
        cursor: pointer;
    }

.file-list--name {
    align-self: center;
    margin: 0 0 0 .5em;
}

.table {
  border:1px solid var(--blue);
  border-radius: .2em;
  border-collapse: collapse;
}

.table tr th {
  background-color: var(--blue);
  color: var(--white);
  font-weight: normal;
  text-align: center;
}

.table-row-content-center {
  text-align: center;
}

.table tr:nth-of-type(odd) {
  background-color: var(--quartinary-shade);
}

.table tr th,
.table tr td {
  padding:.5em;
}

.table-revision {
  width: 100%;
}

.table-filelist tr td{
  word-break: break-all;
  word-wrap: break-word;
}


.layout-columns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: flex-start;
}

.layout-sidemenu {
  margin: 0 1em;
}

.layout-content {
  flex-grow: 1;
}

@media screen and (max-width: 50em) {
    .file-repository {
        flex-direction: column-reverse;
    }

    .layout-columns {
      flex-direction: column;
    }

    .layout-sidemenu {
      margin: 0 auto;
    }
}
