main {
	flex:1;
	-ms-flex: 1 0 auto;
	width: 100%;
}

section {
	padding:1em 0;
	margin:0 auto;
	box-sizing: border-box;
	width:90%;
}

.full-width {
	width: 100%;
}

.medium-width {
	max-width: 80em;
	margin: 0 auto;
}

.narrow-width {
	max-width: 30em;
	margin: 0 auto;
}

.mobile-full-width {
    width: 100%;
}

@media screen and (min-width: 40em) {
    .mobile-full-width {
        width: 50%;
    }
}


.section-width {
	width:90%;
	margin:0 auto;
}

.column {
	flex-direction: column;
	flex-wrap: wrap;
}

.center-element {
	margin:0 auto;
	text-align: center;
}

.text-markdown {
    font-family: inherit;
	margin:1em;
	text-align: justify;
}

.danger-text {
    text-align: center;
}

.danger-text--header {
    color: var(--orange);
}

.form-input-options {
    display: flex;
    justify-content: flex-end;
}

.form-input-options > .form-input:last-of-type {
    margin-right: 0;
}

.form-input-options > .form-input {
    margin-right: 1em;
}


.two-columns-responsive {
	display: flex;
}

@media screen and (max-width: 50em) {
	.two-columns-responsive {
		flex-direction: column;
	}
}

.previous-questionnaire-result-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.previous-questionnaire-result-list > li {
	margin: .5em;
}
