
$theme-colors: ( 
    "primary": #4777BB 
);

@import "~bootstrap/scss/bootstrap";

@import 'helpers.scss';

@import 'overrides/alerts.scss';
@import 'overrides/forms.scss';
@import 'overrides/links.scss';
@import 'overrides/tables.scss';
@import 'overrides/buttons.scss';
@import 'overrides/typography.scss';
@import 'overrides/progressbars.scss';
@import 'overrides/ubora_select2.scss';
@import 'overrides/card-item.scss';
@import 'overrides/feedback.scss';
@import 'overrides/drag_and_drop_file_uploads.scss';
@import 'overrides/voting.scss';
@import 'overrides/profile_view.scss';

@import 'page_components/header.scss';
@import 'page_components/footer.scss';
@import 'page_components/history.scss';
@import 'page_components/notices.scss';
@import 'page_components/messages.scss';
@import 'page_components/autocomplete.scss';
@import 'page_components/helpful_tips.scss';
@import 'page_components/workpackage_header.scss';
@import 'page_components/landing_jumbotron.scss';
@import 'page_components/workpackage_list.scss';
@import 'page_components/markdown_editor.scss';


:root {
    --blue: #4777BB;
    --light-blue: #44AAE0;
    --green: #95CD7C;
    --orange: #EF7B52;
    --text-color: #3D3D3D;
    --black: #000;
    --white: #FFF;
    --dark: #3a3a3a;
    --dark-grey: #797979;
    --primary-shade: #9E9E9E;
    --secondary-shade: #BDBDBD;
    --tertiary-shade: #E0E0E0;
    --quartinary-shade: #F5F5F5;
}

body {
    color: var(--text-color);
    font: normal 16px/1.5em;
    font-display: swap;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}


