@import 'colors';

@mixin form-field-border {
    border-bottom: 1px solid $secondary-shade;
}

@mixin bg-size-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
$input-border-radius: 0;
$breadcrumb-padding-x: 0;
$nav-tabs-link-active-color: $blue;

@import "~bootstrap/scss/bootstrap";
@import "custom";
