@import url('helpers.css');

@import url('overrides/alerts.css');
@import url('overrides/forms.css');
@import url('overrides/links.css');
@import url('overrides/tables.css');
@import url('overrides/buttons.css');
@import url('overrides/typography.css');
@import url('overrides/progressbars.css');
@import url('overrides/ubora_select2.css');
@import url('overrides/card-item.css');
@import url('overrides/feedback.css');
@import url('overrides/drag_and_drop_file_uploads.css');
@import url('overrides/voting.css');



@import url('page_components/header.css');
@import url('page_components/footer.css');
@import url('page_components/history.css');
@import url('page_components/notices.css');
@import url('page_components/messages.css');
@import url('page_components/autocomplete.css');
@import url('page_components/helpful_tips.css');
@import url('page_components/workpackage_header.css');
@import url('page_components/landing_jumbotron.css');
@import url('page_components/workpackage_list.css');





:root {
	--blue: #4777BB;
	--light-blue: #44AAE0;
	--green: #95CD7C;
	--orange: #EF7B52;
	--text-color: #3D3D3D;
  --black: #000;
	--white: #FFF;
  --primary-shade: #9E9E9E;
  --secondary-shade: #BDBDBD;
  --tertiary-shade: #E0E0E0;
  --quartinary-shade: #F5F5F5;
}

body {
	color: var(--text-color);
	font: normal 16px/1.5em 'Open Sans', Helvetica, Arial, sans-serif;
	font-display: swap;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
}
