@import url('structure.css');
@import url('typography.css');
@import url('user-controls.css');
@import url('media-content.css');
@import url('forms.css');

@import url('footer.css');
@import url('process-steps.css');
@import url('users.css');
@import url('profile.css');
@import url('messages.css');
@import url('repository.css');
@import url('policies.css');
@import url('members.css');
@import url('questionnaire.css');

@import url('markdown.css');

@import url('sections.css');

@import url('project.css');
@import url('workpackage.css');
@import url('process-steps.css');
@import url('feedback.css');
@import url('history.css');


@import url('autocomplete.css');
@import url('notices.css');


@import url('overrides/buttons.css');
@import url('overrides/links.css');

@import url('page_components/header.css');
@import url('page_components/workpackage_header.css');

:root {
	--blue: #4777BB;
	--light-blue: #44AAE0;
	--green: #95CD7C;
	--orange: #EF7B52;
	--text-color: #3D3D3D;
  --black: #000;
	--white: #FFF;
  --primary-shade: #9E9E9E;
  --secondary-shade: #BDBDBD;
  --tertiary-shade: #E0E0E0;
  --quartinary-shade: #F5F5F5;
}

body {
	color: var(--text-color);
	font: normal 16px/1.5em 'Open Sans', Helvetica, Arial, sans-serif;
	font-display: swap;
}


/** {
  box-sizing: border-box;
  border:1px solid black;
}*/

.pseudo-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	position: absolute;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	width: 1px;
}
