@import url('ubora_select2.css');

input,
select,
textarea {
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid var(--primary-color);
    border-left: 0;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    font-size: 150%;
    margin: 0;
    min-height: 2em;
    padding: .2em;
    vertical-align: middle;
    transition: color .3s ease, background-color .3s ease;
}

textarea {
	border:2px solid var(--primary-color);
	font-size: 100%;
	resize: vertical;
	transition: none;
}

textarea:active,
textarea:focus {
	border: 2px solid var(--secondary-color);
}

input:active,
input:focus,
select:active,
select:focus {
	border-bottom: 2px solid var(--secondary-color);
}

input[type="checkbox"],
input[type="radio"] {
	margin:0 .2em 0 0;
	padding:0;
	width: auto;
	height: auto;
}

input[type="file"] {
	font-size: 100%;
}

button {
	padding: 0;
	margin: 0;
}

input[type="text" i]:disabled,
input[type="button" i]:disabled,
input[type="submit" i]:disabled,
input[type="email" i]:disabled,
input[type="password" i]:disabled,
input[type="number" i]:disabled,
input[type="tel" i]:disabled,
input[type="url" i]:disabled,
input[type="file" i]:disabled::-webkit-file-upload-button,
button:disabled,
select:disabled,
option:disabled,
select[disabled] > option,
textarea:disabled {
	filter: grayscale(100%);
	cursor:not-allowed;
}

a {
	background-color: transparent;
    box-sizing: border-box;
	color:var(--primary-color);
	display: inline-block;
	text-decoration: none;
	transition:
		color .3s ease,
		background-color .3s ease;
}

a:active,
a:focus,
a:hover {
	color: var(--secondary-color);
}

a:active .material-icons,
a:focus .material-icons,
a:hover .material-icons
 {
	color:var(--secondary-color);
	transition:
		color .3s ease,
		background-color .3s ease;
}

a[role=button]:hover {
	cursor: pointer;
}

.project_sidemenu_link--disabled,
.project_sidemenu_link--disabled:active,
.project_sidemenu_link--disabled:focus {
    color: var(--primary-shade);
    text-decoration: line-through;
}

.project_sidemenu_link--disabled:hover {
    color: var(--primary-shade);
    cursor: not-allowed;
}

.button {
	background-color: #FFF;
	border:1px solid var(--text-color);
	border-radius:5px;
	box-shadow: 0 3px 6px var(--secondary-shade);
    box-sizing: border-box;
	font-family: inherit;
	font-size: 150%;
	line-height: normal;
    margin:.5em auto;
	min-width: 10em;
	padding:1em .5em;
	text-align: center;
    transition:
		color .3s ease,
		background-color .3s ease;
}

.button:active,
.button:focus,
.button:hover {
	box-shadow: 0 3px 6px var(--secondary-color);
}

.primary-button {
	border-color: var(--primary-color);
	background-color: var(--primary-color);
	color: var(--quartinary-shade);
}

.secondary-button {
	border-color: var(--primary-color);
	color: var(--primary-color);
    transition:
		color .3s ease,
		background-color .3s ease;
}

.primary-button:active,
.primary-button:focus,
.primary-button:hover,
.secondary-button:active,
.secondary-button:focus,
.secondary-button:hover {
	border-color: var(--secondary-color);
	background-color: var(--secondary-color);
	color: var(--quartinary-shade);
}

.small-button {
	font-size:100%;
}
