@model Ubora.Web._Areas.ClinicalNeedsArea.AClinicalNeed.Comments.Models.CommentsViewModel

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="LandingPage" asp-controller="LandingPage">Clinical needs</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<h1 class="d-inline-block">@ViewData["Title"]</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-action="Overview" asp-controller="Overview">
            Description
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-action="Comments" asp-controller="Comments">
            Comments
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="RelatedProjects" asp-controller="RelatedProjects">
            Related projects
        </a>
    </li>
</ul>

@await Html.PartialAsync("~/_Components/Discussions/_Discussion.cshtml", Model.Discussion)