@model Ubora.Web._Features.Users.Profile.FirstTimeUserProfileViewModel

<div class="form-group">
    <label asp-for="CountryCode">Country</label>
    <select class="form-control" asp-for="CountryCode" asp-items="Model.Countries">
        <option></option>
    </select>
</div>
