@model Ubora.Web._Features.Users.Profile.FirstTimeEditProfileModel

<section class="narrow-width">
    <h1>Create a profile</h1>
    
    @Html.Partial("ChangeProfilePicturePartial", @Model.ProfilePictureViewModel)
    @Html.Partial("FirstTimeEditProfilePartial", @Model.FirstTimeUserProfileViewModel)

</section>
