@using Ubora.Web.Services
﻿@using Ubora.Web._Features.Users.Profile
@model ProfileViewModel

@{
    ViewData["Title"] = "View profile";
}

<section class="narrow-width">
    <h2>@ViewData["Title"]</h2>

    <div class="form-input">
        <div class="center-element">
            <img class="avatar" src="@Model.ProfilePictureLink" width="250" height="250"/>
            <h2 class="fullname">@Model.FullName</h2>
            <a class="email" href="mailto:@Model.Email?Subject=Message%20from%20UBORA">@Model.Email</a>
        </div>
    </div>

    <h3>Academia</h3>
    <div class="form-input">
        <label>University</label>
        <input asp-for="University" disabled>
    </div>

    <div class="form-input">
        <label>Degree</label>
        <input asp-for="Degree" disabled>
    </div>

    <div class="form-input">
        <label>Field</label>
        <input asp-for="Field" disabled>
    </div>

    <div class="form-input">
        <label>Role</label>
        <input asp-for="Role" disabled>
    </div>

    <h3>Personal</h3>
    <div class="form-input">
        <label>Bio</label>
        <textarea asp-for="Biography" rows="5" disabled></textarea>
    </div>

    <div class="form-input">
        <label>Skills</label>
        <input asp-for="Skills" disabled>
    </div>
</section>
