@model Ubora.Web.Areas.Projects.Models.ProjectList.ProjectListViewModel

@{
    ViewData["Title"] = "All";
}

<h2>All</h2>

<ul>
    @foreach (var project in Model.Projects)
    {
        <li>
            <a asp-controller="Dashboard"
               asp-action="Index"
               asp-route-id="@project.Id">
                @project.Name
            </a>
        </li>
    }
</ul>