@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Dashboard.ProjectDashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
    ViewData["MenuOption"] = ProjectMenuOption.Overview;
}

<section class="project_view full-width">

    <section class="medium-width">
        <div class="project_photo">
            <!-- TODO: Show project photo -->
            <img src="//placehold.it/1200x600" alt="Example image">
        </div>

        <div class="project_description">

            <h2>Project description <a style="font-size:small" asp-controller="Dashboard" asp-action="EditProjectDescription">Edit</a></h2>
            <p>@Model.Description</p>
        </div>

        <div class="project_device--classification">
            <h3>Device classification</h3>
            @if (!string.IsNullOrWhiteSpace(Model.DeviceClassification))
            {
                <b>@Model.DeviceClassification</b>
            }
            <a class="button primary-button full-width" asp-controller="DeviceClassification" asp-action="GetMainQuestion">Go to device classification</a>
            <!-- TODO: If device classification unset -->
            @*<p>There currently is no device classification set.</p>*@
            <!-- TODO: If device classification is set
            <p>Class <i>[device classification here]</i> medical device.</p> -->
            <!-- TODO: If project owner or someone with similar rights, show this button
            <button class="button button-secondary" disabled>Classify your device</button> -->
        </div>

        <div class="project_device--regulations">
            <h3>ISO standards and regulation checklist</h3>
            <div class="center-element">
                <button class="button primary-button" type="submit" disabled>Submit for review</button>
            </div>
        </div>
    </section>
</section>
