@using Ubora.Web._Features.Projects._Shared
@using Ubora.Web._Features.Projects.Dashboard

@model EditProjectImageViewModel

@{
    ViewData["Title"] = "Dashboard";
    ViewData["MenuOption"] = ProjectMenuOption.Overview;
}


<h1>Project image</h1>
<form method="post" enctype="multipart/form-data" asp-controller="Dashboard" asp-action="EditProjectImage">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group ">
        <label asp-for="Image" class="custom-file">
            <input class="form-control" type="file" asp-for="Image">
        </label>
        <small class="text-muted">All pictures will be set to 4:3 ratio. Image has to be less than 4 MB</small>
        <span asp-validation-for="Image"></span>
    </div>
    <div class="form-group text-center">
        <a class="btn btn-outline-primary" asp-controller="Dashboard" asp-action="Dashboard">Discard</a>
        <span class="mx-1"></span>
        <button class="btn btn-primary" type="submit">Upload image</button>
    </div>
</form>
