@using Ubora.Web._Features.Projects._Shared
@using Ubora.Web._Features.Projects.Dashboard

@model EditProjectDescriptionViewModel

@{
    ViewData["Title"] = "Dashboard";
    ViewData["MenuOption"] = ProjectMenuOption.Overview;
}

<div class="container-fluid my-4">
  <div class="row">
    <div class="col-sm-12 col-md-8">

        <form action="" method="post">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <h2>Project description</h2>

          <label>
              <textarea class="content_editable" asp-for="ProjectDescription" rows="8"></textarea>
          </label>

          <div class="">
              <a class="btn btn-secondary-ghost btn-lg" asp-controller="Dashboard" asp-action="Dashboard">Discard</a>
              <span class="mx-1"></span>
              <button class="btn btn-primary btn-lg" type="submit">Save changes</button>
          </div>
        </form>

    </div>
  </div>
</div>

@section Scripts {
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css"
          asp-fallback-href="~/dist/libs/simplemde.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js"
            asp-fallback-src="~/dist/libs/simplemde.min.js"
            asp-fallback-test="window.SimpleMDE">
    </script>
}
