@using Ubora.Web._Features.Projects.Dashboard
@model EditProjectDescriptionViewModel

<section class="project_view full-width">
    <section class="medium-width">
        <form action="" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label>
                <textarea class="content_editable" asp-for="ProjectDescription" rows="8"></textarea>
            </label>

            <div class="center-element">
                <a class="button secondary-button small-button" asp-controller="Dashboard" asp-action="Dashboard">Discard</a>
                <button class="button primary-button small-button" type="submit">Save changes</button>
            </div>

        </form>
    </section>
</section>

@section Scripts {
    <script>
        const simpleMde = new SimpleMDE({ element: document.querySelector(".content_editable") });
    </script>
}
