@using Ubora.Web._Features.Projects._Shared
@using Ubora.Web._Features.Projects.Dashboard

@model EditProjectImageViewModel

@{
    ViewData["Title"] = "Dashboard";
    ViewData["MenuOption"] = ProjectMenuOption.Overview;
}

<div class="container my-4 text-center">
    <form method="post" enctype="multipart/form-data" asp-controller="Dashboard" asp-action="EditProjectImage">
        <h2>Project image</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group ">
            <label class="text-muted">All pictures will be set to 4:3 ratio. Image has to be less than 4 MB</label>
            <span asp-validation-for="Image"></span>
            <label asp-for="Image" class="custom-file">
                <input class="form-control col-md-6 mx-auto" type="file" asp-for="Image">
            </label>
        </div>
        <div class="form-group">
            <a class="btn btn-outline-primary" asp-controller="Dashboard" asp-action="Dashboard">Discard</a>
            <span class="mx-1"></span>
            <button class="btn btn-primary" type="submit">Upload image</button>
        </div>
    </form>
</div>