@using Ubora.Web._Features.Projects._Shared
@using Ubora.Web._Features.Projects.Dashboard

@model EditProjectTitleAndDescriptionViewModel

@{
    ViewData["Title"] = "Dashboard";
    ViewData["MenuOption"] = ProjectMenuOption.Overview;
}

<div class="container-fluid my-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">

            <form action="" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h2>Project title</h2>
                <div class="form-group">
                    <input class="form-control" asp-for="Title" placeholder="Rename your project">
                    <span asp-validation-for="Title"></span>
                </div>
                <h2>Project description</h2>
                <div class="my-2">
                    <a href="#" class="js-helpful-tips" role="button">
                        <i class="align-middle material-icons">help</i>
                        <span>Helpful tips</span>
                    </a>
                </div>
                <p class="helpful-tips-content js-helpful-tips-content">Describe in few words the device technology/intended use/and intended clinical benefits of the device. Describe who are the intended users. Describe if there are some limitation about the use of the device (for example need of continuous power supply) and if there are contraindications.</p>
                <div class="form-group">
                    <textarea class="content_editable" asp-for="ProjectDescription" rows="8"></textarea>
                </div>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-secondary-ghost" asp-controller="Dashboard" asp-action="Dashboard">Discard</a>
                    <span class="mx-1"></span>
                    <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css"
          asp-fallback-href="~/dist/libs/simplemde.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js"
            asp-fallback-src="~/dist/libs/simplemde.min.js"
            asp-fallback-test="window.SimpleMDE">
    </script>
    <script>
        const helpfulTipToggleElement = document.querySelector('.js-helpful-tips');
        const helpfulTipContentElement = document.querySelector('.js-helpful-tips-content');

        helpfulTipToggleElement.addEventListener('click', event => {
            helpfulTipContentElement.classList.toggle('helpful-tips-content-visible');
        });
    </script>
}
