@using Ubora.Web._Features.Projects.Dashboard
@model EditProjectDescriptionViewModel

<section class="project_view full-width">
    <section class="medium-width">
        <form action="" method="post">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label>
                <textarea id="simple-mde" asp-for="ProjectDescription" rows="8"></textarea>
            </label>
            <br>

            <button class="button primary-button" type="submit">Save changes</button>

        </form>
    </section>
</section>