@using Ubora.Web._Features.Projects._Shared
@using Ubora.Web._Features.Projects.Dashboard

@model EditProjectImageViewModel

@{
    ViewData["Title"] = "Dashboard";
    ViewData["MenuOption"] = ProjectMenuOption.Overview;
}

<section class="project_view full-width">
    <section class="medium-width">
        <form method="post" enctype="multipart/form-data" asp-controller="Dashboard" asp-action="EditProjectImage">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h2>Project image</h2>

            <div class="form-input">
                <label asp-for="Image">Upload new image</label>
                <label class="recommendation">Recommended image size is 1920x1285</label>
                <input asp-for="Image">
                <span asp-validation-for="Image"></span>
            </div>

            <div class="form-input">
                <div class="center-element">
                    <button class="button secondary-button small-button" type="submit">Upload image</button>
                </div>
            </div>

        </form>
    </section>
</section>