@using Ubora.Web._Features.Projects.Dashboard

@model RemoveProjectImageViewModel

@{
    ViewData["Title"] = "Remove project image";
}

<section class="medium-width center-element">
    <h2>Do you want to remove the project "@Model.Title" image?</h2>

    <form asp-controller="Dashboard" asp-action="RemoveProjectImage" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="input-form">
            <a class="button secondary-button small-button" asp-controller="Home" asp-action="Index">No, cancel</a>
            <button class="button secondary-button small-button" type="submit">Yes, remove</button>
        </div>
    </form>
</section>