@using Ubora.Web._Features.Projects.Workpackages
@using Ubora.Web._Features.Projects._Shared
@using Ubora.Web._Features._Shared
@using Ubora.Web._Features.Projects.Workpackages.Steps.CommercialDocumentations

@model IntellectualPropertyViewModel

<div class="col">
    <form asp-action="@nameof(CommercialDocumentationsController.EditIntellectualProperty)" method="post">
        <div class="row">
            <div class="col">
                <h2>Intellectual property</h2>
                <p>Selecting licence is mandatory.</p>

                <div class="creative-commons-license">
                    <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" asp-for="Attribution" />
                        <label class="custom-control-label" asp-for="Attribution">
                            <span class="d-flex align-items-center mb-2">
                                <img src="/images/icons/by.svg" class="w-2-rem mr-2" alt="Attribution icon">
                                Attribution (BY)
                            </span>
                            <small class="d-block">
                                Licensees may copy, distribute, display and perform the work and make
                                derivative works and remixes based on it only if they give the author or licensor
                                the credits (attribution) in the manner specified by these.
                            </small>
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" asp-for="ShareAlike" />
                        <label class="custom-control-label" asp-for="ShareAlike">
                            <span class="d-flex align-items-center mb-2">
                                <img src="/images/icons/sa.svg" class="w-2-rem mr-2" alt="Share-alike icon">
                                Share-alike (SA)
                            </span>
                            <small class="d-block">
                                Licensees may distribute derivative works only under a license identical ("not
                                more restrictive") to the license that governs the original work. Without sharealike,
                                derivative works might be sublicensed with compatible but more restrictive
                                license clauses, e.g. CC BY to CC BY-NC.)
                            </small>
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" asp-for="NonCommercial" />
                        <label class="custom-control-label" asp-for="NonCommercial">
                            <span class="d-flex align-items-center mb-2">
                                <img src="/images/icons/nc.svg" class="w-2-rem mr-2" alt="Non-commercial icon">
                                Non-commercial (NC)
                            </span>
                            <small class="d-block">
                                Licensees may copy, distribute, display, and perform the work and make derivative works
                                and remixes based on it only for non-commercial purposes.
                            </small>
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" asp-for="NoDerivativeWorks" />
                        <label class="custom-control-label" asp-for="NoDerivativeWorks">
                            <span class="d-flex align-items-center mb-2">
                                <img src="/images/icons/nd.svg" class="w-2-rem mr-2" alt="No Derivative Works icon">
                                No Derivative Works (ND)
                            </span>
                            <small class="d-block">
                                Licensees may copy, distribute, display and perform only verbatim copies of the
                                work, not derivative works and remixes based on it.
                            </small>
                        </label>
                    </div>
                </div>

                <div class="ubora-license custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" asp-for="UboraLicense" />
                    <label class="custom-control-label" asp-for="UboraLicense">
                        <span class="d-flex align-items-center mb-2">
                            UBORA licence
                        </span>
                        <small class="d-block">
                            No responsibility
                            <span class="dot"></span>
                            No liability
                            <span class="dot"></span>
                            Attribution
                            <span class="dot"></span>
                            Ask to use the company logo on our e-platform and on the project page
                            <span class="dot"></span>
                            Acknowledgment to UBORA in the product page description
                            <span class="dot"></span>
                            No endorsement
                            <span class="dot"></span>
                            Derivative work with attribution
                            <span class="dot"></span>
                            Free and perpetual use
                            <span class="dot"></span>
                            No exclusivity
                        </small>
                    </label>
                </div>

            </div>
        </div>
        <hr class="mb-4">
        <div class="row">
            <div class="col">
                <a class="btn btn-outline-primary" asp-action="@nameof(CommercialDocumentationsController.Index)">Discard</a>
                <span class="mx-1"></span>
                <button class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
<script>
    $('.ubora-license').find('input').on('change', function () {
        $('.creative-commons-license').find('input').each(function (index, item) {
            $(item).prop('checked', false)
        });
    });

    $('.creative-commons-license').find('input').on('change', function () {
        $('.ubora-license').find('input').each(function (index, item) {
            $(item).prop('checked', false)
        });
    });
</script>
}