<div class="card w-100 h-100 py-5">
    <a class="card-link h-100 d-flex justify-content-center align-items-center" asp-controller="ProjectCreation" asp-action="Create">
        <div class="card-body">
            <div class="text-center">
                <i class="material-icons icon-size-lg">add</i>
                <p class="display-4 px-2">Create new project</p>
            </div>
        </div>
    </a>
</div>