@model Ubora.Web._Features.ProjectList.ProjectListViewModel.ProjectListItem

<div class="card box-shadow">
    <a href="@Url.Action("Dashboard", "Dashboard", new { projectId = Model.Id })" class="card-link">
        <img class="card-img-top" src="@(string.IsNullOrEmpty(Model.ImagePath)?"/images/project-default-image.png":Model.ImagePath)" alt="Illustrative project image" style="height: 180px;">
        @if (Model.IsInDraft)
            {
                <p class="project-status-draft">Draft</p>
            }
        <div class="card-body">
           
            <h5 class="card-title">@Model.Title</h5>
        </div>
    </a>
</div>
