@model Ubora.Web._Features.ProjectList.ProjectListViewModel.ProjectListItem

<div class="card w-100 h-100 box-shadow">
    <a href="@Url.Action("Dashboard", "Dashboard", new { projectId = Model.Id })" class="card-link">
        <img class="card-img-top img-fluid w-100" src="@(string.IsNullOrEmpty(Model.ImagePath)?"/images/project-default-image.png":Model.ImagePath)">
        @if (Model.IsInDraft)
        {
            <p class="project-status-draft">Draft</p>
        }
        <div class="card-body">
            <p class="display-5 card-title mt-3">@Model.Title</p>
        </div>
    </a>
</div>