@model Ubora.Web._Features.ProjectList.SearchViewModel
@using Ubora.Web._Features.ProjectList
<div class="tab-pane fade show active" id="allProjects" role="tabpanel" aria-labelledby="all-projects-tab">
    <div class="row py-2  d-flex align-items-center">
        <div class="col-xl-1 col-md-2">
            Filter by:
        </div>
        <div class="col">
            <div id="filterByArea" class="dropdown d-inline-block d-xs-block">
                <button class="btn btn-icon dropdown-toggle px-0" type="button" id="areaFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Area
                </button>
                <div class="dropdown-menu" aria-labelledby="areaFilter">
                    @foreach (var areaOfUsageTag in Model.AreaOfUsageTags)
                    {
                        <a class="dropdown-item" href="/ProjectList/Search?ByStatus=@Model.ByStatus&Tab=AllProjects&Title=@Model.Title&ByArea=@areaOfUsageTag&SortBy=@Model.SortBy">@areaOfUsageTag</a>
                    }
                </div>
            </div>
            <div id="filterByStatus" class="dropdown d-inline-block d-xs-block">
                <button class="btn btn-icon dropdown-toggle px-0 pl-sm-3" type="button" id="statusFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Status
                </button>
                <div class="dropdown-menu" aria-labelledby="statusFilter">
                    <a class="dropdown-item">All</a>
                    <a class="dropdown-item" href="/ProjectList/Search?ByStatus=NotDraft&Tab=AllProjects&Title=@Model.Title&ByArea=@Model.ByArea&SortBy=@Model.SortBy">Approved</a>
                    <a class="dropdown-item" href="/ProjectList/Search?ByStatus=Draft&Tab=AllProjects&Title=@Model.Title&ByArea=@Model.ByArea&SortBy=@Model.SortBy">Draft</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mr-0 ml-auto">
            <form asp-controller="ProjectList" asp-action="Search" method="post">
                <input asp-for="Tab" type="hidden" />
                <input asp-for="ByArea" type="hidden" />
                <input asp-for="ByStatus" type="hidden" />
                <input asp-for="SortBy" type="hidden" />
                <div class="input-group search">
                    <input class="form-control" asp-for="Title" placeholder="Search projects..." aria-describedby="btnGroupAddon">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon">
                            <button class="btn btn-icon" type="submit"><i class="material-icons">search</i></button>
                        </div>
                    </div>
                    <span asp-validation-for="Title"></span>
                </div>
            </form>
        </div>
    </div>
    <hr class="my-0" />
    <div class="row py-2">
        <div class="col-xl-1 col-md-2 d-flex align-items-center">
            Sort by:
        </div>
        <div id="sortByParamethers" class="col dropdown">
            @if (Model.SortBy == ProjectListController.SortBy.Newest)
            {
                <button class="btn btn-icon dropdown-toggle px-0" type="button" data-toggle="dropdown">
                    Newest
                </button>
            }
            else
            {
                <button class="btn btn-icon dropdown-toggle px-0" type="button" data-toggle="dropdown">
                    Oldest
                </button>
            }
            <div class="dropdown-menu" aria-labelledby="sortBy">
                <a class="dropdown-item" href="/ProjectList/Search?ByStatus=@Model.ByStatus&Tab=AllProjects&Title=@Model.Title&ByArea=@Model.ByArea&SortBy=Newest">Newest</a>
                <a class="dropdown-item" href="/ProjectList/Search?ByStatus=@Model.ByStatus&Tab=AllProjects&Title=@Model.Title&ByArea=@Model.ByArea&SortBy=Oldest">Oldest</a>
            </div>
        </div>
    </div>
    <div class="my-4">
        @{ Html.RenderPartial("~/_Features/ProjectList/ProjectListPartial.cshtml", Model.ProjectListViewModel); }
    </div>
</div>