@using Ubora.Web._Features.ProjectList

@{
    ViewData["Title"] = "View projects";
}

<div class="container my-4 my-projects">
 
      @await Component.InvokeAsync(typeof(MyProjectListViewComponent))
 
</div>
