@using Ubora.Web._Features.ProjectList

@{
    ViewData["Title"] = "View projects";
}

<div class="container my-5 my-projects">
      @await Component.InvokeAsync(typeof(MyProjectListViewComponent))
</div>
