@using Ubora.Web._Features.ProjectList

@{
    ViewData["Title"] = "View projects";
}

<div class="container-fluid my-4">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      @await Component.InvokeAsync(typeof(MyProjectListViewComponent))
    </div>
  </div>
</div>
