@model Ubora.Web._Features.ProjectList.ProjectListViewModel

@if (Model.Projects.Any())
{
    <h2 class="display-4">@Model.Header</h2>
    <div class="row">
        @foreach (var project in Model.Projects)
        {
            <div class="col-sm-12 col-md-4 col-lg-3 my-2">
                @await Html.PartialAsync("_ProjectCardPartial.cshtml", model: project)
            </div>
        }
    </div>
}
else
{
    if (Model.ShowProjectsNotFoundMessage)
    {
        <p>Projects not found!</p>
    }
}