@using Ubora.Web._Features.ProjectList
@model Ubora.Web._Features.ProjectList.ProjectListViewModel

@if (Model.Projects.Any())
{
    <h2 class="full-width">@Model.Header</h2>

    foreach (var project in Model.Projects)
    {
        <a href="@Url.Action("Dashboard", "Dashboard", new { projectId = project.Id })" class="card project_card">
			<img class="project_card_banner" src="//placehold.it/400x150">
			<div class="project_card_container">
				<h4>@project.Title</h4>
			</div>
		</a>
    }
}
