@model Ubora.Web._Features.ProjectList.ProjectListViewModel

@if (Model.Projects.Any())
{
  <div class="row">
    <div class="col">
      <h2 class="display-4">@Model.Header</h2>
      <div class="row">
        @foreach (var project in Model.Projects)
        {
          <div class="col-sm-12 col-md-4 col-lg-3 my-2">
            <div class="card w-100 h-100">
              <a href="@Url.Action("Dashboard", "Dashboard", new { projectId = project.Id })" class="card-link">
                <img class="card-img-top img-fluid w-100" src="@(string.IsNullOrEmpty(project.ImagePath)?"/images/project-default-image.png":project.ImagePath)">
                @if (project.IsInDraft)
                {
                  <p class="project-status-draft">Draft</p>
                }
                <div class="card-body">
                  <h4 class="card-title mt-3">@project.Title</h4>
                </div>
              </a>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
}
else if (Model.ShowDefaultMessage)
{
  <div class="row">
    <div class="col d-flex flex-column">
      <div class="text-center">
        <h2 class="display-4">No current projects</h2>
        @if(User.IsEmailConfirmed()) 
        {
          <p>You can help by <a asp-controller="ProjectCreation" asp-action="Create">creating a new project</a>!</p>
        }
        else
        {
          <p>Your email must be confirmed to create a project!</p>
        }
      </div>
    </div>
  </div>
}
