@model Ubora.Web._Features.ProjectList.ProjectListViewModel

@if (Model.Projects.Any())
{
  <div class="row flex-column">
    <h2 class="display-3">@Model.Header</h2>
    <div class="card-deck">
      @foreach (var project in Model.Projects)
      {
        <div class="card" style="max-width:25rem">
          <img class="card-img-top" src="@(string.IsNullOrEmpty(project.ImagePath)?"/images/projectlogodefault_thumbnail.png":project.ImagePath)">
          @if (project.IsInDraft)
          {
            <span class="project_status">Draft</span>
          }
          <div class="card-body">
            <h4 class="card-title">@project.Title</h4>
            <div class="card-footer">
              <div class="text-center">
                <a href="@Url.Action("Dashboard", "Dashboard", new { projectId = project.Id })" class="card-link">View project</a>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
}
else if (Model.ShowDefaultMessage)
{
  <div class="row flex-column">
    <div class="col">
      <div class="text-center">
        <h2 class="display-2">You have no projects.</h2>
        <p>Either <a asp-controller="ProjectCreation" asp-action="Create">create a new one</a> or find projects to <a asp-controller="Home" asp-action="Index" asp-area="">join</a>.</p>
      </div>
    </div>
  </div>
}
