@model LandingPageViewModel

@{
    ViewData["Title"] = "Clinical needs";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">UBORA</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<div class="row mb-3">
    <div class="col-lg-8 order-lg-1 order-2">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col d-flex justify-content-end order-lg-2 order-1">
        <a asp-action="@nameof(IndicateClinicalNeedController.StepOne)" asp-controller="@nameof(IndicateClinicalNeedController).RemoveSuffix()" class="btn btn-outline-primary btn-md-block my-lg-0 my-3 align-self-start">
            <i class="material-icons">add</i>
            <span>
                Indicate a need
            </span>
        </a>
    </div>
    <div class="col-lg-12 order-3">
        <p>
            This section will help to identify a bioengineering solution to clinical needs through discussion between patients, healthcare providers and engineers. Once identified, the solution is the starting point for a new project, turning the idea into a medical device.
        </p>
    </div>
</div>

@foreach (var clinicalNeed in Model.ClinicalNeeds)
{
    @await Html.PartialAsync("_ClinicalNeedPartial.cshtml", clinicalNeed)
}
