@model LandingPageViewModel

@{
    ViewData["Title"] = "Clinical needs";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<h1 class="d-inline-block">@ViewData["Title"]</h1>

@foreach (var clinicalNeed in Model.ClinicalNeeds)
{
    @await Html.PartialAsync("_ClinicalNeedPartial.cshtml", clinicalNeed)
}

@section Right {
    <a asp-action="@nameof(IndicateClinicalNeedController.StepOne)" asp-controller="@nameof(IndicateClinicalNeedController).RemoveSuffix()" class="btn btn-outline-primary btn-action"><i class="material-icons">add</i>Indicate a need</a>
}