@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Workpackages.WorkpackageOneReview.WorkpackageReviewDecisionPostModel

@{
    ViewData["Title"] = "Members";
    ViewData["MenuOption"] = ProjectMenuOption.Workpackages;
}

<form method="post">
    <textarea asp-for="ConcludingComment"></textarea>
    <button class="button primary-button" type="submit" asp-action="Accept">Accept</button>
    <button class="button secondary-button" type="submit" asp-action="Reject">Reject</button>
</form>
