@using Ubora.Web._Features.Manage
@model Ubora.Web._Features.Manage.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<section class="narrow-width">
    <h1>@ViewData["Title"]</h1>

    <form asp-controller="Manage" asp-action="ChangePassword" method="post">
        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-input">
            <label asp-for="OldPassword">
                Old password
            </label>
            <input asp-for="OldPassword" placeholder="Old password" />
            <span asp-validation-for="OldPassword"></span>
        </div>

        <div class="form-input">

            <label asp-for="NewPassword">
                New password
            </label>
            <input asp-for="NewPassword" placeholder="New password" />
            <span asp-validation-for="NewPassword"></span>
        </div>

        <div class="form-input">
            <label asp-for="ConfirmPassword">
                Confirm new password
            </label>
            <input asp-for="ConfirmPassword" placeholder="Confirm new password" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>


        <button type="submit" class="button primary-button">Change password</button>
    </form>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}