@using Ubora.Domain.Infrastructure.Specifications
@using Ubora.Domain.Resources
@using Ubora.Web._Features.Resources.Models
@inject Ubora.Domain.Infrastructure.Queries.IQueryProcessor QueryProcessor

@*<form style="visibility:hidden;">
    <div class="form-group">
        <input placeholder="Search..." class="form-control" type="text" />
    </div>
</form>*@

@{
    var resources = QueryProcessor.Find(new MatchAll<ResourcePage>(), new ResourceIndexViewModel.Mapper());
}

<nav class="nav flex-column">
    @foreach (var resource in resources)
    {
        <a class="nav-link px-1" asp-action="Read" asp-controller="Resources" asp-route-slugOrId="@resource.Slug">@resource.Title</a>
    }
</nav>