@model Ubora.Web._Features.Resources.AddResourcePostModel

@{
    ViewData["Title"] = "Add resource";
}

<h1>@ViewData["Title"]</h1>
<p class="bd-lead">Here you can bla-bla-bla...</p>
<form asp-action="Add" asp-controller="Resources">
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input class="form-control" type="text" asp-for="Title" />
        <small>URL will be:<div id="test123"></div></small>
    </div>
    <div class="form-group">
        <label asp-for="Title">Content</label>
        <input asp-for="Body" type="hidden" />
        <div id="editor-container" style="display: none;"></div>
    </div>
    <button type="submit" class="btn btn-primary float-right">Add</button>
</form>

@section Scripts {
    <script>
        $(function() {
            var quill = new Quill('#editor-container',
            {
                theme: 'snow'
            });

            $('#editor-container').show();

            $("#@(nameof(Model.Title))").change(function() {
                var element = $("input[id='Title']");
                $("#test123").text(UBORA.slugify(element.val()));
            });
            
            quill.on('editor-change', function() {
                $('#@(nameof(Model.Body))').val(JSON.stringify(quill.getContents()));
            });
        });
    </script>
}