@model Ubora.Web._Features.Resources.AddResourcePostModel

@{
    ViewData["Title"] = "Add resource";
}

<h1>@ViewData["Title"]</h1>
<p class="bd-lead">Here you can bla-bla-bla...</p>
<form asp-action="Add" asp-controller="Resources">
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input class="form-control" type="text" asp-for="Title" />
    </div>
    <div class="form-group">
        <label asp-for="Body">Body</label>
        <textarea class="form-control" rows="3" asp-for="Body"></textarea>
    </div>
    <button type="submit" class="btn btn-primary float-right">Add</button>
</form>