@using Ubora.Web._Features.Resources
<div class="row">
    <div class="col-md-3" style="background-color: red">
        <a asp-action="@nameof(ResourcesController.Add)">Add</a>
        asdf
    </div>
    <div class="col-md-6" style="background-color: blue">
        asdf
    </div>
    <div class="col-md-3" style="background-color: red">
        asdf
    </div>
</div>