@using Ubora.Web._Features.Resources
@model IEnumerable<ResourceIndexViewModel>

@section Right {
<div class="mb-3">
    <span class="color-grey mb-1 d-inline-block">Views</span>
    <br>
    <a href="#">Resources</a><br>
    <a href="#">Categories</a><br>
    <a asp-action="@nameof(ResourcesController.Index)" asp-controller="ResourceRepository">Files</a><br>
</div>
<div class="mb-3">
    <span class="color-grey mb-1 d-inline-block">Actions</span>
    <br>
    <div class="mr-xl-5">
        <a href="#" class="btn btn-outline-primary btn-action"><i class="material-icons">add</i>Add category</a>
        <a href="#" class="btn btn-outline-primary btn-action"><i class="material-icons">add</i>Add file</a>
        <a asp-action="@nameof(ResourcesController.Add)" class="btn btn-outline-primary d-flex align-items-center justify-content-center my-2 w-100"><i class="material-icons">add</i>Add resource</a>
    </div>
</div>
}