@using Ubora.Web._Features.Resources
@model IEnumerable<ResourceIndexViewModel>

@section Right {
    VIEWS:
    <br>
    <a href="#">Resources</a><br>
    <a href="#">Categories</a><br>
    <a asp-action="@nameof(ResourcesController.Index)" asp-controller="ResourceRepository">Files</a><br>
    
    ACTIONS:
    <br>
    <a asp-action="@nameof(ResourcesController.Add)">Add resource</a><br>
    <a href="#">Add category</a><br>
    <a href="#">Add file</a>
}