<style>
.project-page div h1,
.project-page div h3,
.project-page div h3 {
    color: var(--text-color);
}

.project-image {
    background-color: var(--primary-shade);
    width:100%;
    max-height: 200px;
}

.container {
    display: flex;

}

.side-navigation {
    display: flex;
    flex-direction: column;
    margin:1em 3em 0 0;
    align-self: flex-start;
    height: auto;
}

.side-navigation-link {
    font-size: 150%;
    padding:1em;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    position: relative;
}

.side-navigation-link:before {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:2px;
    height: 100%;
    display: inline-block;
    transition: background-color .3s ease;
    background-color: transparent;
}

.side-navigation-link-active:before {
    background-color: var(--primary-color);
}

.side-navigation-link:hover:before,
.side-navigation-link:focus:before,
.side-navigation-link-active:hover:before,
.side-navigation-link-active:focus:before {
    background-color: var(--secondary-color);
}

.container > article {
    flex-grow: 2;
    padding:1.5em 0 0 0;
}

</style>


<section class="medium-width project-page">

    <img class="project-image" src="//placeimg.com/10000/1000/nature/grayscale" alt="">

    <h1 class="project-title">Hyperneedle: a nanotechnological approach</h1>

    @await Html.PartialAsync("_ProcessSteps")

    <div class="container">
        <nav class="side-navigation">
            <a class="side-navigation-link side-navigation-link-active" href="#">Overview</a>

            <!-- <div class="">
                <span>Work&nbsp;packages</span><br>
                <a class="" href="#">Design planning</a>
                <a class="" href="#">Medical need & product specification</a>
                <a class="" href="#">Conceptual design</a>
            </div> -->

            <a class="side-navigation-link" href="#">Timeline</a>

            <a class="side-navigation-link" href="#">Repository</a>

            <a class="side-navigation-link" href="#">Members</a>

            <a class="side-navigation-link" href="#">Activity log</a>
        </nav>

        <article>
            <h1>Project overview</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolor laboriosam mollitia at numquam distinctio nihil eos tempora quam ex, perferendis, atque id harum repudiandae sed quidem cupiditate natus reprehenderit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae possimus accusamus distinctio nobis nihil veritatis consequatur laborum pariatur impedit tempore hic dolorem porro eligendi accusantium, soluta fugiat tenetur placeat eos.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus et ducimus architecto impedit porro vel eos dignissimos ea delectus ipsa excepturi ex quia culpa a, similique, enim amet consectetur, libero.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolor laboriosam mollitia at numquam distinctio nihil eos tempora quam ex, perferendis, atque id harum repudiandae sed quidem cupiditate natus reprehenderit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae possimus accusamus distinctio nobis nihil veritatis consequatur laborum pariatur impedit tempore hic dolorem porro eligendi accusantium, soluta fugiat tenetur placeat eos.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus et ducimus architecto impedit porro vel eos dignissimos ea delectus ipsa excepturi ex quia culpa a, similique, enim amet consectetur, libero.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolor laboriosam mollitia at numquam distinctio nihil eos tempora quam ex, perferendis, atque id harum repudiandae sed quidem cupiditate natus reprehenderit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae possimus accusamus distinctio nobis nihil veritatis consequatur laborum pariatur impedit tempore hic dolorem porro eligendi accusantium, soluta fugiat tenetur placeat eos.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus et ducimus architecto impedit porro vel eos dignissimos ea delectus ipsa excepturi ex quia culpa a, similique, enim amet consectetur, libero.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolor laboriosam mollitia at numquam distinctio nihil eos tempora quam ex, perferendis, atque id harum repudiandae sed quidem cupiditate natus reprehenderit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae possimus accusamus distinctio nobis nihil veritatis consequatur laborum pariatur impedit tempore hic dolorem porro eligendi accusantium, soluta fugiat tenetur placeat eos.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus et ducimus architecto impedit porro vel eos dignissimos ea delectus ipsa excepturi ex quia culpa a, similique, enim amet consectetur, libero.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolor laboriosam mollitia at numquam distinctio nihil eos tempora quam ex, perferendis, atque id harum repudiandae sed quidem cupiditate natus reprehenderit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae possimus accusamus distinctio nobis nihil veritatis consequatur laborum pariatur impedit tempore hic dolorem porro eligendi accusantium, soluta fugiat tenetur placeat eos.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus et ducimus architecto impedit porro vel eos dignissimos ea delectus ipsa excepturi ex quia culpa a, similique, enim amet consectetur, libero.</p>
            <h1>Project overview</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolor laboriosam mollitia at numquam distinctio nihil eos tempora quam ex, perferendis, atque id harum repudiandae sed quidem cupiditate natus reprehenderit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae possimus accusamus distinctio nobis nihil veritatis consequatur laborum pariatur impedit tempore hic dolorem porro eligendi accusantium, soluta fugiat tenetur placeat eos.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus et ducimus architecto impedit porro vel eos dignissimos ea delectus ipsa excepturi ex quia culpa a, similique, enim amet consectetur, libero.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolor laboriosam mollitia at numquam distinctio nihil eos tempora quam ex, perferendis, atque id harum repudiandae sed quidem cupiditate natus reprehenderit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae possimus accusamus distinctio nobis nihil veritatis consequatur laborum pariatur impedit tempore hic dolorem porro eligendi accusantium, soluta fugiat tenetur placeat eos.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus et ducimus architecto impedit porro vel eos dignissimos ea delectus ipsa excepturi ex quia culpa a, similique, enim amet consectetur, libero.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolor laboriosam mollitia at numquam distinctio nihil eos tempora quam ex, perferendis, atque id harum repudiandae sed quidem cupiditate natus reprehenderit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae possimus accusamus distinctio nobis nihil veritatis consequatur laborum pariatur impedit tempore hic dolorem porro eligendi accusantium, soluta fugiat tenetur placeat eos.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus et ducimus architecto impedit porro vel eos dignissimos ea delectus ipsa excepturi ex quia culpa a, similique, enim amet consectetur, libero.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolor laboriosam mollitia at numquam distinctio nihil eos tempora quam ex, perferendis, atque id harum repudiandae sed quidem cupiditate natus reprehenderit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae possimus accusamus distinctio nobis nihil veritatis consequatur laborum pariatur impedit tempore hic dolorem porro eligendi accusantium, soluta fugiat tenetur placeat eos.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus et ducimus architecto impedit porro vel eos dignissimos ea delectus ipsa excepturi ex quia culpa a, similique, enim amet consectetur, libero.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolor laboriosam mollitia at numquam distinctio nihil eos tempora quam ex, perferendis, atque id harum repudiandae sed quidem cupiditate natus reprehenderit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae possimus accusamus distinctio nobis nihil veritatis consequatur laborum pariatur impedit tempore hic dolorem porro eligendi accusantium, soluta fugiat tenetur placeat eos.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus et ducimus architecto impedit porro vel eos dignissimos ea delectus ipsa excepturi ex quia culpa a, similique, enim amet consectetur, libero.</p>
            <h1>Project overview</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolor laboriosam mollitia at numquam distinctio nihil eos tempora quam ex, perferendis, atque id harum repudiandae sed quidem cupiditate natus reprehenderit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae possimus accusamus distinctio nobis nihil veritatis consequatur laborum pariatur impedit tempore hic dolorem porro eligendi accusantium, soluta fugiat tenetur placeat eos.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus et ducimus architecto impedit porro vel eos dignissimos ea delectus ipsa excepturi ex quia culpa a, similique, enim amet consectetur, libero.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolor laboriosam mollitia at numquam distinctio nihil eos tempora quam ex, perferendis, atque id harum repudiandae sed quidem cupiditate natus reprehenderit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae possimus accusamus distinctio nobis nihil veritatis consequatur laborum pariatur impedit tempore hic dolorem porro eligendi accusantium, soluta fugiat tenetur placeat eos.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus et ducimus architecto impedit porro vel eos dignissimos ea delectus ipsa excepturi ex quia culpa a, similique, enim amet consectetur, libero.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolor laboriosam mollitia at numquam distinctio nihil eos tempora quam ex, perferendis, atque id harum repudiandae sed quidem cupiditate natus reprehenderit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae possimus accusamus distinctio nobis nihil veritatis consequatur laborum pariatur impedit tempore hic dolorem porro eligendi accusantium, soluta fugiat tenetur placeat eos.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus et ducimus architecto impedit porro vel eos dignissimos ea delectus ipsa excepturi ex quia culpa a, similique, enim amet consectetur, libero.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolor laboriosam mollitia at numquam distinctio nihil eos tempora quam ex, perferendis, atque id harum repudiandae sed quidem cupiditate natus reprehenderit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae possimus accusamus distinctio nobis nihil veritatis consequatur laborum pariatur impedit tempore hic dolorem porro eligendi accusantium, soluta fugiat tenetur placeat eos.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus et ducimus architecto impedit porro vel eos dignissimos ea delectus ipsa excepturi ex quia culpa a, similique, enim amet consectetur, libero.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolor laboriosam mollitia at numquam distinctio nihil eos tempora quam ex, perferendis, atque id harum repudiandae sed quidem cupiditate natus reprehenderit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae possimus accusamus distinctio nobis nihil veritatis consequatur laborum pariatur impedit tempore hic dolorem porro eligendi accusantium, soluta fugiat tenetur placeat eos.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus et ducimus architecto impedit porro vel eos dignissimos ea delectus ipsa excepturi ex quia culpa a, similique, enim amet consectetur, libero.</p>
        </article>
    </div>
</section>
