@using Ubora.Web.Services
@model Ubora.Web.Features.Projects.ListViewModel

@{
    ViewData["Title"] = "All";
}

<section class="medium-width">
    <h1 class="full-width">Projects</h1>

    @foreach (var project in Model.Projects)
    {
        <a asp-controller="ProjectManagement"
           asp-action="Index"
           asp-route-id="@project.Id">

            <project-card
                          banner="//placeimg.com/400/150/nature/grayscale"
                          title="@project.Title"
                          author="@User.GetFullName()"
                          authorimage="//placehold.it/50x50"
                          funded="0%"
                          pledged="0$"
                          completed="0%"
                          timeremaining="365">
                <p>@project.Title</p>
            </project-card>
        </a>
    }

</section>