@model Ubora.Web.Features.Projects.ListViewModel

@foreach (var project in Model.Projects)
{
    <project-card banner="//placehold.it/400x150"
                  title="@project.Title"
                  author="John Smith"
                  authorimage="//placehold.it/50x50"
                  funded="75%"
                  pledged="1,000,000$"
                  completed="100%"
                  timeremaining="365">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab voluptas reprehenderit minus sed in quas non eos, vel incidunt ducimus ipsam sunt dolores pariatur, ipsum quia rem consectetur asperiores magni.</p>
    </project-card>
}