@model Ubora.Web._Features.Users.Manage.ChangeEmailViewModel
@{
    ViewData["Title"] = "Change email";
}

<div class="container my-5">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <form asp-controller="Manage" asp-action="ChangeEmail" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NewEmail">New Email</label>
                    <input asp-for="NewEmail" class="form-control" placeholder="New Email" />
                    <span asp-validation-for="NewEmail"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Change email</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}