@model string

@{
    ViewData["Title"] = "Email change confirmation";
}

<div class="container my-5 text-center">
    <h1>Email change confirmation has been sent to your new email at @Model</h1>
    <p>After confirming your new email address you can use it to log into UBORA.</p>
</div>