
@{
    ViewData["Title"] = "Email change confirmation";

}


<div class="container my-5 text-center">
    <h1>Email confirmation has been sent to your new email</h1>
    <p>After confirming your new email address you can log in with your new email.</p>
</div>