@using Ubora.Web._Features.Users.Manage
@model Ubora.Web._Features.Users.Manage.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="container my-5">
  <h1 class="text-center">@ViewData["Title"]</h1>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <form asp-controller="Manage" asp-action="ChangePassword" method="post">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>

          <div class="form-group">
              <label asp-for="OldPassword">Old password</label>
              <input class="form-control" asp-for="OldPassword" placeholder="Old password">
              <span asp-validation-for="OldPassword"></span>
          </div>

          <div class="form-group">
              <label asp-for="NewPassword">New password</label>
              <input class="form-control" asp-for="NewPassword" placeholder="New password">
              <span asp-validation-for="NewPassword"></span>
          </div>

          <div class="form-group">
              <label asp-for="ConfirmPassword">Confirm new password</label>
              <input class="form-control" asp-for="ConfirmPassword" placeholder="Confirm new password" />
              <span asp-validation-for="ConfirmPassword"></span>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-primary">Change password</button>
          </div>
      </form>
    </div>
  </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
