@using Ubora.Web._Features.Users.Manage
@using Ubora.Web._Features._Shared
@model Ubora.Web._Features.Users.Manage.UserProfileViewModel

@{
    ViewData["Title"] = "Edit profile";
}

<section class="narrow-width">
    <h2>@ViewData["Title"]</h2>
    
    <img src='@Model.ProfilePictureLink' />
    
    <form method="post" enctype="multipart/form-data" asp-controller="Manage" asp-action="ChangeProfilePicture">
        <input type="file" name="file"/>
        <input class="button secondary-button" type="submit" value="Upload"/>
        <div asp-validation-summary="All"></div>
    </form>

    <form asp-controller="Manage" asp-action="EditProfile" method="post">

        <div class="form-input">
            <label>
                First name
            </label>
            <input asp-for="FirstName" placeholder="First name">
            <span asp-validation-for="FirstName"></span>
        </div>

        <div class="form-input">
            <label>
                Last name
            </label>
            <input asp-for="LastName" placeholder="Last name">
            <span asp-validation-for="LastName"></span>
        </div>

        <h3>Academia</h3>
        <div class="form-input">
            <label>
                University
            </label>
            <input asp-for="University" placeholder="Name of university">
            <span asp-validation-for="University"></span>
        </div>


        <div class="form-input">
            <label>
                Degree
            </label>
            <input asp-for="Degree" placeholder="Held/obtaining degree">
            <span asp-validation-for="Degree"></span>
        </div>


        <div class="form-input">
            <label>
                Field
            </label>
            <input asp-for="Field" placeholder="e.g. hardware engineering">
            <span asp-validation-for="Field"></span>
        </div>

        <div class="form-input">
            <label>
                Role
            </label>
            @Html.DropDownListFor(x => x.Role, SelectLists.UserRoles)
            <span asp-validation-for="Role"></span>
        </div>


        <h3>Personal</h3>
        <div class="form-input">
            <label>
                Bio
            </label>
            <textarea asp-for="Biography" rows="5" placeholder="Write a few words about yourself!"></textarea>
            <span asp-validation-for="Biography"></span>
        </div>

        <div class="form-input">
            <label>
                Skills
            </label>
            <input asp-for="Skills" placeholder="What are you good at?">
            <span asp-validation-for="Skills"></span>
        </div>

        <button type="submit" class="button primary-button">Edit profile</button>
    </form>
</section>
