@using Ubora.Web._Features.Users.Manage
@model Ubora.Web._Features.Users.Manage.IndexViewModel
@{
    ViewData[nameof(PageTitle)] = "Manage your account";
}

<div class="container my-5 text-center">
    <h1>@ViewData[nameof(PageTitle)]</h1>
    <div class="row justify-content-center my-2">
        <div class="col-sm-4">
            <img class="avatar mb-4" src="@User.GetProfilePictureUrl()" alt="Profile picture" height="250" width="250">
            <h2>@User.GetFullName()</h2>
        </div>
    </div>
    <div class="row justify-content-center my-2">
        <div class="col-lg-4 col-md-6">
            <a class="btn btn-outline-primary btn-block" asp-controller="Profile" asp-action="EditProfile" role="button">Edit profile</a>
        </div>
    </div>
    <div class="row justify-content-center my-2">
        <div class="col-lg-4 col-md-6">
            <a class="btn btn-outline-primary btn-block" asp-controller="Manage" asp-action="ChangePassword" role="button">Change password</a>
        </div>
    </div>
    <div class="row justify-content-center my-2">
        <div class="col-lg-4 col-md-6">
            <a class="btn btn-outline-primary btn-block" asp-controller="Manage" asp-action="ChangeEmail" role="button">Change email address</a>
        </div>
    </div>
    <div class="row justify-content-center my-2">
        <div class="col-lg-4 col-md-6">
            <a class="btn btn-outline-primary btn-block" href="http://ubora-biomedical.org/terms-of-service/" role="button" target="_blank">Terms of Service</a>
        </div>
    </div>
</div>
