@using Ubora.Web._Features.Users.Manage
@model Ubora.Web._Features.Users.Manage.IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<section class="narrow-width">
    
    <h1>@ViewData["Title"]</h1>

    <div class="profile_edit--container">
        <a class="button secondary-button small-button profile_edit--button" asp-controller="Profile" asp-action="EditProfile">Edit profile</a>
        <a class="button secondary-button small-button profile_edit--button" asp-controller="Manage" asp-action="ChangePassword">Change password</a>
        <a class="button secondary-button small-button profile_edit--button" asp-controller="Account" asp-action="TermsOfService">Terms of Service</a>
    </div>


</section>
