@using Ubora.Web._Features.Notifications
@model HistoryRequestViewModel

<div class="message">
    <div class="message-container">
        <p class="message-author-preview">
            @Html.ActionLink(Model.UserFullName, "View", "Profile", new { userId = Model.UserId }) asked to join project <a asp-controller="Dashboard" asp-action="Dashboard" asp-route-projectId="@Model.ProjectId">@Model.ProjectTitle</a>.
            You
            @if (Model.WasAccepted)
            {
                <b>Accepted</b>
            }
            else
            {
                <b>Declined</b>
            }
        </p>
    </div>
</div>