.footer {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
}

.footer-social {
  display: flex;
  color: var(--white);
  flex-wrap: wrap;
  justify-content: center;
  margin:2em 0;
}

.social-item {
  align-items: center;
  color: var(--white);
  display: flex;
  flex-wrap: nowrap;
  margin:0 1em;
}

.social-item:active,
.social-item:focus,
.social-item:hover {
  color: var(--white);
  text-decoration: underline;
}

.social-item--image {
  height: 2em;
  width: 2em;
}

.footer-legal {
  align-items: center;
  color: var(--quartinary-shade);
  display: flex;
  flex-direction: column;
  padding:1em;
  text-align: center;
}

.legal-flag {
  display: inline-block;
  width:5em;
}
.legal-quote {
  font-size: 80%;
  font-style: italic;
}


@media screen and (max-width: 50em) {
  .social-item--image {
    height: 3em;
    margin: .5em;
    width: 3em;
  }
}

@media screen and (max-width: 21.875em) {
  .footer-social {
    align-items: center;
    flex-direction: column;
  }
}
