.header {
	align-items: center;
	display: flex;
	font-size: 150%;
	height: 3em;
	justify-content: space-between;
	margin:.5em 1em;
	padding: 0 2em;
}

.header-logo {
	height:3em;
}

.header-title {
	color: var(--primary-color);
}

.header-element {
	flex-grow: 1;
	display: flex;
	justify-content: center;
}

.menu-button {
	background-color: transparent;
	border:0;
	color:var(--primary-color);
	font-family: inherit;
	font-size: inherit;
	padding:0;
}

.menu-button > .material-icons {
	padding:0;
}

.side-menu {
	background-color: var(--white);
	display: none;
	font-size: 150%;
	height: 100%;
	padding:1.5em;
	position: fixed;
	right:0;
	top:0;
	z-index: 99;
}

.menu-profile {
	align-items: center;
	display:flex;
	justify-content: center;
	margin:0 2em 2em 0;
}

.menu-profile-image {
	border-radius: 50%;
	margin:0 .5em 0 0;
	max-width: 3em;
}

.menu-profile-name {
	padding:0;
	margin:0;
}

.menu-profile-link {
	font-size: 60%;
}

.menu-link {
	display: block;
	margin:1em 0;
}


.logout-form {
	margin:3em 0 0 0;
}

.logout-button {
	font-size: 70%;
}


@media screen and (max-width: 50em) {
	.header {
		font-size: 120%;
		padding:0;
	}

	.menu-button {
		font-size:150%;
	}

	.menu-button-description {
		display:none;
	}
}
