.header {
	align-items: center;
	display: flex;
	font-size: 150%;
	height: 3em;
	justify-content: space-between;
	padding: .5em 3em;
}

.header-logo {
	height:3em;
}

.header-title {
	color: var(--primary-color);
}

.header-controls {
    display: flex;
    align-items: baseline;
}

.header-controls--search {
    margin:0 1em 0 0;
}

.header-controls--menu:hover {
    cursor: pointer;
}

.header-element {
	flex-grow: 1;
	display: flex;
	justify-content: center;
}

.side-menu {
	background-color: var(--white);
    bottom: 0;
	display: none;
	font-size: 150%;
	height: 100%;
	padding:.5em 1.5em 1em 1.5em;
	position: absolute;
    max-width: 300px;
	right:0;
	top:0;
	z-index: 99;
}

.menu-profile {
	align-items: center;
	display:flex;
	justify-content: center;
	margin:0 2em 1em 0;
}

.menu-profile-image {
	border-radius: 1em;
	margin:0 .5em 0 0;
	width: 3em;
}

.menu-profile-name {
	padding:0;
	margin:0;
}

.menu-profile-link {
	font-size: 60%;
}

.menu-link {
	display: block;
    padding: .2em 0;
}


.logout-form {
	margin:.5em 0 0 0;
}

.logout-button {
	font-size: 70%;
}


@media screen and (max-width: 50em) {
	.header {
		font-size: 120%;
		padding:.5em;
	}

    .header-controls--action {
        font-size: 120%;
    }

    .header-controls--description {
        display: none;
    }

    .header-controls--search {
        margin: 0 .5em 0 0;
    }
}
