.header {
  display: flex;
  flex-direction: column;
}

.header-element-list {
  align-items: center;
  display: flex;
  font-size: 150%;
  justify-content: space-between;
  margin: 0 1em;
}

.header-action-list {
  display: flex;
  justify-content: space-around;
}

.header-notices {
  margin: 0 0 .5em 0;
}

.header-action {
  display: flex;
  align-items: center;
  margin: 0 .2em;
}

.header-logo {
  width: 3em;
}

.header-status-action {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

@media screen and (max-width: 50em) {
  .header-element-list {
    font-size: 100%;
    margin: 0 .5em;
  }

  .header-action-icon {
    font-size: 200%;
    padding: 0;
  }

  .header-action-description {
    display: none;
  }
}

.sidemenu {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  z-index: 1000;
  visibility: hidden;
}

.sidemenu-open {
  animation: sideMenuAnimation 100ms ease;
  animation-fill-mode: forwards;
  overflow: auto;
  height: 100%;
  visibility: visible;
}

@keyframes sideMenuAnimation {
  from { transform: translateX(100%); }
  to { transform: translateX(0%); }
}

.sidemenu-action-close {
  font-size: 150%;
  margin: .5em 1em;
  text-align: right;
}

.sidemenu-profile {
  display: flex;
  flex-wrap: wrap;
  margin: .5em 1em 1em 1em;
}

.sidemenu-profile-image {
  align-self: center;
	height: 100px;
  margin: 0 1em;
  width: 100px;
}

.sidemenu-profile-name {
  font-size: 120%;
  word-break: break-all;
}

.sidemenu-action-list {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.sidemenu-action {
  display: block;
  font-size: 150%;
  margin: .5em 1em;
}

.sidemenu-action-signout {
	background-color: transparent;
	border:0;
	box-sizing: border-box;
	color:var(--primary-color);
	display: inline-block;
	font-family: inherit;
	padding: 0;
	text-align: left;
	text-decoration: none;
	transition: color .3s ease;
}

.sidemenu-action-signout .material-icons {
	transition: color .3s ease;
}

.sidemenu-action-signout:active,
.sidemenu-action-signout:focus,
.sidemenu-action-signout:hover,
.sidemenu-action-signout:active .material-icons,
.sidemenu-action-signout:focus .material-icons,
.sidemenu-action-signout:hover .material-icons {
	color: var(--secondary-color);
	cursor: pointer;
}

.signout-form {
	margin:0;
	width: 100%;
}

@media screen and (max-width: 21.875em) {
  .sidemenu {
    width: 100vw;
  }

  .sidemenu-profile-wrapper {
    text-align: center;
  }

  .sidemenu-profile {
    justify-content: center;
  }

  .sidemenu-action-signout {
    text-align: center;
  }
}
