.project_card {
	padding:0;
	transition: box-shadow .2s ease-in;
    word-break: break-word;
}

.project_card_banner {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 100%;
	max-height: 150px;
}

.project_status {
    background-color: var(--quaternary-color);
    color: var(--white);
    display: block;
    padding: 0 1em 0 0;
    text-align: right;
}

.project_card_container {
	padding:.5em 1em 1em 1em;
}

.project_card:hover {
	box-shadow: 0 6px 12px var(--primary-shade);
}

.project_section {
	display: flex;
    padding:0 .5em;
}

.project_section:last-child {
	margin:0 0 2em 0;
}

.project_section--photo {
	align-self: center;
	width: 100%;
    max-height: 600px;
	object-fit: contain;
}

.project_section--title {
    background-color:var(--primary-color);
    color:#FFF;
	font-weight: bold;
	padding:.5em;
    margin:0 0 1em 0;
    width: 100%;
}

.project_section--editable {
	align-items: center;
	justify-content: space-between;
}

.project_section--tags {
	display: inherit;
}

.medical_tag--list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
}

.medical_tag--item {
	flex-basis: 25%;
	flex: 1 1 0;
}

.project_section--block {
	display: block;
}

.project_section--specification {
	flex-wrap: wrap;
	justify-content: space-around;
	margin:1em auto 0 auto;
	text-align: center;
}

.project_section--classification,
.project_section--checklist {
	display: inline-block;
}


.project_view {
	display: flex;
}

.project_navigation {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin:2em 0 1em 0;
}

.project_navigation--link {
    font-size: 120%;
    position: relative;
}

.project_navigation--link:after {
    bottom:0;
    content:'';
    display: block;
    height: 1px;
    margin:0;
    padding:0;
    position: absolute;
    width: 100%;
}

.project_navigation_link--active:after {
    border-bottom: 2px solid var(--primary-color);
}

.project_navigation--link:hover:after,
.project_navigation--link:focus:after {
    border-color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}


.project_sidemenu {
    word-wrap: break-word;
    word-break: normal;
    font-size: 90%;
    margin: 1.4em 0 0 0;
}

.project_sidemenu h3 {
	display: inline-block;
}

.project_sidemenu ol {
  counter-reset: item;
  list-style-type: none;
  margin:0;
  padding:0 0 0 1em;
}

.project_sidemenu ol::before,
.project_sidemenu li::before {
    color: var(--primary-color);
}

.project_sidemenu--workpackage::before {
    font-size: 150%;
}

.project_sidemenu li::before {
    counter-increment: item;
    content: counters(item,".");
}

.project_member_list--item {
    margin:.5em 0;
}

.project_member--remove {
    margin:0 0 0 2em;
}

.project_member--remove .material-icons {
    color: var(--quaternary-color);
}


@media screen and (max-width: 50em) {
    .project_navigation {
        flex-direction: column;
    }

    .project_navigation_link {
        font-size: 150%;
        margin:.5em 0;
    }


	.medical_tag--item {
		flex-basis: 50%;
	}
}

@media screen and (max-width: 21.875em) {
	.medical_tag--item {
		flex-basis: 100%;
	}
}

.review-table tr > td:nth-of-type(2){
    padding-left: 1em;
}
