.hero {
	align-items: center;
	background-color: var(--text-color);
	color: #FFF;
	display: flex;
	font-size: 3em;
	line-height: inherit;
	height: 40vh;
	justify-content: center;
	position: relative;
	text-align: center;
	z-index: 1;
}

.hero:before {
	content:'';
	background: url('/images/bme.jpg') no-repeat center center;
	background-size: cover;
	height: 100%;
	left: 0;
	opacity: .5;
	position: absolute;
	top:0;
	width: 100%;
	z-index: -1;
}


.initiative {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	min-height: 20vh;
	justify-content: center;
	padding: 0;
	margin:0 0 2em 0;
	text-align: center;
}

.initiative-option {
	padding:1em;
}

.initiative-option {
	flex-grow: 2;
}


.projects {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}


.signing {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}


.login-button {
	align-items: center;
	display: flex;
	font-size: 120%;
	justify-content: flex-start;
	text-align: left;
	width: 100%;
	margin:.5em 0;
}

.login-button:hover {
	background-color: transparent;
	color:var(--secondary-color);
}

.login-button-image {
	max-width: 3em;
	padding:.2em 1em .2em 1em;
}


.resources-image {
	background-image: url('/images/books.jpg');
}


.image-backdrop {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding:3em 0;
	text-align: center;
	width: 100%;
}

.image-backdrop-title {
	color:#FFF;
	font-size: 200%;
}
