main {
	flex:1;
	width: 100%;
}

section {
	padding:1em 0;
	margin:0 auto;
	box-sizing: border-box;
	width:90%;
}

.full-width {
	width: 100%;
}

.medium-width {
	max-width: 80em;
	margin: 0 auto;
}

.narrow-width {
	max-width: 30em;
	margin: 0 auto;
}

.section-width {
	width:90%;
	margin:0 auto;
}

.column {
	flex-direction: column;
	flex-wrap: wrap;
}

.center-element {
	margin:0 auto;
	text-align: center;
}

.markdown-like {
    font-family: inherit;
	margin:1em 0;
	padding:.5em;
	text-align: justify;
}

.card {
	box-shadow: 0 3px 6px var(--secondary-shade);
	display: inline-block;
	border-radius: 5px;
	max-width: 22em;
	margin:1em;
}

.danger-text {
    text-align: center;
}

.danger-text--header {
    color: var(--quaternary-color);
}

.form-input-options {
    display: flex;
    justify-content: flex-end;
}

.form-input-options > .form-input:last-of-type {
    margin-right: 0;
}

.form-input-options > .form-input {
    margin-right: 1em;
}
