@import url('structure.css');
@import url('typography.css');
@import url('user-controls.css');
@import url('media-content.css');
@import url('forms.css');

@import url('header.css');
@import url('footer.css');
@import url('process-steps.css');
@import url('users.css');
@import url('profile.css');
@import url('messages.css');
@import url('repository.css');
@import url('policies.css');

@import url('sections.css');

@import url('project.css');
@import url('workpackage.css');
@import url('process-steps.css');

:root {
	--primary-color: #4777BB;
	--secondary-color: #44AAE0;
	--tertiary-color: #95CD7C;
	--quaternary-color: #EF7B52;
	--text-color: #3D3D3D;
	--primary-shade: #9E9E9E;
	--secondary-shade: #BDBDBD;
	--tertiary-shade: #E0E0E0;
	--quartinary-shade: #F5F5F5;
	--white: #FFF;

	--smallish-screen: 21.875em;
	--mediumish-screen: 50em;
	--largeish-screen: 78.125em;
	--hugeish-screen: 125em;
}

html,
body {
	margin:0;
	padding:0;
}

body {
	color: var(--text-color);
	display:flex;
	flex-direction: column;
	font: normal 16px/1.5em 'Open Sans', Helvetica, Arial, sans-serif;
	font-display: swap;
	min-height: 100vh;
}

@media screen and (max-width: 50em) {
	body {
		font-size:15px;
		line-height: 2em;
	}
}

@media screen and (max-width: 21.875em) {
	body {
		font-size:14px;
		line-height: 2em;
	}
}


.development-notice {
	background-color: var(--primary-color);
	color:var(--white);
	padding:.5em 0;
	text-align: center;
}
