.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-card {
    flex-direction: column;
    align-items: center;
    max-width: 15em;
}

@media screen and (max-width: 21.875em) {
    .user-list {
        justify-content: center;
    }
    .user-card {
        max-width: 10em;
    }
}
