.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.user-card {
    align-items: center;
    align-self: stretch;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding:1em;
}

.user-card--name,
.user-card--email {
    word-wrap: break-word;
    word-break: break-word;
}

.user-role-list {
  align-self: flex-start;
}

@media screen and (max-width: 21.875em) {
    .user-list {
        justify-content: center;
    }
    .user-card {
        width: 250px;
    }
}
