.step-view {
    padding-left: 1em;
    padding-right: 1em;
}

.markdown-like {
    font-family: inherit;
}

.step_header {
    display: flex;
}

.step_title {
    display: inline-block;
    flex-grow: 2;
}

.step_edit {
    align-self: center;
    font-size: 150%;
    margin: 0 1em 0 0;
}

.step_edit .material-icons {
    font-size: 100%;
    vertical-align: bottom;
}
