@using Newtonsoft.Json
@model IEnumerable<Ubora.Web._Features.Admin.Tests.DiagnosticsTestAction>

<style>
    .diagnostics-table tr th,
    .diagnostics-table tr td {
        text-align: left !important;
        padding-left: 3px;
        padding-right: 3px;
    }

    .diagnostics-error {
        color: #853333;
    }

    .diagnostics-success {
        color: #1c8c1d;
    }
</style>

<section class="container my-5">
    <div class="d-lg-block d-none">
        <div class="row mx-0 py-2 border-bottom">
            <div class="col-lg-5">
                <b>Test</b>
            </div>
            <div class="col-lg-7">
                <b>Result</b>
            </div>
        </div>
    </div>

    @for (int i = 0; i < Model.Count(); i++)
    {
        <div class="row mx-0 py-2 border-bottom">
            <div class="col-lg-5">
                <span class="d-md-block d-lg-none"><b>Test:</b></span>
                @Model.ElementAt(i).Name
            </div>
            <div class="col-lg-7">
                <span class="d-md-block d-lg-none"><b>Result:</b></span>
                <span id="actionResult@(i)"></span>
            </div>
        </div>
    }

</section>

@section Scripts
    {
    <script type="text/javascript">
        (function () {
            (function (diagnostics, $) {
                diagnostics.initDiagnostics = function (actionUrls) {
                    var index = 0;
                    runAction(index, actionUrls);
                };

                function runAction(index, actionUrls) {
                    if (index >= actionUrls.length)
                        return;

                    $("#actionResult" + index).html("...");

                    $.ajax({
                        url: actionUrls[index],
                        success: function (data) {
                            var resultHtml = (data.message || "")
                                .replace(/(?:\r\n|\r|\n)/g, "<br />\n");

                            $("#actionResult" + index).html(resultHtml)
                                .addClass(data.isSuccess ? "diagnostics-success" : "diagnostics-error");

                            // Run next action
                            runAction(index + 1, actionUrls);
                        },
                        error: function (jqXhr, textStatus, errorThrown) {
                            $("#actionResult" + index).html(errorThrown)
                                .addClass("diagnostics-error");

                            // Run next action
                            runAction(index + 1, actionUrls);
                        }
                    });
                }
            }(window.Amica.Diagnostics = window.Amica.Diagnostics || {}, jQuery));
        }(window.Amica = window.Amica || {}, jQuery));

        $(function() {
            var actionUrls = @Html.Raw(JsonConvert.SerializeObject(Model.Select(a => a.ActionUrl)));
            Amica.Diagnostics.initDiagnostics(actionUrls);
        });
    </script>
}
