@using Ubora.Web._Features.Projects.Workpackages.Candidates
@model Ubora.Web._Features.Projects.Workpackages.Candidates.EditCommentViewModel

<div class="modal fade" id="removeCommentModal-@Model.Id" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remove comment?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Candidates" asp-action="RemoveComment" asp-route-commentId="@Model.Id" asp-route-candidateId="@Model.CandidateId" method="post">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <p>@Model.CommentText</p>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                        <span class="mx-1"></span>
                        <button class="btn btn-primary" type="submit">Remove</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>