@model Ubora.Web._Features.Projects.Workpackages.WorkpackageListOverviewViewModel

<aside class="project_sidemenu">
    <ol>
        @foreach (var workpackage in Model.Workpackages)
        {
            <li class="project_sidemenu--workpackage">
                <h3>@workpackage.Title</h3>
                <ol>
                    @foreach (var step in workpackage.Steps)
                    {
                        <li>
                            <a asp-action="Step" asp-controller="WorkpackageOne" asp-route-id="@step.Id">
                                @if (step.IsSelected)
                                {
                                    <b>@step.Title</b>
                                }
                                else
                                {
                                    @step.Title
                                }
                            </a>
                        </li>
                    }
                </ol>
            </li>
        }
    </ol>
</aside>