@using Ubora.Web._Features.Projects.Workpackages
@using Ubora.Web._Features.Projects._Shared

@{
    ViewData["Title"] = "Work packages";
    ViewData["MenuOption"] = ProjectMenuOption.Workpackages;
}

<div class="container-fluid my-4">
  <div class="row">
    <div class="col">
      @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))
    </div>
  </div>
</div>
