@using Ubora.Web._Components.Discussions.Models

@model AddCommentModel

<form action="@(Model.AddCommentActionPath)" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="mb-4" asp-for="CommentText">Comment</label>
        <textarea class="form-control" asp-for="CommentText" placeholder="Add comment" rows="4"></textarea>
        <span asp-validation-for="CommentText"></span>
    </div>
    <button class="btn btn-primary" type="submit">Add comment</button>
</form>
