@model Ubora.Web._Features.Projects.History.WorkPackages.EditDeviceClassificationEventViewModel

<li class="history-list-item">
    @Html.ActionLink(Model.EventInitiatedBy.Name, "View", "Profile", new { userId = Model.EventInitiatedBy.UserId }) saved new <a asp-controller="WorkpackageOne" asp-action="DeviceClassification">device classification</a> to project. New classification is @Model.NewClassification.&nbsp;
    <br />
    <time class="history-timestamp timeago" datetime="@Model.Timestamp">@Model.Timestamp.ToString("dd.MM.yyyy")</time>
</li>