@model Ubora.Web._Features.Projects.History.WorkPackages.EditWorkpackageOneEventViewModel

<div class="row notification no-gutters">
    <div class="col-lg-12">
        <p>@Html.ActionLink(Model.EventInitiatedBy.Name, "ViewProfile", "Profile", new { userId = Model.EventInitiatedBy.UserId }) edited WP1 <a asp-controller="WorkpackageOne" asp-action="Read" asp-route-stepId="@Model.StepId">"@Model.Title"</a>.</p>
    </div>    
    <div class="col-lg-12">
        @Html.TimeAgoHistorySpan(Model.Timestamp)
    </div>
</div>