@model Ubora.Web._Features.Projects.History.WorkPackages.EditDeviceClassificationEventViewModel

<li class="list-group-item">
  <div class="col d-flex flex-column">
    <span>@Html.ActionLink(Model.EventInitiatedBy.Name, "View", "Profile", new { userId = Model.EventInitiatedBy.UserId }) saved new <a asp-controller="WorkpackageOne" asp-action="DeviceClassification">device classification</a> to project. New classification is @Model.NewClassification.&nbsp;</span>
    <p class="history-timestamp timeago" title="@Model.Timestamp">@Model.Timestamp.ToString("dd.MM.yyyy")</p>
  </div>
</li>
