@model Ubora.Web._Features.Projects.History.WorkPackages.EditWorkpackageThreeEventViewModel

<div class="notification">
    <p>@Html.ActionLink(Model.EventInitiatedBy.Name, "ViewProfile", "Profile", new {userId = Model.EventInitiatedBy.UserId}) edited WP3 <a asp-controller="WorkpackageThree" asp-action="Read" asp-route-stepId="@Model.StepId">"@Model.Title"</a>.</p>
    @Html.TimeAgoHistorySpan(Model.Timestamp)
</div>