@{
    ViewData["Title"] = "Access Denied";
}

<section class="narrow-width">
    <div class="danger-text">
        <h1 class="danger-text--header">Access Denied.</h1>
        <p>You do not have access to this resource.</p>
    </div>
</section>
