@{
    ViewData[nameof(PageTitle)] = "Access Denied";
}

<div class="container my-5">
    <div class="danger-text text-center">
        <h1 class="danger-text--header">Access Denied.</h1>
        <p>You do not have access to this resource.</p>
    </div>
</div>
