@{
    ViewData["Title"] = "Access Denied";
}

<div class="container-fluid my-4">
  <div class="row justify-content-center">
    <div class="danger-text text-center">
        <h1 class="danger-text--header">Access Denied.</h1>
        <p>You do not have access to this resource.</p>
    </div>
  </div>
</div>
