@{
    ViewData["Title"] = "Confirm Email";
}

<section class="narrow-width center-text">
    <h2 class="full-width">@ViewData["Title"]</h2>

    <h4>Thank you for confirming your email. Please <a asp-controller="Account" asp-action="Login">Click here to Log in</a>.</h4>
</section>
