@{
    ViewData["Title"] = "Email confirmation";
}

<section class="narrow-width center-text">
    <h1 class="full-width">Thank you for joining!</h1>
    <p>Your email address has been confirmed and you can now access all features of UBORA platform.</p>
    <a class="button primary-button full-width" asp-controller="Home" asp-action="Index">View public projects</a>
    <a class="button primary-button full-width" asp-controller="ProjectCreation" asp-action="Create">Create a new project</a>
</section>
