@{
    ViewData["Title"] = "Email confirmation";
}

<section class="narrow-width center-text">
    <h1 class="full-width">Thank you for joining!</h1>
    <p>Your email has been confirmed and can now access all features of UBORA platform.</p>
    <a class="button primary-button full-width" asp-controller="Account" asp-action="Login">Log in to continue</a>
</section>
