@using Ubora.Web._Features.Users.Account
@model Ubora.Web._Features.Users.Account.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot your password?";
}

<section class="narrow-width">
    <h2 class="full-width">@ViewData["Title"]</h2>

    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-input">
            <label asp-for="Email">Email address</label>
            <input asp-for="Email" placeholder="email@example.com" required autofocus>
            <span asp-validation-for="Email"></span>
        </div>

        <div class="form-input">
            <button type="submit" class="button primary-button full-width">Submit</button>

        </div>
    </form>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
