@{
    ViewData[nameof(PageTitle)] = "Reset Password";
}

<div class="container my-5">
    <div class="text-center">
        <h1>@ViewData[nameof(PageTitle)]</h1>
        <p>Please check your inbox with instructions to reset your password.</p>
    </div>
</div>
