@{
    ViewData["Title"] = "Reset Password";
}

<div class="container-fluid my-4">
  <div class="row">
    <div class="col text-center">
      <h2>@ViewData["Title"]</h2>

      <p>Please check your inbox with instructions to reset your password.</p>
    </div>
  </div>
</div>
