@using Ubora.Web._Features.Users.Account
@model Ubora.Web._Features.Users.Account.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container my-5">
  <div class="row justify-content-center">
   
    <div class="col-lg-5 col-md-8">
        <h1>@ViewData["Title"]</h1>

      <form asp-controller="Account" asp-action="ForgotPassword" method="post">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>

          <div class="form-group">
              <label asp-for="Email">Email address</label>
              <input class="form-control" asp-for="Email" placeholder="email@example.com" required autofocus>
              <span asp-validation-for="Email"></span>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
    </div>
  </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
