@{
    ViewData["Title"] = "Reset Password";
}

<section class="narrow-width center-text">
    <h2 class="full-width">@ViewData["Title"]</h2>

    <h4>Please check your inbox with instructions to reset your password.</h4>
</section>
