@using Ubora.Web.Data
@using Ubora.Web._Features.Users.Account
@model Ubora.Web._Features.Users.Account.LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
	ViewData["Title"] = "Sign in to UBORA";
}

<div class="container my-5">
  <div class="row flex-column align-items-center">
    <h1>@ViewData["Title"]</h1>
    <div class="col-lg-5">
      <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="POST">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    		<div class="form-group">
    			<label asp-for="Email">Email address</label>
    			<input class="form-control" asp-for="Email" placeholder="email@example.com" autocomplete autofocus required>
    			<span asp-validation-for="Email"></span>
    		</div>

    		<div class="form-group">
    			<label asp-for="Password">Secret password</label>
    			<input class="form-control" asp-for="Password" placeholder="Secret password" required>
    			<span asp-validation-for="Password"></span>
    		</div>

        <div class="text-center d-flex flex-column">
          <div>
            <button class="btn btn-primary" type="submit">Sign in</button>
          </div>
          <div class="my-4">
            <a asp-action="ForgotPassword">Forgot password?</a>
          </div>
        </div>
    	</form>

    </div>
	<div class="col-lg-5 text-center">
		<h1>Don't have an account?</h1>
		<a class="btn btn-outline-primary" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Sign up</a>
	</div>
  </div>

</div>

@section Scripts {
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
