@model Ubora.Web._Features.Users.Account.RegisterViewModel
@{
    ViewData["Title"] = "Sign up to UBORA";
}

<div class="container my-5">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-8">
            <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="form-register" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="FirstName">First name</label>
                    <input class="form-control" asp-for="FirstName" placeholder="First name" autofocus>
                    <span asp-validation-for="FirstName"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LastName">Last name</label>
                    <input class="form-control" asp-for="LastName" placeholder="Last name">
                    <span asp-validation-for="LastName"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email">Email address</label>
                    <input class="form-control" asp-for="Email" placeholder="email@example.com">
                    <span asp-validation-for="Email"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password">Secret password</label>
                    <input class="form-control" asp-for="Password" placeholder="Secret password">
                    <span asp-validation-for="Password"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword">Secret password again</label>
                    <input class="form-control" asp-for="ConfirmPassword" placeholder="Secret password again">
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>

                <div class="custom-control custom-checkbox my-4"> @*TODO(Kärolin): inline style quick-fix *@
                    <input type="checkbox" class="custom-control-input" asp-for="IsAgreedToTermsOfService" required>
                    <label class="custom-control-label" asp-for="IsAgreedToTermsOfService">
                        <span class="custom-control-description">I agree to </span>
                        <a asp-controller="Account" asp-action="TermsOfService" target="_blank">Terms of Service</a>
                    </label>
                    <span asp-validation-for="IsAgreedToTermsOfService"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Create an account</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
