@{
    ViewData["Title"] = "Email confirmation";
}


<div class="container my-5">
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
        <p>The confirmation link has been resent to your email account.</p>
    </div>
</div>
