@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="container my-5">
    <div class="text-center">
        <h1>Your password has been reset!</h1>
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Log in</a>
    </div>
</div>
