@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="container-fluid my-4">
  <div class="ro">
    <div class="col text-center">
      <h2>Your password has been reset!</h2>
      <br>
      <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-lg">Log in</a>
    </div>
  </div>
</div>
