@{
    ViewData["Title"] = "Reset password confirmation";
}

<section class="narrow-width center-element">
    <h2>Your password has been reset!</h2>
    <br>
    <a asp-controller="Account" asp-action="Login" class="button primary-button full-width">Log in</a>
</section>
