@{
    ViewData["Title"] = "Email confirmation";
}


<div class="container-fluid my-4">
  <div class="row">
    <div class="col text-center">
      <h1>@ViewData["Title"]</h1>

      <p>The confirmation link has been resent to your email account.</p>
    </div>
  </div>
</div>
