@{
    ViewData["Title"] = "Resend email confirmation";
}

<section class="narrow-width center-text">
    <h2 class="full-width">@ViewData["Title"]</h2>

    <h4>The confirmation token has been resent to your email account.</h4>
</section>

