@{
    ViewData["Title"] = "Email confirmation";
}

<section class="narrow-width center-text">
    <h1 class="full-width">@ViewData["Title"]</h1>

    <p>The confirmation link has been resent to your email account.</p>
</section>

