@{
    ViewData["Title"] = "Confirmation Email Sent";
}

<section class="narrow-width center-text">
    <h2 class="full-width">@ViewData["Title"]</h2>

    <h4>Please check your email and confirm your email address.</h4>
</section>