@{
	ViewData["Title"] = "Sign in";
}

<div class="container-fluid">
	<div class="row">
		<div class="col">
			<h1>Choose sign in option</h1>
			<a class="btn btn-secondary-ghost login-button" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">
				<img class="login-button-image" src="~/images/icons/ubora-logo.svg" alt="UBORA logo">
				Continue with UBORA
			</a>
			@* TODO: OAuth 2.0
			<a class="button secondary-button login-button" href="#">
				<img class="login-button-image" src="~/images/icons/twitter-logo.svg" alt="Twitter logo">
				Continue with Twitter
			</a>

			<a class="button secondary-button login-button" href="#">
				<img class="login-button-image" src="~/images/icons/facebook-logo.svg" alt="Facebook logo">
				Continue with Facebook
			</a>

			<a class="button secondary-button login-button" href="#">
				<img class="login-button-image" src="~/images/icons/google-logo.svg" alt="Google logo">
				Continue with Google
			</a>
			*@
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h3>Don't have an account?</h3>
			<a class="btn primary-btn btn-lg" asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Sign up</a>
		</div>
	</div>
</div>
