@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.InviteMentors.MentorsViewModel
@{
    ViewData["Title"] = "Mentors";
    ViewData["MenuOption"] = ProjectMenuOption.Members;
}

<section class="narrow-width">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</section>

<section class="narrow-width">
  <h2 class="full-width">Project mentors</h2>
  @foreach (var mentor in Model.ProjectMentors)
  {
    <div class="project-member">
      <span class="project-member--status"></span>
      <span class="project-member--name">
        @*TODO: Add link to Mentor profile? Add Mentor email? *@
        <p>@mentor.FullName</p>
        <p>
          <a href="#">mentor.Email</a>
        </p>
      </span>
      <span class="project-member--controls"></span>
    </div>
  }
</section>


<section class="medium-width">
  <h2 class="full-width">All UBORA mentors</h2>
</section>
<section class="full-width user-list">

  @foreach (var mentor in Model.UboraMentors)
  {
    <div class="card user-card">
      <input type="hidden" name="@nameof(mentor.UserId)" value="@mentor.UserId">
      <h3 class="user-card--name">@mentor.FullName</h3>
      <form asp-action="InviteMentor">
        <button class="button secondary-button small-button" type="submit">Invite mentor</button>
      </form>
    </div>
  }
</section>
