@using Ubora.Web._Features.Projects._Shared

@model IndexViewModel

@{
    ViewData[nameof(ProjectMenuOption)] = ProjectMenuOption.Workpackages;
    var canWorkOnProjectContent = (await AuthorizationService.AuthorizeAsync(User, null, Policies.CanWorkOnProjectContent)).Succeeded;
}

<div class="row">
    <div class="col-sm-8 col-12">
        <h1>ISO compliance</h1>
    </div>
    @if (canWorkOnProjectContent)
    {
        @Html.Partial("_AddIsoStandardButtonAndModal.cshtml", new AddIsoStandardPostModel())
    }
</div>
<div class="row">
    <div class="col">

        <div asp-validation-summary="All"></div>
        <div class="pl-3">
            @foreach (var isoStandard in Model.IsoStandards)
            {
                @Html.Partial("_IsoStandardWithCheckbox.cshtml", isoStandard)
            }
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(".js-iso-checkbox").click(function (event) {
            var $target = $(event.target);
            var $form = $target.closest('form');
            $form.submit()
        });
    </script>
}