<h3>5ths-based unit grid</h3>
<div class="pure-g">
    <div class="grid-unit pure-u-5-5"></div>
</div>
<div class="pure-g">
    <div class="grid-unit pure-u-4-5"></div>
</div>
<div class="pure-g">
    <div class="grid-unit pure-u-3-5"></div>
</div>
<div class="pure-g">
    <div class="grid-unit pure-u-2-5"></div>
</div>
<div class="pure-g">
    <div class="grid-unit pure-u-1-5"></div>
</div>

<h3>24ths-based unit grid</h3>
<div class="pure-g">
    <div class="grid-unit pure-u-24-24"></div>
</div>
<div class="pure-g">
    <div class="grid-unit pure-u-20-24"></div>
</div>
<div class="pure-g">
    <div class="grid-unit pure-u-16-24"></div>
</div>
<div class="pure-g">
    <div class="grid-unit pure-u-12-24"></div>
</div>
<div class="pure-g">
    <div class="grid-unit pure-u-8-24"></div>
</div>
<div class="pure-g">
    <div class="grid-unit pure-u-4-24"></div>
</div>
<div class="pure-g">
    <div class="grid-unit pure-u-1-24"></div>
</div>
