@using Ubora.Web.Data
@using Ubora.Web._Features.ProjectList
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Welcome";
}

@if (!SignInManager.IsSignedIn(User))
{
<div class="jumbotron jumbotron-fluid mb-2 jumbotron-landing">
  <div class="container landing-image-main">
    <div class="text-center">
      <h1 class="font-weight-bold">UBORA</h1>
      <p class="lead font-weight-bold">The Biomedical engineering open design platform</p>
    </div>
    <hr class="my-4">
    <div class="text-center">
      <p class="lead font-weight-bold">Create or collaborate open-sourced biomedical solutions.</p>
      <a class="btn btn-primary btn-lg p-3 btn-cta" role="button" asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Sign up now!</a>
    </div>
  </div>
</div>
}
<div class="container-fluid mb-4">
  <div class="row">
    <div class="col flex-column text-center mr-1 p-5 landing-image-discussion">
      <p class="lead font-weight-bold">Have a need for medical solution? Find it through open discussion.</p>
      <a class="btn btn-primary btn-disabled btn-lg align-self-end" role="button" disabled="">I have a need</a>
    </div>
    <div class="col flex-column text-center ml-1 p-5 landing-image-solution">
      <p class="lead font-weight-bold">Have an idea? Propose your biomedical solution.</p>
      <a class="btn btn-primary btn-lg align-self-end" asp-controller="ProjectCreation" asp-action="Create" role="button">I have an idea</a>
    </div>
  </div>
</div>

<div class="container-fluid my-4">
  @if (SignInManager.IsSignedIn(User))
  {
      @await Component.InvokeAsync(typeof(MyProjectListViewComponent))
  }
</div>
<div class="container-fluid my-4">
  @await Component.InvokeAsync(typeof(PublicProjectListViewComponent))
</div>

<div class="container-fluid my-4">
  <div class="row">
    <div class="col">
      <h2 class="display-3">Members</h2>
      <div class="text-center">
        <a class="btn btn-primary btn-lg text-center" asp-controller="UserList" asp-action="Index">View members</a>
      </div>
    </div>
    <div class="col">
      <h2 class="display-3">Mentors</h2>
      <div class="text-center">
        <a class="btn btn-primary btn-lg btn-disabled" disabled="">View mentors</a>
      </div>
    </div>
  </div>
</div>
