@using Ubora.Web.Data
@using Ubora.Web._Features.ProjectList
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Welcome";
}
@*
@if (!SignInManager.IsSignedIn(User))
{
    <section class="hero full-width"><p><b>UBORA</b><br>the biomedical engineering open design platform</p></section>
}

<section class="initiative full-width">
    <div class="initiative-option">
        <button class="button secondary-button" disabled>I have a need</button>
        <h2>Find help through open discussion.</h2>
    </div>

    <div class="initiative-option">
        <a asp-controller="ProjectCreation" asp-action="Create" class="button primary-button">I have an idea</a>
        <h2>Propose your biomedical solution.</h2>
    </div>
</section>

<section class="projects">
    @if (SignInManager.IsSignedIn(User))
    {
        @await Component.InvokeAsync(typeof(MyProjectListViewComponent))
    }

    @await Component.InvokeAsync(typeof(PublicProjectListViewComponent))
</section>

<section>
    <h2>Members of UBORA</h2>
    <div class="center-element">
        <a asp-controller="UserList" asp-action="Index" class="button secondary-button">View members</a>
    </div>
</section> *@
