@using Ubora.Web.Data
@using Ubora.Web._Features.ProjectList
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Welcome";
}

<div class="container-fluid mb-4">
    <div class="row">
        <div class="col-lg-6 text-center landing-image-discussion">
            <p class="lead display-5">Have a need for a Bioengineering Solution?</p>
            <a tabindex="0" class="btn btn-outline-light btn-primary popover-dismiss" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Coming soon">Forum</a>
        </div>
        <div class="col-lg-6 text-center landing-image-solution">

        @if(User.Identity.IsAuthenticated)
        {
            if (await AuthorizationService.IsAuthorizedAsync(User, Policies.CanCreateProject))
            {

                <p class="lead display-5">Have an idea? Propose your biomedical solution.</p>
                <a class="btn btn-primary btn-cta align-self-end box-shadow" asp-controller="ProjectCreation" asp-action="Create" role="button">Create project</a>
            }
            else
            {
                <p class="lead display-5">Have an idea? Propose your biomedical solution.</p>
                <a class="btn btn-cta btn-disabled align-self-end js-tooltip box-shadow" role="button" disabled title="Your email must be confirmed to create a project!" data-placement="bottom">Create project</a>
            }
        }
        else
        {
            <p class="lead display-5">Have an idea? Propose your biomedical solution.</p>
            <a class="btn btn-cta btn-disabled align-self-end js-tooltip box-shadow" role="button" disabled title="You have to log in to create a project!" data-placement="bottom">Create project</a>
        }
        </div>
    </div>
</div>
<div class="container my-5">
    @if (SignInManager.IsSignedIn(User))
    {
        @await Component.InvokeAsync(typeof(MyProjectListViewComponent))
    }

</div>
<div class="container my-5">
    @await Component.InvokeAsync(typeof(PublicProjectListViewComponent))
</div>
