@using Ubora.Web._Features.ProjectList

<div class="landing-page">
    <header class="masthead text-center d-flex ">
        <div class="container-fluid my-auto">
            <div class="row">
                <div class="col-lg-7 mx-auto">
                    <h1 class="section-heading">
                        <strong>UBORA: Euro-African Open Biomedical Engineering e-platform for Innovation through Education</strong>
                    </h1>
                    <hr class="light">
                </div>
                <div class="col-lg-7 mx-auto">
                    <p class="text-faded mb-5">The EU funded UBORA project aims at creating an  e-Infrastructure, UBORA, for open source co-design of new solutions to face the current and future healthcare challenges of Europe and Africa, by exploiting networking, knowledge on rapid prototyping of new ideas and sharing of safety criteria and performance data.</p>
                    <a class="btn btn-outline-light btn-primary btn-lg mx-1" href="#aboutUBORA">Find Out More</a>
                    <a class="btn btn-cta btn-primary btn-lg mx-1" href="#signup">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="pull-down">
            <a class="ct-js-btn-scroll" href="#section2">
                <i class="material-icons text-faded">keyboard_arrow_down</i>
            </a>
        </div>
    </header>

    <section id="section2"">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-dark">Public projects</h2>
                    <hr class="dark my-4">
                    <p class="text-faded-dark mb-4">All projects are open-source and free to use.</p>
                </div>
            </div>

            <div class="row my-3">
                <div id="carouselExampleIndicators" class="carousel slide w-100" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="carousel-image-1"></div>
                            @*<img class="d-block w-100" src="/images/Artboard1.png" alt="First slide">*@
                            <div class="carousel-caption d-none d-md-block" style="background-color: #F5F5F5; color: #3D3D3D">
                                <h3>Breast Pump</h3>
                                <p>Economic and Ecological Breast Pump with Cooling and Preservation System of the Breastmilk.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-image-2"></div>
                            @*<img class="d-block w-100" src="/images/Artboard2.png" alt="Second slide">*@
                            <div class="carousel-caption d-none d-md-block" style="background-color: #F5F5F5; color: #3D3D3D">
                                <h3>Protective Mask</h3>
                                <p>Different masks designed to help patients with broken nose.</p>
                                <div class="d-flex justify-content-end">
                                    <a href="#" class="d-flex align-items-center btn-icon">
                                        <span class="mr-1">View project</span>
                                        <i class="material-icons">arrow_forward</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-image-3"></div>
                            @*<img class="d-block w-100" src="/images/Artboard3.png" alt="Third slide">*@
                            <div class="carousel-caption d-none d-md-block" style="background-color: #F5F5F5; color: #3D3D3D">
                                <h3>Portable neonatal warmer</h3>
                                <p>Portable Neonate Warmer (PNW) provides the appropriate thermal protection and temperature monitoring for neonates with hypothermia that are being transported to a health facility from home.</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            @*TODO: get information about projects from backend*@
            <div class="row justify-content-center mt-4">
                <div class="row">
                    <div class="col-md-4 col-lg-3 pb-md-3 pb-sm-3">
                        <div class="card">
                            <a href="">
                                <img class="card-img-top w-100" src="/images/project-default-image.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Warm Hug</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 pb-md-3">
                        <div class="card">
                            <a href="">
                                <img class="card-img-top" src="/images/project-default-image.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Resuscitation device for neonates</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 pb-md-3">
                        <div class="card">
                            <a href="">
                                <img class="card-img-top" src="/images/project-default-image.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Organ-on-a-chip for modeling metastasis</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 pb-md-3">
                        <div class="card">
                            <a href="">
                                <img class="card-img-top" src="/images/project-default-image.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Multipurpose radiant warmer</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-end mt-3">
                        <a href="#" class="d-flex align-items-center btn-icon">
                            <span class="mr-1">View all</span>
                            <i class="material-icons">arrow_forward</i>
                        </a>
                    </div>
                </div>
            </div>

                @*@await Component.InvokeAsync(typeof(PublicProjectListViewComponent))*@


        </div>
    </section>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 mx-auto text-center discussion-section">
                <div class="text-center">
                    <h2 class="section-heading text-white">Have a need for medical solution?</h2>
                    <hr class="light my-4">
                    <p class="text-faded mb-4">Find it through open discussion.</p>
                    <a class="btn btn-light btn-primary btn-lg " href="#forum">Some Text</a>
                </div>
            </div>
            <div class="col-lg-6 mx-auto text-center resources-section bg-dark">
                <div class="text-center">
                    <h2 class="section-heading text-white">Looking for medical resources?</h2>
                    <hr class="light my-4">
                    <p class="text-faded mb-4">Here you can find materials which are uploaded by UBORA's administrators and mentors.</p>
                    <a class="btn btn-light btn-primary btn-lg " href="#resources">Some Text</a>
                </div>
            </div>
        </div>
    </div>

    <section class="bg-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading text-white">Heading for Kickstarter section</h2>
                    <hr class="light my-4">
                    <p class="text-faded mb-4">Kickstarter is the world's largest funding platform for creative projects.</p>
                    <a target="_blank" href="https://www.kickstarter.com/" class="btn btn-light btn-primary btn-lg">
                        <i class="material-icons align-middle">favorite_border</i>
                        <span class="align-middle">Donate</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

@*<script>
    $(document).ready(function () {
        $("ct-btn-scroll").on('click', function (event) {
            if (this.hash !== "") {
                event.preventDefault();
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 800, function () {
                    window.location.hash = hash;
                });
            }
        });
    });
</script>*@