@using Ubora.Web._Components
@model IEnumerable<ProjectCardViewModel>

@if (Model.Any())
{
    <div class="row justify-content-center mt-4">
        @foreach (var project in Model)
        {
            <div class="col-md-4 col-lg-3 my-2">
                @Html.Partial("~/_Components/ProjectCard.cshtml", model: project)
            </div>
        }
    </div>
}