@using Ubora.Web._Features.Users.UserList
@model IEnumerable<UserListItemViewModel>

@{
    ViewData["Title"] = "Community";
}

<div class="container my-5">
    <h1>@ViewData["Title"]</h1>

    <ul class="nav nav-tabs" id="communityTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active d-flex align-items-center" id="all-members-tab" data-toggle="tab" href="#allMembers" role="tab" aria-controls="allMembers" aria-selected="true">
                All members
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" id="mentors-tab" data-toggle="tab" href="#mentors" role="tab" aria-controls="mentors" aria-selected="false">
                Mentors
            </a>
        </li>
    </ul>

    <div class="tab-content" id="communityContent">
        <div class="tab-pane fade show active" id="allMembers" role="tabpanel" aria-labelledby="all-members-tab">
            <div class="my-4">
                <div class="row">
                    @foreach (var user in Model)
                    {
                        Html.RenderPartial("~/_Components/UserCards/UserCard.cshtml", new UserCardViewModel(
                            userId: user.UserId,
                            name: user.FullName,
                            roles: user.Role,
                            profilePictureUrl: user.ProfilePictureLink)
                        );
                    }
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="mentors" role="tabpanel" aria-labelledby="mentors-tab">
            <div class="my-4">
               Display mentors
            </div>
        </div>
    </div>


</div>