@using Ubora.Web._Features.Users.UserList
@model Ubora.Web._Features.Users.UserList.UserListController.IndexViewModel

@{
    ViewData["Title"] = "Community";
}

<div class="container my-5">
    <h1>Community</h1>
    <article class="post">
        <div class="row">
            @foreach (var user in Model.UserListItems)
            {
                Html.RenderPartial("~/_Components/UserCards/UserCard.cshtml", new UserCardViewModel(
                    userId: user.UserId,
                    name: user.FullName,
                    roles: user.Role,
                    profilePictureUrl: user.ProfilePictureLink)
                );
            }
        </div>
    </article>
</div>

<div class="page-load-status">
    <p class="infinite-scroll-last">End of content</p>
    <p class="infinite-scroll-error">No more pages to load</p>
</div>

<p><button class="view-more-button">View more</button></p>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/dist/infinite_scroll.bundle.js"></script>
    <script>
        UBORA.initInfiniteScroll(@Html.Raw(Model.Pager.PageCount));
    </script>
}