@using Ubora.Web._Features.Users.UserList
@model IEnumerable<UserListViewModel.UserListItemViewModel>

<section class="full-width user-list">
    @foreach (var user in Model)
    {
        <div class="card user-card">
            <img class="avatar" src="//placehold.it/100x100" alt="@user.FullName" width="100" height="100">
            <h2>@Html.ActionLink(user.FullName, "ViewProfile", "Account", new {userId = user.UserId})</h2>
            @* TODO: Change into mailto: if possible *@
            <p>@Html.ActionLink(user.Email, "ViewProfile", "Account", new {userId = user.UserId})</p>
        </div>
    }
</section>
