@using Ubora.Web._Features.Users.UserList
@model IEnumerable<UserListItemViewModel>

@{
    ViewData["Title"] = "View members";
}

<section class="full-width user-list">
    @foreach (var user in Model)
    {
        <div class="card user-card center-element">
            <img class="avatar" src="@user.ProfilePictureLink" alt="@user.FullName" width="100" height="100">
            <h2>@Html.ActionLink(user.FullName, "View", "Profile", new { userId = user.UserId }, new {@class = "user-card--name"})</h2>
            <a class="user-card--email" href="mailto:@user.Email?Subject=Message%20from%20UBORA">@user.Email</a>
        </div>
    }
</section>
