@using Ubora.Web._Features.Users.UserList
@model IEnumerable<UserListItemViewModel>

@{
    ViewData["Title"] = "Community";
}

<div class="container my-4">
    <h1>Community</h1>
    <div class="row">
        @foreach (var user in Model)
        {
            Html.RenderPartial("~/_Components/UserCards/UserCard.cshtml", new UserCardViewModel(
                userId: user.UserId,
                name: user.FullName,
                roles: user.Role,
                profilePictureUrl: user.ProfilePictureLink)
            );
        }
    </div>
</div>