@using Ubora.Web._Features.Users.UserList
@model System.Collections.Generic.IEnumerable<UserListItemViewModel>

@{
    ViewData["Title"] = "View members";
}

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card-columns">
        @foreach (var user in Model)
        {
          <div class="card text-center">
            <div class="d-flex justify-content-center">
              <img class="card-img-top mt-4 mb-2" src="@user.ProfilePictureLink" alt="@user.FullName profile picture" width="100" height="100">
            </div>
            <div class="card-body">
              <h2 class="card-title">@Html.ActionLink(user.FullName, "ViewProfile", "Profile", new { userId = user.UserId }, new {@class = "user-card--name"})</h2>
            </div>
            <div class="card-footer">
              <a class="card-link" href="mailto:@user.Email?Subject=Message%20from%20UBORA">@user.Email</a>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
