@using Ubora.Web._Features.Users.UserList
@model IEnumerable<UserListViewModel.UserListItemViewModel>

<ul>
    <table>
        <tr>
            <th>Full name</th>
            <th>Email</th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@Html.ActionLink(user.FullName, "ViewProfile", "Account", new {userId = user.UserId})</td>
                <td>@Html.ActionLink(user.Email, "ViewProfile", "Account", new {userId = user.UserId})</td>
            </tr>
        }
    </table>
</ul>