<div id="feedback-modal">
    <div id="feedback-modal-content">
        <section id="feedback-modal-before" class="medium-width">
            <h2>Quick Feedback</h2>
            <label>
                <textarea id="feedback" placeholder="We appreciate all your thoughts about the UBORA platform!" rows="8"></textarea>
            </label>
            <div class="center-element">
                <button id="feedback-send" class="button primary-button small-button">Send</button>
                <button id="feedback-modal-close" class="button secondary-button small-button">Cancel</button>
            </div>
        </section>

        <section id="feedback-modal-after" class="medium-width center-text" style="display: none;">
            <p>
                Thank you!&nbsp;<i class="material-icons">mood</i>
            </p>
        </section>
    </div>
</div>