<div id="feedback-modal" class="feedback-modal" style="">
    <div class="modal-content">
        <section id="feedback-main" class="medium-width">
            <h2>Quick Feedback</h2>
            <label>
                <textarea id="feedback" placeholder="We appreciate all your thoughts!" rows="8"></textarea>
            </label>
            <div class="center-element">
                <button id="feedback-submit" type="submit" class="button primary-button small-button">Send</button>
                <button id="feedback-close" class="button secondary-button small-button">Cancel</button>
            </div>
        </section>

        <section id="feedback-submitted" class="medium-width center-text" style="display: none;">
            <p>
                Thank you!&nbsp;<i class="material-icons">mood</i>
            </p>
        </section>
    </div>
</div>