<!-- Button trigger modal -->
<button type="button" class="btn btn-primary js-feedback-trigger">
    Feedback
</button>

<!-- Modal -->
<div class="modal fade js-feedback-modal" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="feedbackModalLabel">Leave feedback</h5>
                <button type="button" class="close js-feedback-close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group my-4">
                    <textarea class="w-100 feedback-input js-feedback-input" placeholder="We highly value your input and appreciate any thoughts about improving UBORA platform!" rows="10"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary js-feedback-cancel">Cancel</button>
                <button type="button" class="btn btn-primary js-feedback-send">Send</button>
            </div>
        </div>
    </div>
</div>
