@* TODO: Risto Kitsing - finish up what you started :)
<button class="feedback-trigger js-feedback-trigger" title="Leave feedback!">
  <i class="material-icons">chat_bubble</i>Feedback</a>
</button>

<div class="feedback-modal js-feedback-modal js-feedback-modal-invisible">
  <div class="feedback-modal-content">
    <h1>Leave feedback</h1>
    <div class="form-input">
      <textarea class="feedback-input js-feedback-input" placeholder="We highly value your input and appreciate any thoughts about improving UBORA platform!" rows="10"></textarea>
    </div>
    <div class="center-element">
      <button class="button secondary-button small-button js-feedback-cancel">Cancel</button>
      <button class="button primary-button small-button js-feedback-send">Send</button>
    </div>
  </div>
</div>
*@
