@* <footer class="footer mt-4">
  <div class="container">
    <div class="footer-social">
  		<a class="social-item" href="//www.facebook.com/UBORA-261898414244796" target="_blank" rel="nofollow" aria-label="UBORA Facebook">
  	        <img class="social-item--image" src="~/images/icons/facebook_icon.png" alt="Facebook" width="50">
  		</a>

  		<a class="social-item" href="//twitter.com/uborabiomedical" target="_blank" rel="nofollow" aria-label="UBORA Twitter">
  			<img class="social-item--image" src="~/images/icons/twitter_icon.png" alt="Twitter" width="50">
  		</a>

  		<a class="social-item" href="mailto:info@uborabiomedical.org" aria-label="UBORA e-mail">
  			<img class="social-item--image" src="~/images/icons/email_icon.png" alt="Email" width="50">
  		</a>
  	</div>

  	<div class="footer-legal">
  		<img class="legal-flag" src="~/images/EU-flag.jpg" alt="Flag of European Union" width="100">
  		<p class="legal-quote">
  			This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 731053.
  		</p>
  	</div>
  </div>
</footer> *@

<div class="container-fluid my-4">
  <div class="new-footer w-100 h-100">

    <div class="footer-social">
  		<a class="social-item" href="//www.facebook.com/UBORA-261898414244796" target="_blank" rel="nofollow" aria-label="UBORA Facebook">
  	        <img class="social-item--image" src="~/images/icons/facebook_icon.png" alt="Facebook" width="50">
  		</a>

  		<a class="social-item" href="//twitter.com/uborabiomedical" target="_blank" rel="nofollow" aria-label="UBORA Twitter">
  			<img class="social-item--image" src="~/images/icons/twitter_icon.png" alt="Twitter" width="50">
  		</a>

  		<a class="social-item" href="mailto:info@uborabiomedical.org" aria-label="UBORA e-mail">
  			<img class="social-item--image" src="~/images/icons/email_icon.png" alt="Email" width="50">
  		</a>
  	</div>

  	<div class="footer-legal">
  		<img class="legal-flag" src="~/images/EU-flag.jpg" alt="Flag of European Union" width="100">
  		<p class="legal-quote">
  			This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 731053.
  		</p>
  	</div>

  </div>
</div>
