<footer class="footer">
	<div class="footer-legal">
		<img class="legal-flag" src="~/images/EU-flag.jpg" alt="Flag of European Union" width="100">
		<p class="legal-quote">
			This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 731053.
		</p>
	</div>
</footer>
