<footer class="footer">
  <div class="container my-4">
    <div class="row d-flex justify-content-center my-5">
        <div class="col-lg-4">
            <div class="row d-flex justify-content-center flex-nowrap">
                <div class="mx-2">
                    <a class="social-item" href="//www.facebook.com/UBORA-261898414244796" target="_blank" rel="nofollow" aria-label="UBORA Facebook">
                        <img class="social-item--image" src="~/images/icons/facebook_icon.png" alt="Facebook">
                    </a>
                </div>
                <div class="mx-2">
                    <a class="social-item" href="//twitter.com/uborabiomedical" target="_blank" rel="nofollow" aria-label="UBORA Twitter">
                        <img class="social-item--image" src="~/images/icons/twitter_icon.png" alt="Twitter">
                    </a>
                </div>
                <div class="mx-2">
                    <a class="social-item" href="mailto:info@uborabiomedical.org" aria-label="UBORA e-mail">
                        <img class="social-item--image" src="~/images/icons/email_icon.png" alt="Email">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
        <img class="legal-flag mb-3" src="~/images/EU-flag.jpg" alt="Flag of European Union">
        <p class="legal-quote">
            This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 731053.
        </p>
        </div>
    </div>
  </div>
</footer>
