<footer class="footer">
    <div class="container">
        <div class="row py-4">
            <div class="col-md-3 col-sm-6">
                <h6>Features</h6>
                <a href="#">Projects</a>
                <a href="#">Needs forum</a>
                <a href="#">Resources</a>
            </div>
            <div class="col-md-3 col-sm-6">
                <h6>About</h6>
                <a href="#">Community</a>
                <a href="#">Blog</a>
            </div>
            <div class="col-md-3 col-sm-6">
                <h6>Contact</h6>
                <a href="#">Contact us</a>
                <a href="#">Send feedback</a>
            </div>
            <div class="col-md-3 col-sm-6">
                <h6>Support</h6>
                <a href="#">Donate</a>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-lg-1 col-sm-2">
                <img class="legal-flag mb-3 d-inline-block" src="~/images/EU-flag.jpg" alt="Flag of European Union">
            </div>
            <div class="col-lg-5 col-sm-10">
                <p class="legal-quote d-inline-block">
                    This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 731053.
                </p>
            </div>
            <div class="col-lg-6 d-flex justify-content-end">
                <div class="mx-2 d-inline-block">
                    <a class="social-item " href="//www.facebook.com/UBORA-261898414244796" target="_blank" rel="nofollow" aria-label="UBORA Facebook">
                        <img class="social-item--image" src="~/images/icons/facebook_icon.png" alt="Facebook">
                    </a>
                </div>
                <div class="mx-2 d-inline-block">
                    <a class="social-item" href="//twitter.com/uborabiomedical" target="_blank" rel="nofollow" aria-label="UBORA Twitter">
                        <img class="social-item--image" src="~/images/icons/twitter_icon.png" alt="Twitter">
                    </a>
                </div>
                <div class="mx-2 d-inline-block">
                    <a class="social-item" href="mailto:info@uborabiomedical.org" aria-label="UBORA e-mail">
                        <img class="social-item--image" src="~/images/icons/email_icon.png" alt="Email">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
