@using Ubora.Web._Areas.ResourcesArea.ResourcesMenus


<footer class="footer">
    <div class="container">
        <div class="row py-4">
            <div class="col-md-3 col-sm-6 mt-4 mt-sm-0">
                <h6>Features</h6>
                <a asp-controller="ProjectList" asp-action="Search" title="Projects">
                    Device projects
                </a>
                <a asp-controller="LandingPage" asp-action="LandingPage" asp-area="@Areas.ClinicalNeedsArea">
                    Clinical needs
                </a>
                <a asp-action="@nameof(ResourcesMenusController.HighestPriorityResourcePage)" asp-controller="@nameof(ResourcesMenusController).RemoveSuffix()" asp-area="@Areas.ResourcesArea" title="Resources">
                    Resources
                </a>
            </div>
            <div class="col-md-3 col-sm-6 mt-4 mt-sm-0">
                <h6>About</h6>
                <a asp-controller="UserList" asp-action="Index" title="Community">
                    Community
                </a>
                <a href="http://ubora-biomedical.org/" target="_blank" class="d-flex align-items-center">
                    <span>Blog</span>
                    <i class="material-icons font-xs ml-1 text-grey">
                        open_in_new
                    </i>
                </a>
            </div>
            <div class="col-md-3 col-sm-6  mt-4 mt-sm-0">
                <h6>Contact</h6>
                @*TODO: could be some page where people whom to contact when necessary *@
                <a href="mailto:info@uborabiomedical.org" aria-label="UBORA e-mail">Contact us</a>
                @*<a href="#">Send feedback</a>*@
            </div>
            <div class="col-md-3 col-sm-6  mt-4 mt-sm-0">
                <h6>Support</h6>
                <a tabindex="0" class="btn-icon d-inline" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Coming soon">
                    Donate
                </a>
            </div>
        </div>
        <hr />
        <div class="row py-4">
            <div class="col-lg-1 col-sm-2">
                <img class="legal-flag mb-3 d-inline-block" src="~/images/EU-flag.jpg" alt="Flag of European Union">
            </div>
            <div class="col-lg-5 col-sm-10">
                <p class="legal-quote d-inline-block">
                    UBORA e-platform has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 731053.
                </p>
            </div>
            <div class="col-lg-6 d-flex justify-content-end">
                <div class="mx-2 d-inline-block">
                    <a class="social-item" href="//www.facebook.com/UBORA-261898414244796" target="_blank" rel="nofollow" aria-label="UBORA Facebook">
                        <img class="social-item--image" src="~/images/icons/facebook_icon.png" alt="Facebook">
                    </a>
                </div>
                <div class="mx-2 d-inline-block">
                    <a class="social-item" href="//twitter.com/uborabiomedical" target="_blank" rel="nofollow" aria-label="UBORA Twitter">
                        <img class="social-item--image" src="~/images/icons/twitter_icon.png" alt="Twitter">
                    </a>
                </div>
                <div class="mx-2 d-inline-block">
                    <a class="social-item" href="mailto:info@uborabiomedical.org" aria-label="UBORA e-mail">
                        <img class="social-item--image" src="~/images/icons/email_icon.png" alt="Email">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

@*TODO: remove when donate link works*@
<script>
    $('.popover-dismiss').popover({
        trigger: 'focus'
    })
</script>
