@using Ubora.Web.Data
@using Ubora.Web.Services
@using Ubora.Web._Features.Notifications

@inject SignInManager<ApplicationUser> SignInManager
@inject ApplicationUserManager UserManager

<p class="notice-indev">In-development preview</p>
@if (SignInManager.IsSignedIn(User))
{
  if (!User.IsEmailConfirmed())
  {
      <p class="notice-account-confirmation">We have sent an email confirmation link to @User.GetEmail()<br><a class="notice-account-confirmation-link" href="@Url.Action("ResendEmailConfirmation", "Account")">Resend confirmation email?</a></p>
  }
}

@if (SignInManager.IsSignedIn(User))
{
<nav class="header navbar navbar-toggleable-md sticky-top">
  <a class="navbar-brand" asp-controller="Home" asp-action="Index">
    <img id="UboraLogo" src="~/images/icons/ubora-logo.svg" alt="UBORA logo" height="64">
  </a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle header navigation">
    <i class="material-icons">menu</i>
  </button>
  <div id="headerNavbar" class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" asp-controller="ProjectList" asp-action="Search">
          <span class="nav-link-description">Search</span>
          <i class="material-icons">search</i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" asp-controller="ProjectList" asp-action="MyProjects">
          <span class="nav-link-description">Projects</span>
          <i class="material-icons">folder</i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-notification d-flex align-items-center" asp-controller="Notifications" asp-action="Index">
          <span class="nav-link-description">Notifications</span>
          @await Component.InvokeAsync(typeof(UnreadNotificationsViewComponent))
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" asp-controller="Manage" asp-action="Index">
          <span class="nav-link-description">Profile</span>
          <i class="material-icons">account_circle</i>
        </a>
      </li>
      @if (User.IsInRole(ApplicationRole.Admin))
      {
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" asp-controller="Admin" asp-action="Diagnostics">
        <span class="nav-link-description">Admin</span>
          <i class="material-icons">build</i>
        </a>
      </li>
      }
    </ul>
  </div>
</nav>
}
else
{
<nav class="header navbar navbar-toggleable-md sticky-top">
  <a class="navbar-brand" asp-controller="Home" asp-action="Index">
    <img id="UboraLogo" src="~/images/icons/ubora-logo.svg" alt="UBORA logo" height="64">
  </a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle header navigation">
    <i class="material-icons">menu</i>
  </button>
  <div id="headerNavbar" class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item">
      <a class="nav-link d-flex align-items-center" asp-controller="ProjectList" asp-action="Search">
        <span class="nav-link-description">Search</span>
        <i class="material-icons">search</i>
      </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" id="SignInSignUp" class="nav-link" asp-controller="Account" asp-action="Login">
          <span class="nav-link-description">Log in</span>
          <i class="material-icons">account_circle</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
}
