@using Ubora.Web.Data
@using Ubora.Web.Services
@using Ubora.Web._Features.Notifications

@inject SignInManager<ApplicationUser> SignInManager
@inject ApplicationUserManager UserManager

<header class="header">
  <div class="header-notices">
    <p class="notice-indev">In-development preview</p>
    @if (SignInManager.IsSignedIn(User))
    {
      if (!User.IsEmailConfirmed())
      {
          <p class="notice-account-confirmation">We have sent an email confirmation link to @User.GetEmail()<br><a class="notice-account-confirmation-link" href="@Url.Action("ResendEmailConfirmation", "Account")">Resend confirmation email?</a></p>
      }
    }
  </div>

  @if (SignInManager.IsSignedIn(User)) {
    <nav class="header-element-list">
      <a asp-controller="Home" asp-action="Index">
        <img class="header-logo" src="~/images/icons/ubora-logo.svg" alt="UBORA logo" width="100">
      </a>

      <div class="header-action-list">
        <a class="header-action" asp-controller="ProjectList" asp-action="MyProjects">
          <i class="header-action-icon material-icons">folder</i>
          <span class="header-action-description">My projects</span>
        </a>

        <a class="header-action" asp-controller="Notifications" asp-action="Index">
          <i class="header-action-icon material-icons">notifications</i>
          <span class="header-action-description">Notifications</span>
          <span>@await Component.InvokeAsync(typeof(UnreadNotificationsViewComponent))</span>
        </a>

        <a class="header-action" asp-controller="ProjectList" asp-action="Search">
          <i class="header-action-icon material-icons">search</i>
          <span class="header-action-description">Search</span>
        </a>

        <a class="header-action js-sidemenu-toggle" role="button" tabindex="0">
          <i class="header-action-icon material-icons">menu</i>
          <span class="header-action-description">Menu</span>
        </a>
      </div>
    </nav>

    <aside class="sidemenu js-sidemenu">
      <div class="sidemenu-action-close">
        <a class="js-sidemenu-toggle" role="button" tabindex="0">
          <i class="material-icons">close</i>Close menu
        </a>
      </div>

      <div class="sidemenu-profile-wrapper">
        <div class="sidemenu-profile">
          <img class="sidemenu-profile-image avatar" src="@User.GetProfilePictureUrl()" alt="Profile picture" width="100">
          <div>
            <p class="sidemenu-profile-name">@User.GetFullName()</p>
            <a asp-controller="Manage" asp-action="Index">View profile</a>
          </div>
        </div>
      </div>

      <nav class="sidemenu-action-list">

          <a class="sidemenu-action" asp-controller="ProjectCreation" asp-action="Create">
              <i class="material-icons">create_new_folder</i>New project
          </a>

          @if (User.IsInRole(ApplicationRole.Admin))
          {
              <a class="sidemenu-action" asp-controller="Admin" asp-action="Diagnostics">
                  <i class="material-icons">build</i>Diagnostics
              </a>
          }

          <form class="signout-form" asp-action="Logout" asp-controller="Account" method="post">
            <button class="sidemenu-action sidemenu-action-signout" type="submit">
              <i class="material-icons" id="SignOut">exit_to_app</i>Sign out
            </button>
          </form>
      </nav>

    </aside>
  } else {
    <nav class="header-element-list">
      <a asp-controller="Home" asp-action="Index">
        <img class="header-logo" src="~/images/icons/ubora-logo.svg" alt="UBORA logo" width="100">
      </a>

      <a class="header-status-action" id="SignInSignUp" asp-controller="Account" asp-action="Login">Sign&nbsp;in/sign&nbsp;up</a>

      <div class="header-action-list">
        <a class="header-action header-action-search" asp-controller="ProjectList" asp-action="Search">
          <i class="header-action-icon material-icons">search</i>
          <span class="header-action-description">Search</span>
        </a>
      </div>
    </nav>
  }
</header>
