@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewData["Title"] - UBORA</title>
	<link rel="icon" type="image/png" href="~/images/favicon.png">
	<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="~/lib/openSans/openSans.css" rel="stylesheet">

	<link rel="stylesheet" href="~/css/styles.css">

	@Html.Raw(JavaScriptSnippet.FullScript)
</head>

<body>
	@await Html.PartialAsync("_Header")

	<main>@RenderBody()</main>

 	@await Html.PartialAsync("_Footer")

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/UBORA.js"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
