<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Head", required: false)
    @{
        Html.RenderPartial("_LayoutHead");
    }
</head>

<body>
    @{
        Html.RenderPartial("_Header");
    }

    <main>
        @RenderBody()
    </main>
    
    @{
        Html.RenderPartial("_Footer");
        Html.RenderPartial("_LayoutBody");
    }
    @RenderSection("Scripts", required: false)
</body>
</html>