@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet

<meta charset="utf-8">
<meta name="description" content="The biomedical engineering open design platform">
<meta name="author" content="AgileWorks Ltd.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="~/images/favicon.png" rel="icon" type="image/png">

@if (!string.IsNullOrWhiteSpace(ViewData["Title"] as string))
{
    <title>@ViewData["Title"] - UBORA</title>
}
else
{
    <title>UBORA</title>
}

<link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

<environment names="Staging,Production">
    <link rel="stylesheet" href="~/dist/app.bundle.css" asp-append-version="true">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
            asp-fallback-src="~/dist/lib/jquery.min.js"
            asp-fallback-test="window.jQuery"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.js"
            asp-fallback-src="~/dist/lib/umd/popper.min.js"
            asp-fallback-test="window.Popper"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"
            asp-fallback-src="~/dist/lib/bootstrap.min.js"
            asp-fallback-test="window.jQuery"></script>
</environment>

<environment names="Development">
    <link rel="stylesheet" href="~/dist/app.bundle.css">
    <script src="~/dist/lib/jquery.min.js"></script>
    <script src="~/dist/lib/umd/popper.min.js"></script>
    <script src="~/dist/lib/bootstrap.min.js"></script>
</environment>

<script src="~/dist/lib/jquery.timeago.js"
        asp-fallback-src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.1/jquery.timeago.min.js"
        asp-fallback-test="window.jQuery">
</script>

<script>
    jQuery(document).ready(function() {
        jQuery.timeago.settings.cutoff = 1000 * 60 * 60 * 24 * 7; // cutoff when older than 7 days
        jQuery(".timeago").timeago();
    });
</script>

@Html.Raw(JavaScriptSnippet.FullScript)