@using Ubora.Web._Features._Shared.Notices
@model dynamic

@while (Notices.Any())
{
    var notice = Notices.Dequeue();
    switch (notice.Type)
    {
        case NoticeType.Info:
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button id="Close" type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <p>@notice.Text</p>
          </div>
          break;
        case NoticeType.Success:
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button id="Close" type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <p>@notice.Text</p>
          </div>
          break;
        case NoticeType.Error:
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button id="Close" type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <p>@notice.Text</p>
          </div>
          break;
    }
}
