@using Ubora.Web._Features._Shared.Notices
@model IReadOnlyCollection<Notice>

@foreach (var notice in Model)
{
    switch (notice.Type)
    {
        case NoticeType.Info:
            <div class="notice notice-info">
                <span class="notice-close js-notice-close">Close</span>
                <p class="notice-text">@notice.Text</p>
            </div>
            break;
        case NoticeType.Success:
            <div class="notice notice-success">
                <span class="notice-close js-notice-close">Close</span>
                <p class="notice-text">@notice.Text</p>
            </div>
            break;
        case NoticeType.Error:
            <div class="notice notice-error">
                <span class="notice-close js-notice-close">Close</span>
                <p class="notice-text">@notice.Text</p>
            </div>
            break;
    }
}
