@using Ubora.Web._Features._Shared.Notices
@model dynamic

@while (Notices.Any())
{
    var notice = Notices.Dequeue();
    switch (notice.Type)
    {
        case NoticeType.Info:
            <div class="row justify-content-center">
               <div class="alert alert-info alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <p>@notice.Text</p>
              </div>
            </div>
            break;
        case NoticeType.Success:
            <div class="row justify-content-center">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p>@notice.Text</p>
                </div>
            </div>
            break;
        case NoticeType.Error:
            <div class="row justify-content-center">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p>@notice.Text</p>
                </div>
            </div>

            break;
    }
}


<script>
    $(".alert-success").fadeTo(4000, 500).slideUp(500, function () {
        $(".alert-success").slideUp(500);
    });
</script>
