@using Microsoft.AspNetCore.Html;
@using Ubora.Web._Features.Projects._Shared
@using Ubora.Web._Features.Projects.Workpackages
@using Ubora.Web._Features.Projects.Workpackages.SideMenu

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css"
          asp-fallback-href="~/dist/libs/simplemde.min.css">
    @RenderSection("Head", required: false)
    @{
        Html.RenderPartial("_LayoutHead");
    }
</head>

<body>
    @{
        Html.RenderPartial("_Header");

        var projectMenuOption = ViewData["MenuOption"];
        if (projectMenuOption != null) // TODO: All views should have project menu?
        {
            <div class="container-fluid">
                <div class="row project-header-container">
                    <div class="col-xl-3"></div>
                    <div class="col-xl-8">
                        @{
                            Html.RenderPartial("~/_Features/Projects/_Shared/_ProjectMenu.cshtml", new ProjectMenuViewModel((ProjectMenuOption)projectMenuOption));
                        }
                    </div>
                </div>
            </div>
        }
    }

    @{
        var workpackageMenuOption = ViewData[nameof(WorkpackageMenuOption)];
        IHtmlContent wpSideMenuComponent = null;
        if (workpackageMenuOption != null)
        {
            wpSideMenuComponent = await Component.InvokeAsync<WorkpackageSideMenuViewComponent>();
        }

        <main>
            @if (wpSideMenuComponent != null)
            {
                <div class="wp-sidemenu-lg">
                    <button type="button" class="btn btn-icon d-flex align-items-center pl-0" data-toggle="modal" data-target="#wpSidemenuModal">
                        <i class="material-icons mr-2">format_list_numbered</i>
                        <span>WP menu</span>
                    </button>
                    <div class="modal fade modal-left-pane" id="wpSidemenuModal" tabindex="-1" role="dialog" aria-labelledby="wpModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @{ wpSideMenuComponent.WriteTo(Output, HtmlEncoder); }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }


            <div class="container-fluid my-4">
                <div class="row">
                    <div class="col-xl-3">
                        @if (wpSideMenuComponent != null)
                        {
                            <div class="wp-sidemenu">
                                @{ wpSideMenuComponent.WriteTo(Output, HtmlEncoder); }
                            </div>
                        }
                        else
                        {
                            @RenderSection("Left", required: false)
                        }
                    </div>
                    <div class="col-xl-7 no-gutters">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </main>

    }

    <script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"
            asp-fallback-src="~/dist/libs/marked.min.js"
            asp-fallback-test="window.marked">
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js"
            asp-fallback-src="~/dist/libs/simplemde.min.js"
            asp-fallback-test="window.SimpleMDE">
    </script>
    @{
        Html.RenderPartial("_LayoutBody");
    }
    @RenderSection("Scripts", required: false)
</body>
</html>