@{
    ViewData["Title"] = "Error";
}
<section class="initiative full-width">
    <div class="initiative-option">
        <h1>Error @ViewData["statusCode"]</h1>
        <h3>Sorry, this page isn't available. Please try again!</h3>
    </div>
</section>