@model Ubora.Web._Features._Shared.Templates.CallBackUrlTemplateViewModel
@{ 
    var confirmationUrl = Html.Raw(Url.Action("ConfirmEmail", "Account", new { userId = Model.UserId, Model.Code }, Context.Request.Scheme));
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>E-mail confirmation</title>
</head>
<body>
    <h1 style='color:#4777BB; font-family: sans-serif; text-align:center;'>E-mail confirmation</h1>
    <p style='font-family:sans-serif;'>Please confirm your e-mail by clicking here on the following link or copy-paste it in your browser: <br /><a href="@confirmationUrl">@confirmationUrl</a>.</p>
</body>
</html>
