@model Ubora.Web._Features._Shared.Templates.CallBackUrlTemplateViewModel
@{
    var resetPasswordUrl = Html.Raw(Url.Action("ResetPassword", "Account", new { userId = Model.UserId, Model.Code }, Context.Request.Scheme));
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Forgot password?</title>
</head>
<body>
    <h1 style='color:#4777BB; font-family: sans-serif; text-align:center;'>Password reset</h1>
    <p style='font-family:sans-serif;'>You can reset your password by clicking on the following link or copy-paste it in your browser: <br /><a href="@resetPasswordUrl">@resetPasswordUrl</a>.</p>
</body>
</html>
