@model Ubora.Web._Features._Shared.Templates.CallBackUrlTemplateViewModel
@{
    var resetPasswordUrl = Html.Raw(Url.Action("ResetPassword", "Account", new { userId = Model.UserId, Model.Code }, Context.Request.Scheme));
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Email Design</title>
    <style type="text/css">
        @@media only screen and (min-device-width: 601px) {
            .content {
                width: 600px !important;
            }
        }
    </style>
</head>
<body bgcolor="#f5f5f5">
    <table align="center" style="margin: 0; padding: 0; min-width: 100%!important; background-color:#f5f5f5;">
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>
                <table class="content" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse: collapse; width: 100%; max-width: 600px;">
                    <tr>
                        <td bgcolor="#4777BB" style="color: white; padding: 30px 10px 30px 10px; text-align: center; font-size: 30px; font-family:'Arial', sans-serif;">
                            UBORA e-Platform
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#FFF" style="color: #4777BB; padding: 40px 30px 30px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td width="260" valign="top" align="center">
                                                    <img src="cid:@Model.UboraLogoContentId" alt="Ubora logo" width="100" height="100" style="display: block;" />
                                                </td>
                                                <td width="260" valign="top" style="text-align:center; padding: 30px 0 20px 0; font-size: 25px; font-family:'Arial', sans-serif;">
                                                    Password reset
                                                </td>
                                                <td width="260" valign="top"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 20px 20px 30px 20px; text-align: center; font-family:'Arial', sans-serif;">
                                        We have received a request to reset your password. If you didn't make the request, just ignore this email.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 20px 20px 7px 20px; text-align: center; font-family:'Arial', sans-serif;">
                                        You can reset your password by clicking the button below:
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td align="center" valign="middle" style="letter-spacing:-.5px; line-height:150%; padding:7px 30px 7px 30px;">
                                                    <a href="@resetPasswordUrl" target="_blank" style="font-weight:bold; font-size: 16px; color:#FFFFFF; text-decoration:none; font-family:'Arial', sans-serif; border-radius: 3px; background-color: #4777BB; border-top: 12px solid #4777BB; border-bottom: 12px solid #4777BB; border-right: 18px solid #4777BB; border-left: 18px solid #4777BB; display: inline-block;">
                                                        <strong style="text-decoration:none; color:#FFFFFF;">Reset password</strong>
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 20px 20px 30px 20px; text-align: center; font-family:'Arial', sans-serif;">
                                        If the button does not work, you can reset your password by clicking on the following link or copy-paste it in your browser:
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="@resetPasswordUrl">@resetPasswordUrl</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#4777BB" style="color: white; padding: 20px 20px 20px 20px; text-align: center;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td width="260" valign="top"></td>
                                    <td width="260" valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td width="260" valign="top" align="right">
                                                    <a href="//www.facebook.com/UBORA-261898414244796">
                                                        <img src="cid:@Model.FacebookLogoContentId" alt="facebook logo" width="20" height="20" style="display: block;" />
                                                    </a>
                                                </td>
                                                <td width="260" valign="top" align="center">
                                                    <a href="//twitter.com/uborabiomedical">
                                                        <img src="cid:@Model.TwitterLogoContentId" alt="twitter logo" width="20" height="20" style="display: block;" />
                                                    </a>
                                                </td>
                                                <td width="260" valign="top" align="left">
                                                    <a href="mailto:info@uborabiomedical.org">
                                                        <img src="cid:@Model.EmailLogoContentId" alt="email logo" width="20" height="20" style="display: block;" />
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="260" valign="top"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
</body>
</html>
