@model Ubora.Web._Features._Shared.Templates.CallBackUrlTemplateViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Forgot password?</title>
</head>
<body>
    <h1 style='color:#4777BB;'>Password reset</h1>
    <p>You can reset your password by clicking <a href="@Html.Raw(Url.Action("ResetPassword", "Account", new { userId = Model.UserId, Model.Code }, Context.Request.Scheme))">this link</a>."</p>
</body>
