@model Ubora.Web._Features.Projects.Repository.AddFileViewModel

<div class="row">
    <div class="col d-flex flex-column align-items-center">
        <h2>Upload new file</h2>

        <form method="post" enctype="multipart/form-data" class="w-100" id="my-dropzone" asp-controller="Repository" asp-action="AddFile">

             @*Drag and drop*@
            <div class="dropzone-previews dropzone">
                <div class="dz-message">
                  <i class="material-icons">cloud_upload</i>
                  <p>Drop files here or click to upload</p>
                </div>
            </div>

            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="FolderName">Select a folder</label>
                <select class="form-control" asp-for="FolderName">
                    <option selected disabled>Select a folder</option>
                    <option value="Hardware">Hardware</option>
                    <option value="Electronics and firmware">Electronics and firmware</option>
                    <option value="Software">Software</option>
                    <option value="System integrations">System integrations</option>
                </select>
                <span class="my-3" asp-validation-for="FolderName"></span>
            </div>

            <div class="form-group">
                <label asp-for="Comment">Comment</label>
                <input class="form-control" asp-for="Comment" type="text" placeholder="Enter a comment...">
            </div>

            <div class="d-flex justify-content-center">
                <button id="btnSubmit" type="button" class="btn btn-primary">Upload new file</button>
            </div>
        </form>
    </div>
</div>
