@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Repository.ProjectRepositoryViewModel

@{
    ViewData["Title"] = "File history";
    ViewData["MenuOption"] = ProjectMenuOption.Repository;
}

<section class="medium-width">
  <h1>Model.ProjectName</h1>
</section>

<section class="medium-width">
  <h2>History of Model.FileName</h2>
  <table class="table table-revision">
    <tr>
      <th>Download</th>
      <th>Revision number</th>
      <th>Size</th>
      <th>Comment</th>
    </tr>
    <tr class="table-row-content-center">
      <td>
        @* TODO: Martin Betlem - add download functionality *@
        <a href="#" title="Download file" aria-label="Download file">
            <i class="file-list--item-control material-icons">file_download</i>
        </a>
      </td>
        <td>2.0</td>
        <td>540kb</td>
        <td>A new, enhanced version of my project file</td>
      </td>
    </tr>
    <tr class="table-row-content-center">
      <td>
        <a href="#" title="Download file" aria-label="Download file">
            <i class="file-list--item-control material-icons">file_download</i>
        </a>
      </td>
      <td>1.0</td>
      <td>320kb</td>
      <td>This is the initial version of my project file.</td>
    </tr>
  </table>
</section>
