@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Repository.View3DFileViewModel

@{
    ViewData["Title"] = "View 3D file";
    ViewData["MenuOption"] = ProjectMenuOption.Repository;
}

<div class="container my-4">
    <div class="row">
        <div class="col">
            <h2 class="my-4">View 3D file of @Model.FileName</h2>
            <p class="text-informative">Notes:</p>
            <ul class="text-informative">
                <li>Zoom up - press the 'X'</li>
                <li>Zoom down - press the 'Z'</li>
            </ul>
            <div id="container"></div>
        </div>
    </div>
</div>

<script>
    window.init3Dviewer = '@Html.Raw(Model.FileBlobSasUrl)'
</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/dist/lib/three.min.js"></script>
    <script src="~/dist/lib/AMFLoader.js"></script>
    <script src="~/dist/lib/OrbitControls.js"></script>
    <script src="~/dist/lib/STLLoader.js"></script>
    <script src="~/dist/lib/nexus/nexus.js"></script>
    <script src="~/dist/lib/nexus/nexus_three.js"></script>
    <script src="~/dist/threeDimensional_file_viewer.bundle.js"></script>
}