@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Repository.View3DFileViewModel

@{
    ViewData["Title"] = "View 3D file";
    ViewData["MenuOption"] = ProjectMenuOption.Repository;
}

<div class="container my-4">
    <div class="row">
        <div class="col">
            <h2 class="my-4">View 3D file of @Model.FileName</h2>
            <ul class="text-informative">
                <li>Zoom out - press 'Z'</li>
                <li>Zoom in - press 'X'</li>
            </ul>
            <div id="iframe-3dviewer">
                <div id="gui_container"></div>
                <div id="3d_container"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/dist/lib/three.min.js"></script>
    <script src="~/dist/lib/nexus/nexus.js"></script>
    <script src="~/dist/lib/nexus/nexus_three.js"></script>
    <script src="~/dist/threeDimensional_file_viewer.bundle.js"></script>
    <script>
        UBORA.init3dViewer('@Html.Raw(Model.FileBlobSasUrl)');
    </script>
}