@{
    ViewData["Title"] = "Messages";
}

﻿<section class="medium-width">
    <h1>Unread</h1>

    <a href="#" class="message message-unread">
        <img src="//placehold.it/100x100" alt="" class="message-author-image">
        <div class="message-container">
            <h3>John Smith</h3>
            <p class="message-author-preview">This is an example of a text being previewed. It would be best, if I could come up with a paragraph long enough and organic enough to actually imitate the real-life case scenarios very well. I hope I have achieved this task because I am running out of creativity of what to write here. How unfortunate!</p>
        </div>
    </a>


    <h1>Read</h1>

    <a href="#" class="message">
        <img src="//placehold.it/100x100" alt="" class="message-author-image">
        <div class="message-container">
            <h3>Carmelo De Maria</h3>
            <p class="message-author-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, suscipit est adipisci tenetur deleniti non dolorum assumenda ullam corporis? Laboriosam ipsam aspernatur natus ipsa tempora est ratione, eos nulla, suscipit?</p>
        </div>
    </a>

    <a href="#" class="message">
        <img src="//placehold.it/100x100" alt="" class="message-author-image">
        <div class="message-container">
            <h3>Kaspar Kallas</h3>
            <p class="message-author-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quaerat adipisci expedita impedit. Optio veniam ratione voluptatem minima aliquid officia, eaque quasi odio dolorem dolore rerum, unde, expedita deleniti nisi.</p>
        </div>
    </a>

</section>
