@model Ubora.Web.Areas.Projects.Views.Dashboard.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<h2>@Model.Name</h2>

Events:
<ul>
    @foreach (var projectEvent in Model.EventStream)
    {
        <li>@projectEvent</li>
    }
</ul>

Members:
<ul>
    @foreach (var member in Model.Members)
    {
        <li>@member</li>
    }
</ul>