<dom-module id="header-action">

	<template>
		<style>
			a,
			a:visited {
				color: var(--primary-color);
				text-decoration: inherit;
				transition: color .3s ease;
			}

			a {
				display: flex;
				align-items: center;
			}

			a:hover {
				color: var(--secondary-color);
			}
		</style>

		<a href$="[[link]]">
			<slot></slot>
			<span>[[description]]</span>
		</a>
	</template>

	<script>
		class HeaderAction extends Polymer.Element {
			static get is() { return "header-action"; }
			static get properties() {
				return {
					link: String,
					description: String
				}
			}
		}
		customElements.define(HeaderAction.is, HeaderAction);
	</script>

</dom-module>
