@using Ubora.Web.Features.Shared
@model Ubora.Web.Features.ProjectManagement.StepOneViewModel

@await Html.PartialAsync("_ProcessSteps", new ProcessStepViewModel
{
    ProjectId = Model.Id,
    StepOneStatus = StepStatus.Active,
    StepTwoStatus = StepStatus.Unfinished,
})

@{
    ViewData["Title"] = "Project drafting";
}

<section class="medium-width">
    <h1 class="full-width">Design planning</h1>

    <form asp-controller="ProjectManagement" asp-action="StepOne" method="post">

        <div class="form-input">
            <label asp-for="Title">Project title</label>
            <input asp-for="Title" placeholder="Name your project">
            <span asp-validation-for="Title"></span>
        </div>

        <h2>Design tags</h2>
        <div class="form-input">
            <label asp-for="ClinicalNeedTags">Clinical need</label>
            <input asp-for="ClinicalNeedTags" placeholder="What is the clinical need?">
            <span asp-validation-for="ClinicalNeedTags"></span>
        </div>

        <div class="form-input">
            <label asp-for="AreaOfUsageTags">Area</label>
            <input asp-for="AreaOfUsageTags" placeholder="Where and how will your project be used?">
            <span asp-validation-for="AreaOfUsageTags"></span>
        </div>

        <div class="form-input">
            <label asp-for="PotentialTechnologyTags">Technology</label>
            <input asp-for="PotentialTechnologyTags" placeholder="Describe potential technologies used in your project...">
            <span asp-validation-for="PotentialTechnologyTags"></span>
        </div>

        <div class="form-input">
            <label asp-for="GmdnTerm">GMDN term</label>
            <input asp-for="GmdnTerm" placeholder="TODO: Input from Italy">
        </div>

        <div class="center-element">
            <button class="button primary-button" type="submit">Save changes</button>
            <a class="button secondary-button" asp-controller="ProjectManagement" asp-action="StepTwo" asp-route-id="@Model.Id">Next step</a>
        </div>

    </form>
</section>
