@using Ubora.Web.Features.Shared
@model Ubora.Web.Features.ProjectManagement.StepTwoViewModel

@{
    ViewData["Title"] = "Dashboard";
}

@await Html.PartialAsync("_ProcessSteps", new ProcessStepViewModel
{
    ProjectId = Model.Id,
    StepOneStatus = StepStatus.Completed,
    StepTwoStatus = StepStatus.Active,
})

<section class="medium-width">
    <h1>@Model.Title</h1>

    <a class="button secondary-button" asp-controller="Tasks" asp-action="List" asp-route-projectId="@Model.Id">Tasks</a>
    <a class="button secondary-button" asp-controller="ProjectManagement" asp-action="History" asp-route-id="@Model.Id">History</a>

    <form asp-controller="ProjectManagement" asp-action="StepTwo" method="post">

        <h3>Needs</h3>
        <label>
            <h4>Description of need</h4>
            <textarea asp-for="DescriptionOfNeed" rows="8" placeholder="Explain the need for this project in greater detail..."></textarea>
            <span asp-validation-for="DescriptionOfNeed"></span>
        </label>

        <label>
            <h4>Description of existing solutions and analysis</h4>
            <textarea asp-for="DescriptionOfExistingSolutionsAndAnalysis" rows="8" placeholder="Please provide an overview of existing solutions with included analysis compared to your project..."></textarea>
            <span asp-validation-for="DescriptionOfExistingSolutionsAndAnalysis"></span>
        </label>

        <h3>Product specification</h3>
        <label>
            <h4>Functionality</h4>
            <textarea asp-for="ProductFunctionality" rows="8" placeholder="What are the main functions of your product?"></textarea>
            <span asp-validation-for="ProductFunctionality"></span>
        </label>

        <label>
            <h4>Performance</h4>
            <textarea asp-for="ProductPerformance" rows="8" placeholder="How do you measure your device performance?"></textarea>
            <span asp-validation-for="ProductPerformance"></span>
        </label>

        <label>
            <h4>Usability</h4>
            <textarea asp-for="ProductUsability" rows="8" placeholder="How and where will this product be used? Under which conditions?"></textarea>
            <span asp-validation-for="ProductUsability"></span>
        </label>

        <label>
            <h4>Safety</h4>
            <textarea asp-for="ProductSafety" rows="8" placeholder="How do you guarantee safety?"></textarea>
            <span asp-validation-for="ProductSafety"></span>
        </label>

        <h3>Involved people study</h3>
        <label>
            <h4>Patient population</h4>
            <textarea asp-for="PatientPopulationStudy" rows="8" placeholder="On which patients will this be used?"></textarea>
            <span asp-validation-for="PatientPopulationStudy"></span>
        </label>

        <label>
            <h4>User requirements</h4>
            <textarea asp-for="UserRequirementStudy" rows="8" placeholder="Who are going to be the end-users and how they will use it?"></textarea>
            <span asp-validation-for="UserRequirementStudy"></span>
        </label>

        <h3>Additional information</h3>
        <label>
            Documents, files, images etc.
            <textarea asp-for="AdditionalInformation" rows="8" placeholder="Additional information"></textarea>
            <span asp-validation-for="AdditionalInformation"></span>
            <br>
            Choose file(s)
            <!-- TODO: RK - design this ugly field into something more beautiful! -->
            <input type="file">
        </label>

        <h3>Device classification</h3>
        <!-- TODO: This will open a modal, where the user can identify and/or classify his/her device -->
        <button class="button button-secondary">Classify your device</button>

        <h3>ISO standards and regulation checklist</h3>
        <!-- TODO: I actually have no idea what should go here... -->

        <br>
        <button class="button primary-button" type="submit">Save changes</button>
    </form>

    <button class="button primary-button" type="submit" disabled>Submit for review</button>
</section>