@using Ubora.Web._Features.Projects.Workpackages
@model Ubora.Web._Features.Projects.DeviceClassifications.DeviceClassificationReviewViewModel

<div class="container-fluid my-4">
    <div class="row">
        <div class="col-lg-3">
            @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))
        </div>
        <div class="col-lg-9 pr-5">
            <h1 class="display-4 mb-4">Chosen class: @Model.ChosenClass</h1>
            <ul class="list-group">
                @foreach (var question in Model.Questions)
                {
                  <li class="list-group-item">
                    <div class="flex-column">
                      <p class="font-weight-bold">@question.QuestionText</p>
                      <p>@question.AnswerText</p>
                    </div>
                  </li>
                }
            </ul>
        </div>
    </div>
</div>
