@model IEnumerable<Microsoft.AspNetCore.Html.IHtmlContent>

@if (Model.Any())
{
    <div class="card-footer text-muted">
        <div class="btn-group w-100">
            <button type="button" class="btn btn-light border-0 py-2 btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage member
            </button>
            <div class="dropdown-menu dropdown-menu-right w-100">
                @foreach (var content in Model)
                {
                    @content
                }
            </div>
        </div>
    </div>
}