@model Ubora.Web._Features.Projects.Members.InviteProjectMemberViewModel

<section class="medium-width">
    
    <h1 class="full-width">Invite member to project</h1>

    <form asp-controller="Members" asp-action="Invite" method="post">
        
        <paper-autocomplete></paper-autocomplete>

        <input asp-for="UserId" />

        <br>
        <button class="button primary-button" type="submit">Invite</button>
    </form>

</section>
