@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Members.InviteProjectMemberViewModel

@{
    ViewData["Title"] = "Members";
    ViewData["MenuOption"] = ProjectMenuOption.Members;
}

<section class="narrow-width">

    <h1 class="full-width">Invite member to project</h1>

    <form asp-controller="Members" asp-action="Invite" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input asp-for="ProjectId" type="hidden"/>

        <div class="form-input">
            <label asp-for="Email">User's email address</label>
            <input asp-for="Email" placeholder="Email address" autofocus>
            <span asp-validation-for="Email"></span>
        </div>

        <div class="form-input">
            <button class="button primary-button full-width" type="submit">Invite member</button>
        </div>
    </form>
</section>
