@model Ubora.Web._Features.Projects.Members.InviteProjectMemberViewModel

<section class="medium-width">

    <h1 class="full-width">Invite member to project</h1>

    <form asp-controller="Members" asp-action="Invite" method="post">
        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <label>
            UserId
            <input asp-for="UserId">
            <span asp-validation-for="UserId"></span>
        </label>
        
        <input asp-for="ProjectId" type="hidden"/>

        <br>
        <button class="button primary-button" type="submit">Invite</button>
    </form>

</section>
