@using Ubora.Web._Features.Projects.Members

@model JoinProjectViewModel

@{
    ViewData["Title"] = "Join project";
}

<div class="container-fluid my-4">
  <div class="row">
    <div class="col text-center">
      <h2>Do you want to join @Model.ProjectName?</h2>

      <form asp-controller="Members" asp-action="Join" method="post">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>

          <div class="form-group">
              <input asp-for="ProjectId" type="hidden" />
              <input asp-for="UserId" type="hidden" />
              <input asp-for="ProjectName" type="hidden" />
          </div>

          <div class="form-group">
              <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">Cancel</a>
              <button class="btn btn-primary" type="submit">Join</button>
          </div>
      </form>
    </div>
  </div>
</div>
