@using Ubora.Web._Features.Projects.Members

@model JoinProjectViewModel

@{
    ViewData["Title"] = "Join project";
}

<section class="medium-width center-element">
    <h2>Do you want to join @Model.ProjectName?</h2>

    <form asp-controller="Members" asp-action="Join" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="input-form">
            <input asp-for="ProjectId" type="hidden" />
            <input asp-for="UserId" type="hidden" />
            <input asp-for="ProjectName" type="hidden" />
        </div>

        <div class="input-form">
            <a class="button secondary-button small-button" asp-controller="Home" asp-action="Index">No, cancel</a>
            <button class="button secondary-button small-button" type="submit">Yes, join</button>
        </div>
    </form>
</section>
