@{
    ViewData["Title"] = "Leave project";
}

<div class="container-fluid my-4">
  <div class="row">
    <div class="col text-center">
      <h3>Are you sure you want to leave the project?</h3>
      <form asp-controller="Members" asp-action="LeaveProject" method="post">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <div class="form-group">
            <a class="btn btn-secondary-ghost" asp-controller="Members" asp-action="Members">No, stay</a>
            <span class="mx-1"></span>
            <button class="btn btn-primary" type="submit">Yes, leave</button>
          </div>
      </form>
    </div>
  </div>
</div>
