@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Members.ProjectMemberListViewModel

@{
    ViewData["Title"] = "Members";
    ViewData["MenuOption"] = ProjectMenuOption.Members;
}

<section class="medium-width">
    <a asp-controller="Members" asp-action="Invite">
        <i class="material-icons">person_add</i>Invite member
    </a>

    <h1 class="full-width">Project members</h1>

    <ol class="project_member_list">
        @foreach (var member in Model.Members)
        {
        <li class="project_member_list--item">
            <div>
                <a class="project_member" asp-controller="Profile" asp-action="View" asp-route-userId="@member.UserId">
                    @member.FullName
                    @if (member.IsProjectLeader)
                    {
                        <i class="material-icons" title="Project leader">supervisor_account</i>
                    }
                    @if (Model.CanRemoveProjectMembers && member.IsProjectLeader)
                    {
                        <a class="project_member--remove" asp-controller="Members" asp-action="RemoveMember" asp-route-memberId="@member.UserId"><i class="material-icons" title="Remove user from project">close</i></a>
                    }
                </a>

            </div>
        </li>
        }
    </ol>
</section>
