@using Ubora.Web._Features.Projects.Members
@model Ubora.Web._Features.Projects.Members.ProjectMemberListViewModel

<section class="medium-width">
    <a asp-controller="Members" asp-action="Invite">
        <i class="material-icons">add_box</i>Invite member
    </a>
    <h1 class="full-width">Project members</h1>

    <ol>
        @foreach (var member in Model.Members)
        {
            <li>
                @member.FullName @member.UserId
            </li>
        }
    </ol>
</section>
