@model PromoteMemberViewModel

@{
    ViewData[nameof(PageTitle)] = "Remove member";
}

<div class="container my-5">
    <div class="text-center">
        <h3>Are you sure you want to promote "@Model.MemberName" from project?</h3>
        <form asp-controller="Members" asp-action="PromoteMember" method="post">
            <input asp-for="MemberId" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="MemberId" type="hidden" />

            <a class="btn btn-outline-primary" asp-controller="Members" asp-action="Members">Cancel</a>
            <button class="btn btn-primary" type="submit">Promote to project leader</button>
        </form>
    </div>
</div>