@using Ubora.Web._Features.Projects.Members

@model RemoveMemberViewModel

<section class="medium-width">
    <h3 class="text-center">Are you sure you want to remove @Model.MemberName from project?</h3>
    <form asp-controller="Members" asp-action="RemoveMember" method="post">
        <input asp-for="MemberId" type="hidden" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="center-element">
            <a class="button secondary-button small-button" asp-controller="Members" asp-action="Members">No, keep user</a>
            <button class="button secondary-button small-button" type="submit">Yes, remove user</button>
        </div>
    </form>
</section>
