@using Ubora.Web._Features.Projects.Members

@model RemoveMemberViewModel

@{
    ViewData["Title"] = "Remove member";
}

<section class="medium-width">
    <h3 class="center-text">Are you sure you want to remove "@Model.MemberName" from project?</h3>
    <form asp-controller="Members" asp-action="RemoveMember" method="post">
        <input asp-for="MemberId" type="hidden" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input asp-for="MemberId" type="hidden" />

        <div class="center-element">
            <a class="button secondary-button small-button" asp-controller="Members" asp-action="Members">No, keep</a>
            <button class="button secondary-button small-button" type="submit">Yes, remove</button>
        </div>
    </form>
</section>
