@using Ubora.Web._Features.Projects.Members

@model RemoveMemberViewModel

<section class="medium-width">
    <h3 class="text-center">Are you sure you want to remove "@Model.MemberName" from project?</h3>
    <form asp-controller="Members" asp-action="RemoveMember" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input asp-for="MemberId" type="hidden" />
        <div class="center-element">
            <button class="button secondary-button small-button" type="submit">Remove</button>
            <a class="button secondary-button small-button" asp-controller="Members" asp-action="Members">Keep</a>
        </div>
    </form>
</section>