.logo {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    min-height: 10rem;
    min-width: 100%;
    display: inline-block;
}

.logo-full {
    background-image:url(/app/images/logo.png);
}

.logo-full-bw {
    background-image: url(/app/images/logo-bw.png);
}

.logo-icon {
    background-image: url(/app/images/icon.png);
}

.logo-icon-bw {
    background-image: url(/app/images/icon-bw.png);
}

div.ndpl-component__sample h1,
div.ndpl-component__sample h2,
div.ndpl-component__sample h3,
div.ndpl-component__sample h4,
div.ndpl-component__sample h5,
div.ndpl-component__sample h6 {
    font-family: 'Open Sans', sans-serif;
}

div.ndpl-component__sample h1 small,
div.ndpl-component__sample h2 small,
div.ndpl-component__sample h3 small,
div.ndpl-component__sample h4 small,
div.ndpl-component__sample h5 small,
div.ndpl-component__sample h6 small {
    color:#555;
}

div.ndpl-component__sample p,
div.ndpl-component__sample ol,
div.ndpl-component__sample ul {
    font-family: 'PT Serif', serif;
}

img.ndpl-sidebar__logo {
    height: 8rem;
}

div.ndpl-component__container img {
    max-height: 8rem;
}

div.grid-unit {
    height: 2rem;
    display: block;
    background-color:#CCC;
    margin:.2rem 0;
}