@using Ubora.Web._Features.Projects.List
@model Ubora.Web._Features.Projects.List.ProjectListViewModel

@if (Model.Projects.Any())
{
    <h2 class="full-width">@Model.Header</h2>

    foreach (var project in Model.Projects)
    {
        <project-card banner="//placehold.it/400x150"
                      title="@project.Title"
                      projecturl="@Url.Action("Dashboard", "Dashboard", new { projectId = project.Id })">
        </project-card>
    }
}
