<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Header</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Item</td>
            <td>100</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Item</td>
            <td>200</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Item</td>
            <td>300</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Item</td>
            <td>400</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Item</td>
            <td>500</td>
        </tr>
    </tbody>
</table>