@using Ubora.Web._Features.Notifications._Base
@model Ubora.Web._Features.Notifications._Base.EventNotificationViewModel

<p>@Model.Message</p> (project: <a asp-controller="Dashboard" asp-action="Dashboard" asp-route-projectId="@Model.ProjectId">@Model.ProjectTitle</a>)
