@model Ubora.Web._Features.Notifications._Base.EventNotificationViewModel

<div class="notification">
    <p>In project <a asp-controller="Dashboard" asp-action="Dashboard" asp-route-projectId="@Model.ProjectId">@Model.ProjectTitle</a>, @Model.Message</p>
    @Html.TimeAgoHistorySpan(Model.CreatedAt)
</div>