@model Ubora.Web._Features.Notifications.GeneralNotificationViewModel


<div class="notification">
    <div class="notification-container box-shadow-2">
        <p class="mb-0 py-1">@Model.Message</p>
        @*TODO: add timeago*@
        <span class="history-timestamp timeago">2 minutes ago</span>
    </div>
</div>