@model Ubora.Web._Features.Notifications.GeneralNotificationViewModel


<div class="notification">
    <div class="notification-container">
        <p class="mb-0 py-1">@Model.Message</p>
    </div>
</div>