@using Ubora.Web._Features.Notifications
@model IEnumerable<Ubora.Web._Features.Notifications._Base.INotificationViewModel>

@{
    ViewData["Title"] = "Notification history";
}

<div class="container my-4">
    <div class="row">
        <div class="col-lg-6">
            <h1>History</h1>
        </div>
        <div class="col-lg-6 d-flex justify-content-end">
            <a class="btn btn-secondary-ghost align-self-start d-sm-block" asp-controller="Notifications" asp-action="Index">
            <i class="material-icons">notifications_active</i>
            <span>Notifications</span>
            </a>
        </div>
    </div>

    <div class="row my-4">
        <div class="col">
            @if (Model.Any())
            {
            foreach (var notification in Model)
            {
                @notification.GetPartialView(Html, true)
            }
            }
            else
            {
            <div class="my-4">
                <p>No history to show.</p>
            </div>
            }
        </div>
    </div>

</div>

