@using Ubora.Web._Features.Notifications
@model HistoryViewModel

@{
    ViewData["Title"] = "Notification history";
}

<section class="medium-width">
    <a class="notifications_pending-button" asp-controller="Notifications" asp-action="Index"><i class="material-icons">notifications</i>Pending invitations</a>
    <h1>History</h1>
    @foreach (var notification in Model.Notifications)
    {
        @notification.GetPartialView(Html)
    }
</section>
