@using System.Linq
@using Ubora.Web._Features.Notifications
@model Ubora.Web._Features.Notifications.NotificationListViewModel

@{
    ViewData[nameof(PageTitle)] = "Notifications";
}

<div class="container my-5">
    <div class="infinite-scroll">
        <h1>@ViewData[nameof(PageTitle)]</h1>
        <div class="post">

            @if (Model.Notifications.Any())
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                foreach (var notification in Model.Notifications)
                {
                    @notification.GetPartialView(Html)
                }
            }
            else
            {
                <div class="row">
                    <div class="col">
                        <div class="my-4">
                            <p>You currently have no notifications.</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    @if (Model.Pager.PageCount > 1)
    {
        @if (Model.Pager.IsFirstPage)
        {
            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-primary js-view-more-button mt-3">Load more</button>
            </div>

            <div class="page-load-status text-center color-grey mt-3">
                <div class="infinite-scroll-request">
                    Loading...
                </div>
            </div>
        }
        else
        {
            <div class="row mt-4">
                <div class="col d-flex justify-content-center">
                    @Html.Partial("~/_Features/_Shared/Paging/Pager.cshtml", Model.Pager)
                </div>
            </div>
        }
        @if (!Model.Pager.IsLastPage)
        {
            <div id="js-more-pages-indicator" style="display: none"></div>
        }
    }
</div>
@section Scripts {
    <script src="~/dist/infinite_scroll.bundle.js"></script>
    <script>
        UBORA.initInfiniteScroll('@Url.Action(nameof(NotificationsController.Index), "Notifications")');
    </script>
}
