@using Ubora.Web._Features.Notifications
@model IndexViewModel

@{
    ViewData["Title"] = "Notifications";
}

@if (Model.Notifications.Any())
{
<section class="medium-width">
    <a asp-controller="Notifications" asp-action="History"><i class="material-icons">history</i>Notification history</a>

    <h1>Pending invitations</h1>

    @foreach (var notification in Model.Notifications)
    {
        if (notification is IndexInvitationViewModel)
        {
            @Html.Partial("~/_Features/Notifications/Partials/IndexInvitationPartial.cshtml", (IndexInvitationViewModel)notification);
        }
        else if (notification is IndexRequestViewModel)
        {
            @Html.Partial("~/_Features/Notifications/Partials/IndexRequestPartial.cshtml", (IndexRequestViewModel)notification);
        }
    }
</section>
}
else
{
    <section class="medium-width">
        <a asp-controller="Notifications" asp-action="History"><i class="material-icons">history</i>Notification history</a>
        <div class="center-element">
            <h3>You currently have no pending invitations.</h3>
        </div>
    </section>
}
