@using Ubora.Web._Features.Notifications
@model IEnumerable<Ubora.Web._Features.Notifications._Base.INotificationViewModel>

@{
    ViewData["Title"] = "Notifications";
}

<section class="medium-width">
    <a class="notifications_history-button" asp-controller="Notifications" asp-action="History"><i class="material-icons">history</i>Notification history</a>

    @if (Model.Any())
    {
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h1>Pending invitations</h1>

        foreach (var notification in Model)
        {
            @notification.GetPartialView(Html, false)
        }
    }
    else
    {
        <div class="center-element">
            <h3>You currently have no pending invitations.</h3>
        </div>
    }
</section>
