@using System.Linq
@using Ubora.Web._Features.Notifications
@model System.Collections.Generic.IEnumerable<Ubora.Web._Features.Notifications._Base.INotificationViewModel>

@{
    ViewData["Title"] = "Notifications";
}

<div class="container my-4">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="display-4">Notifications</h1>
        </div>
        <div class="col-lg-6 d-flex justify-content-end">
          <a class="btn btn-outline-primary align-self-start d-sm-block" asp-controller="Notifications" asp-action="History">
            <i class="material-icons">history</i>
            <span>Notification history</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          @if (Model.Any())
          {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            foreach (var notification in Model)
            {
              @notification.GetPartialView(Html, false)
            }
          }
          else
          {
            <div class="my-4">
              <p>You currently have no notifications.</p>
            </div>
          }
        </div>
      </div>

    </div>
  </div>
</div>
