@using Ubora.Web._Features.Notifications
@model UnreadNotificationsViewModel

@if (Model.UnreadMessagesCount != 0)
{
  <span class="nav-link-notification">
    <i class="material-icons">notifications_active</i>
    <span class="nav-link-notification-count">@Model.UnreadMessagesCount</span>
  </span>
}
else {
  <span class="nav-link-notification">
    <i class="material-icons">notifications_active</i>
  </span>
}
