@using Ubora.Web._Features.Notifications
@model UnreadNotificationsViewModel

@if (Model.UnreadMessagesCount != 0)
{
  <span class="nav-link-notification d-flex align-items-center">
    <i class="material-icons">notifications_active</i>
    <span class="nav-link-notification-count">@Model.UnreadMessagesCount</span>
  </span>
}
else {
    <i class="material-icons ml-0">notifications</i>
}
