@using Ubora.Web._Features.Projects
@using Ubora.Web._Features.Projects.Tasks
@model Ubora.Web._Features.Projects.Tasks.EditTaskViewModel

@{
    ViewData["Title"] = "Tasks";
    ViewData["MenuOption"] = ProjectMenuOption.Tasks;
}

<section class="medium-width">
    <h1 class="full-width">Task draft</h1>

    <form asp-controller="Tasks" asp-action="Edit" method="post">
        
        <input asp-for="ProjectId" type="hidden"/>

        <label>
            Task title
            <input asp-for="Title" placeholder="Task title">
            <span asp-validation-for="Title"></span>
        </label>

        <label>
            Task description
            <input asp-for="Description" placeholder="Task description">
            <span asp-validation-for="Description"></span>
        </label>

        <br>
        <button class="button primary-button" type="submit">Edit task</button>
    </form>
</section>
