@using Ubora.Web._Features.Projects.Workpackages
@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.ApplicableRegulations.IndexViewModel

@{
    ViewData["Title"] = "Formal review";
    ViewData["MenuOption"] = ProjectMenuOption.Workpackages;
}

<section class="project-view full-width">
    @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))

    <section class="medium-width step-view">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @if (Model.Last != null)
        {
            <p>
                Last: <a asp-controller="ApplicableRegulations" asp-action="Review" asp-route-questionnaireId="@Model.Last.QuestionnaireId">@Model.Last.StartedAt</a>
            </p>
        }

        <form asp-action="Start">
            <button type="submit">Start questionnaire</button>
        </form>

        @if (Model.Previous.Any())
        {
            @:Previous:
            <ol>
                @foreach (var questionnaire in Model.Previous)
                {
                    <li>
                        <a asp-controller="ApplicableRegulations" asp-action="Review" asp-route-questionnaireId="@questionnaire.QuestionnaireId">@questionnaire.StartedAt</a>
                    </li>
                }
            </ol>
        }
    </section>
</section>