@model Ubora.Web._Features.Projects.ApplicableRegulations.QuestionViewModel

@Model.Text

<form class="notification--controls" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="QuestionnaireId" />
    <div class="form-input">
        <button class="button secondary-button small-button" type="submit" asp-action="Yes">Yes</button>
    </div>
    <div class="form-input">
        <button class="button secondary-button small-button" type="submit" asp-action="No">No</button>
    </div>
</form>