@using Ubora.Web._Features.Projects.Workpackages
@model Ubora.Web._Features.Projects.ApplicableRegulations.ReviewQuestionnaireViewModel

<section class="project-view full-width">
    @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))
    <section class="medium-width step-view">
        <h3>Questionnaire results:</h3>
        @foreach (var questionAnswer in Model.QuestionAnswerList)
        {
            <h6>@questionAnswer.QuestionText</h6>
            <p>You answered: @(questionAnswer.Answer ? "yes" : "no")</p>
            if (questionAnswer.Answer == true)
            {
                <ul>
                    @Html.Raw(questionAnswer.IsoStandardText)
                </ul>
            }
        }

        <h3>The following standards and guidelines are applicable to all devices, regardless the kind and risk classification:</h3>
        <ul>
            <li>
                <a href="http://shop.bsigroup.com/ProductDetail?pid=000000000030353196">EN ISO 13485:2016</a>
                <p>
                    This standard specifies requirements for all entities involved in medical devices, in all stages of the product life cycle: from design to manufacture to installation to disposal. Ubora Platform is structured to be a guideline for design activities in compliance to this standard.
                </p>
            </li>

            <li>
                <a href="http://shop.bsigroup.com/ProductDetail?pid=000000000030268035">EN ISO 14971:2012</a>
                <p>
                    This standard specifies requirements for designers and manufacturers of medical devices, in order to minimize the risk of the device itself. There is no “risk zero” device but many activities can be implemented to reduce and manage risk. This standard provides useful checklists and also guidance on the most widespread risk management techniques such as FMEA.
                </p>
            </li>

            <li>
                <h6>MEDDEV 2.7.1 rev 4 CLINICAL EVALUATION: A GUIDE FOR MANUFACTURERS AND NOTIFIED BODIES UNDER DIRECTIVES 93/42/EEC and 90/385/EEC</h6>
                <p>
                    This guideline provides information on methods used to assess the clinical performance and the clinical benefit of a medical device.
                    It is provided for free by the Commission at <a href="http://ec.europa.eu/docsroom/documents/17522/attachments/1/translations/en/renditions/native">http://ec.europa.eu/docsroom/documents/17522/attachments/1/translations/en/renditions/native</a>.
                </p>
            </li>

            <li>
                <a href="https://www.iso.org/obp/ui/#iso:std:iec:62366:-1:ed-1:v1:en,fr">IEC 62366-1</a>
                <p>
                    This standard provides guidance on how to manage the human factors while designing a medical device (usability engineering).
                    NOTE: chapter -2 of ths same standards will provide comments and integrations
                </p>
            </li>

            <li>
                <a href="http://shop.bsigroup.com/ProductDetail/?pid=000000000030358535">EN ISO 15223-1:2016</a>
                <p>
                    This standard lists a series of symbols that may be applicable in labels of medical devices
                </p>
            </li>
            <li>
                <h6>There may be product specific standards that apply, talk to your mentor.</h6>
            </li>
        </ul>
    </section>
</section>