@model Ubora.Web._Features.Notifications.Invitations.InvitationToJoinProjectNotificationViewModel

<div class="notification">
    <div class="notification-container">
        <p class="mb-0 py-1">
            You were asked to join project <a asp-controller="Dashboard" asp-action="Dashboard" asp-route-projectId="@Model.ProjectId">@Model.ProjectTitle</a>.
            You
            @if (Model.WasAccepted)
            {
                <b>accepted</b><span>&#46;</span>
            }
            else
            {
                <b>declined</b><span>&#46;</span>
            }
        </p>
    </div>
</div>
