@using Ubora.Web._Features.Notifications.Invitations

@model InvitationPartialViewModel

<form class="default-form" asp-controller="Invitations" asp-action="@Model.Action" method="post">
    <input type="hidden" asp-for="InviteId" />

    <button class="questionnaire_question" type="submit">@Model.Action</button>
</form>