@{
    Layout = "~/_Features/_Shared/_NeedsLayout.cshtml";
    ViewData["Title"] = "Biomedical clinical needs";

}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="" asp-action="">UBORA</a></li>
        <li class="breadcrumb-item active" aria-current="page">Biomedical clinical needs</li>
    </ol>
</nav>
<h1 class="d-inline-block">@ViewData["Title"]</h1>
<div class="row mb-3">
    <div class="col">
        <div class="card px-3 py-3 box-shadow">
            <div class="row">
                <div class="col-lg-7">
                    <h6 class="font-weight-bold">Find a solution to more comfortable masks and moulds for radiotherapy</h6>
                    <div>
                        <p>You might need to have a mould or mask made before your radiotherapy. The mould is also called a shell. The shell keeps the treatment area of your body ...</p>
                    </div>
                </div>
                <div class="col-lg-2">
                    <h6 class="font-weight-bold">Area</h6>
                    <p>Rehabilitation</p>
                </div>
                <div class="col-lg-3">
                    <h6 class="font-weight-bold">Keywords</h6>
                    <p>Mould, mask, rehabilitation, radiotherapy</p>
                </div>
            </div>
            <div class="row">
                <div class="col color-grey font-size-0-8">
                    <a href="#">
                        <span class="d-xs-block">
                            Author: John Smith
                        </span>
                    </a>
                    <span class="dot mx-xl-2 mx-md-2 my-1 d-xs-none"></span>
                    <span class="d-xs-block">Last activity 3 days ago</span>
                    <span class="dot mx-xl-2 mx-md-2 my-1 d-xs-none"></span>
                    <a href="#">
                        <span class="d-xs-block">
                            2 related projects
                        </span>
                    </a>
                    <span class="dot mx-xl-2 mx-md-2 my-1 d-xs-none"></span>
                    <a href="#">
                        <span class="d-xs-block">
                            3 comments
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card px-3 py-3 box-shadow">
            <div class="row">
                <div class="col-lg-7">
                    <h6 class="font-weight-bold">Find a solution to more comfortable masks and moulds for radiotherapy</h6>
                    <div>
                        <p>You might need to have a mould or mask made before your radiotherapy. The mould is also called a shell. The shell keeps the treatment area of your body ...</p>
                    </div>
                </div>
                <div class="col-lg-2">
                    <h6 class="font-weight-bold">Area</h6>
                    <p>Rehabilitation</p>
                </div>
                <div class="col-lg-3">
                    <h6 class="font-weight-bold">Keywords</h6>
                    <p>Mould, mask, rehabilitation, radiotherapy</p>
                </div>
            </div>
            <div class="row">
                <div class="col color-grey font-size-0-8">
                    <a href="#">
                        <span class="d-xs-block">
                            Author: John Smith
                        </span>
                    </a>
                    <span class="dot mx-xl-2 mx-md-2 my-1 d-xs-none"></span>
                    <span class="d-xs-block">Last activity 3 days ago</span>
                    <span class="dot mx-xl-2 mx-md-2 my-1 d-xs-none"></span>
                    <a href="#">
                        <span class="d-xs-block">
                            2 related projects
                        </span>
                    </a>
                    <span class="dot mx-xl-2 mx-md-2 my-1 d-xs-none"></span>
                    <a href="#">
                        <span class="d-xs-block">
                            3 comments
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Right {
    <button class="btn btn-outline-primary btn-action"><i class="material-icons">add</i>Indicate a need</button>
}


