@model Ubora.Web._Features.Projects.Workpackages.Steps.PreproductionDocuments.PreproductionDocumentsViewModel

<h1>Preproduction document</h1>

<p>
    In this section you can download the pre-production documentation of the medical device, a dossier which includes the analysis of needs and users, classification and standards, description of its hardware/firmware/software according to the information provided in the previous section. It will be downloaded in an editable format, for further offline improvements, if needed.
</p>

<form asp-controller="WorkpackageFour" asp-action="DownloadPreproductionDocument">
    <button type="sumbit" class="btn btn-primary">Download</button>
</form>