@model Ubora.Web._Features.Projects.Workpackages.Steps.PreproductionDocuments.PreproductionDocumentsViewModel

<h1>Preproduction Document</h1>

<p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>

<form asp-controller="WorkpackageFour" asp-action="DownloadPreproductionDocument">
    <div class="checkbox">
        <label>
            <input type="checkbox" class="check" id="checkAll"/> Select all
        </label>
    </div>

    @for (var i = 0; i < Model.WorkpackageCheckBoxListItems.Count; i++)
    {
        if (Model.WorkpackageCheckBoxListItems[i].IsOpened)
        {
            <div class="checkbox">
                <label>
                    <input asp-for="@Model.WorkpackageCheckBoxListItems[i].Name" type="hidden">
                    <input asp-for="@Model.WorkpackageCheckBoxListItems[i].IsChecked" type="checkbox" class="check"/> @Model.WorkpackageCheckBoxListItems[i].Name
                </label>
            </div>
        }
    }

    <button type="sumbit" class="btn btn-primary">Download</button>
</form>

@section Scripts {
    <script>
        $("#checkAll").click(function() {
            $(".check").prop('checked', $(this).prop('checked'));
        });
    </script>
}