@model Ubora.Web._Features.Projects.Workpackages.Steps.PreproductionDocuments.WP1TemplatePartialViewModel

<h1>Project context</h1>
    
<h2>Clinical needs</h2>

@Html.Raw(Model.ClinicalNeeds)

<h2>Existing solutions</h2>

@Html.Raw(Model.ExistingSolutions)

<h2>Intended Users</h2>

@Html.Raw(Model.IntendedUsers)

<h2>Proposed product and its innovative aspects</h2>

@Html.Raw(Model.ProductRequirements)