@model Ubora.Web._Features.Projects.Workpackages.Steps.PreproductionDocuments.WP1TemplatePartialViewModel

@{
    var isNonEmptyClinicalNeeds = !String.IsNullOrEmpty(Model.ClinicalNeeds);
    var isNonEmptyExistingSolutions = !String.IsNullOrEmpty(Model.ExistingSolutions);
    var isNonEmptyIntendedUsers = !String.IsNullOrEmpty(Model.IntendedUsers);
    var isNonEmptyProductRequirements = !String.IsNullOrEmpty(Model.ProductRequirements);
}

@if (isNonEmptyClinicalNeeds || isNonEmptyExistingSolutions || isNonEmptyIntendedUsers || isNonEmptyProductRequirements)
{
    <h1>Project context</h1> 
}

@if (isNonEmptyClinicalNeeds)
{
    <h2>Clinical needs</h2>

    @Html.Raw(Model.ClinicalNeeds) 
}

@if (isNonEmptyExistingSolutions)
{
    <h2>Existing solutions</h2>

    @Html.Raw(Model.ExistingSolutions)
}

@if (isNonEmptyIntendedUsers)
{
    <h2>Intended Users</h2>

    @Html.Raw(Model.IntendedUsers)
}

@if (isNonEmptyProductRequirements)
{
    <h2>Proposed product and its innovative aspects</h2>

    @Html.Raw(Model.ProductRequirements)
}