<div class="container-fluid my-4">
    <div class="row justify-content-center">
        <div class="danger-notice">
            <h1  class="danger-notice-header mt-5">Project is deleted</h1>
        </div>
    </div>
</div>
