@model Ubora.Web._Features.Projects.DeleteProject.DeleteProjectViewModel

<div class="container my-5 text-center">
    <h3>Do you want to delete the project with title "@Model.Title"?</h3>
    <form asp-controller="DeleteProject" asp-action="DeleteProject" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <a class="btn btn-outline-primary" asp-controller="Dashboard" asp-action="Dashboard">Cancel</a>
            <span class="mx-1"></span>
            <button class="btn btn-primary" type="submit">Delete</button>
        </div>
    </form>
</div>
