@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
	ViewData["Title"] = "Sign in to UBORA";
}

<section class="narrow-width">
	<h2 class="full-width">@ViewData["Title"]</h2>

	<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="POST">

		<div class="form-input">
			<label asp-for="Email">Email address</label>
			<input asp-for="Email" placeholder="email@example.com" required>
			<span asp-validation-for="Email"></span>
		</div>

		<div class="form-input">
			<label asp-for="Password">Secret passphrase</label>
			<input asp-for="Password" placeholder="Secret passphrase" required>
			<span asp-validation-for="Password"></span>
		</div>

		<div class="form-input">
			<button class="button primary-button full-width" type="submit">Sign in</button>
		</div>

		<!-- <div class="center-element">
			<a asp-action="ForgotPassword">Forgot password?</a>
		</div> -->
	</form>

	<h3>Don't have an account?</h3>
	<a class="button secondary-button full-width" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Sign up</a>

</section>

@section Scripts {
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
