@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="">
    
    <div class="row">
        <div class="small-12 columns">
            <label>
                Email address
                <input type="email">
            </label>
        </div>

        <div class="small-12 columns">
            <label>
                Password
                <input type="password">
            </label>
        </div>

        <div class="small-12 columns">
            <label>
                Password again
                <input type="password">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <label>
                First name <small class="label optional-label">optional</small>
                <input type="text">
            </label>
        </div>

        <div class="small-12 columns">
            <label>
                Middle name
                <input type="text">
            </label>
        </div>

        <div class="small-12 columns">
            <label>
                Last name
                <input type="text">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <label>
                Age
                <input type="number">
            </label>
        </div>

        <div class="small-12 columns">
            <label>
                Gender
                <select>
                    <option>Male</option>
                    <option>Female</option>
                    <option><i>I'd rather not say...</i></option>
                </select>
            </label>
        </div>

        <div class="small-12 columns">
            <label>
                Country
                <input type="text">
            </label>
        </div>
    </div>

</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
