@using Ubora.Web.Features.Shared
@model RegisterViewModel
@{
    ViewData["Title"] = "Sign up";
}

<section class="narrow-width">
    <h2>@ViewData["Title"]</h2>

    <form asp-controller="Account" asp-action="Register" method="post">

        <label>
            First name
            <input asp-for="FirstName" placeholder="First name">
            <span asp-validation-for="FirstName"></span>
        </label>

        <label>
            Last name
            <input asp-for="LastName" placeholder="Last name">
            <span asp-validation-for="LastName"></span>
        </label>

        <label>
            Email address
            <input asp-for="Email" placeholder="email@example.com">
            <span asp-validation-for="Email"></span>
        </label>

        <label>
            Password
            <input asp-for="Password" placeholder="Secret passphrase">
            <span asp-validation-for="Password"></span>
        </label>

        <label>
            Password again
            <input asp-for="ConfirmPassword" placeholder="Secret passphrase again">
            <span asp-validation-for="ConfirmPassword"></span>
        </label>

        <h3>Academia</h3>
        <label>
            University
            <input asp-for="University" placeholder="Name of university">
            <span asp-validation-for="University"></span>
        </label>

        <label>
            Degree
            <input asp-for="Degree" placeholder="Held/obtaining degree">
            <span asp-validation-for="Degree"></span>
        </label>

        <label>
            Field
            <input asp-for="Field" placeholder="e.g. hardware engineering">
            <span asp-validation-for="Field"></span>
        </label>

        <label>
            Role
            <select asp-for="Role" asp-items="@SelectLists.UserRoles">
            </select>
            <span asp-validation-for="Role"></span>
        </label>

        <h3>Personal</h3>
        <label>
            Bio
            <textarea asp-for="Biography" rows="5" placeholder="Write a few words about yourself!"></textarea>
            <span asp-validation-for="Biography"></span>
        </label>

        <label>
            Skills
            <input asp-for="Skills" placeholder="What are you good at?">
            <span asp-validation-for="Skills"></span>
        </label>

        <label>
            @*TODO: Investigate 'required' behaviour related to jQuery validation*@
            <input asp-for="IsAgreedToTermsOfService" required>
            I agree to <a asp-controller="Home" asp-action="Terms">Terms of Service</a>
            <span asp-validation-for="IsAgreedToTermsOfService"></span>
        </label>

        <button type="submit" class="button primary-button">Create an account</button>

    </form>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
