@model RegisterViewModel
@{
    ViewData["Title"] = "Sign up";
}

<section class="narrow-width">
    <h2>@ViewData["Title"]</h2>

    <form asp-controller="Account" asp-action="Register" method="post">

        <div asp-validation-summary="All" class="text-danger"></div>

        <label>
            First name
            <input asp-for="FirstName" placeholder="First name">
        </label>

        <label>
            Last name
            <input asp-for="LastName" placeholder="Last name">
        </label>

        <label>
            Email address
            <input asp-for="Email" placeholder="email@example.com">
        </label>

        <label>
            Password
            <input asp-for="Password" placeholder="Secret passphrase">
        </label>

        <label>
            Password again
            <input asp-for="ConfirmPassword" placeholder="Secret passphrase again">
        </label>

        <h3>Academia</h3>
        <label>
            University
            <input asp-for="University" placeholder="Name of university">
        </label>

        <label>
            Degree
            <input asp-for="Degree" placeholder="Held/obtaining degree">
        </label>

        <label>
            Field
            <input asp-for="Field" placeholder="e.g. hardware engineering">
        </label>

        <label>
            Role
            <select name="">
                <option value="placeholder" disabled selected>I am a...</option>
                <option value="student">Student</option>
                <option value="professor">Professor</option>
                <option value="mentor">Mentor</option>
                <option value="expert">Specialist/Expert</option>
            </select>
        </label>

        <h3>Personal</h3>
        <label>
            Bio
            <textarea asp-for="Biography" rows="5" placeholder="Write a few words about yourself!"></textarea>
        </label>

        <label>
            Skills
            <input asp-for="Skills" placeholder="What are you good at?">
        </label>

        <label>
            <input asp-for="IsAgreedToTermsOfService">
            I agree to <a asp-controller="Home" asp-action="Terms">Terms of Service</a>
        </label>

        <button type="submit" class="button primary-button">Create an account</button>

    </form>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
