@model RegisterViewModel
@{
    ViewData["Title"] = "Sign up";
}

<section class="narrow-width">
    <h2>@ViewData["Title"]</h2>

    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="POST">
        
        <div asp-validation-summary="All" class="text-danger"></div>

        <label>
            Name
            <input type="text" name="user_fullname" placeholder="Firstname Lastname">
        </label>
        
        <label>
            Email address
            <input asp-for="Email" type="email" placeholder="email@example.com" required>
        </label>

        <label>
            Password
            <input asp-for="Password" type="password" placeholder="Secret passphrase" required>
        </label>

        <label>
            Password again
            <input asp-for="ConfirmPassword" type="password" placeholder="Secret passphrase again" required>
        </label>

        <h3>Academia</h3>
        <label>
            University
            <input type="text" name="" placeholder="Name of university">
        </label>

        <label>
            Degree
            <input type="text" name="" placeholder="Held/obtaining degree">
        </label>

        <label>
            Field
            <input type="text" name="" placeholder="e.g. hardware engineering">
        </label>

        <label>
            Role
            <select name="">
                <option value="placeholder" disabled selected>I am a...</option>
                <option value="student">Student</option>
                <option value="professor">Professor</option>
                <option value="mentor">Mentor</option>
                <option value="expert">Specialist/Expert</option>
            </select>
        </label>

        <h3>Personal</h3>
        <label>
            Bio
            <textarea name="" rows="5" placeholder="Write a few words about yourself!"></textarea>
        </label>

        <label>
            Skills
            <input type="text" name="" placeholder="What are you good at?">
        </label>

        <label>
            <input type="checkbox" name="">
            I agree to <a asp-controller="Home" asp-action="Terms">Terms of Service</a>
        </label>

        <button type="submit" class="button primary-button">Create an account</button>

    </form>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
