<div class="row">
	<div class="small-10 medium-6 small-centered columns">
		<a class="button secondary large expanded login-button" asp-controller="Account" asp-action="Login">
			<img class="login-button-image" src="~/images/icons/ubora-logo.svg" alt="UBORA logo">
			&nbsp;Continue&nbsp;with UBORA
		</a>

		<a class="button secondary large expanded login-button" href="#">
			<img class="login-button-image" src="~/images/icons/twitter-logo.svg" alt="Twitter logo">
			&nbsp;Continue&nbsp;with Twitter
		</a>

		<a class="button secondary large expanded login-button" href="#">
			<img class="login-button-image" src="~/images/icons/facebook-logo.svg" alt="Facebook logo">
			&nbsp;Continue&nbsp;with Facebook
		</a>

		<a class="button secondary large expanded login-button" href="#">
			<img class="login-button-image" src="~/images/icons/google-logo.svg" alt="Google logo">
			&nbsp;Continue&nbsp;with Google
		</a>

		<h3>Don't have an account?</h3>
		<a class="button large expanded" asp-controller="Account" asp-action="Register">Sign up</a>
	</div>
</div>
