<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Head", required: false)
    @{
        Html.RenderPartial("_LayoutHead");
    }
</head>

<body>
@{
    Html.RenderPartial("_Header");
}
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-lg-12 py-xl-3 pb-3 border-right h-min-xl-100-footer">
                @{
                    var leftSection = RenderSection("Left", required: false);
                    if (leftSection != null)
                    {
                        @leftSection
                    }
                }
            </div>
            <div class="col-xl-8 col-lg-8 py-xl-3 px-xl-9 pb-3 order-lg-1 order-2">
                @*@RenderSection("Breadcrumb", required: false)*@

                @RenderBody()
            </div>
            <div class="col-xl-2 py-xl-3 col-lg-4 order-lg-2 order-1 pb-3 border-left" >
                @RenderSection("Right", required: false)
            </div>
        </div>
    </div>
</main>
@{
    Html.RenderPartial("_LayoutBody");
}
@RenderSection("Scripts", required: false)
</body>
</html>