@model IEnumerable<Ubora.Web._Features.Feedback.Feedback>

<section class="full-width">
    <h1>All feedback</h1>
    <ul>
        @foreach (var feedback in Model)
        {
            <li><p><q>@feedback.Value</q> @feedback.By.Name (@feedback.FromPath)</p></li>
        }
    </ul>
</section>