@using Ubora.Web._Features.Projects.Workpackages
@model Ubora.Web._Features.Projects.Workpackages.One.EditWorkpackageOneStepViewModel

@section LeftSideMenu {
    <aside>
    Kaspar: Risto, move to side?
        @await Component.InvokeAsync(typeof(WorkpackagesOverviewViewComponent))
    </aside>
}

<a asp-controller="Workpackages" asp-action="Index">Back</a>

<section class="medium-width">
    <h1 class="full-width">@Model.Title</h1>
    @if (Model.IsEdit)
    {
        <form action="@Url.Action(Model.ActionName, Model.ControllerName)" method="post">

            <label>
                <textarea id="simple-mde" asp-for="Value" rows="8"></textarea>
                <span asp-validation-for="Value"></span>
            </label>

            <br>
            <button class="button primary-button" type="submit">Save changes</button>
        </form>
    }
    else
    {
        <a href="@Url.Action(Model.ActionName, Model.ControllerName, new { edit = true })">Edit</a>
<pre>
@Model.Value
</pre>
    }
</section>


<link rel="stylesheet" href="~/lib/simplemde/dist/simplemde.min.css">
<script type="text/javascript" src="~/lib/simplemde/dist/simplemde.min.js"></script>

<script>
    var simpleMde = new SimpleMDE({ element: document.getElementById("simple-mde") });
</script>
