@using Ubora.Web._Features.Projects.Workpackages
@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Workpackages.One.WorkpackageOneStepViewModel

@{
    ViewData["Title"] = "Workpackages";
    ViewData["MenuOption"] = ProjectMenuOption.Workpackages;
}

<style>
    .step-view {
        padding-left: 1em;
        padding-right: 1em;
    }

    .markdown-like {
        font-family: inherit;
    }

    .step_header {
        display: flex;
    }

    .step_title {
        display: inline-block;
        flex-grow: 2;
    }

    .step_edit {
        align-self: center;
        font-size: 150%;
        margin: 0 1em 0 0;
    }

        .step_edit .material-icons {
            font-size: 100%;
            vertical-align: bottom;
        }
</style>

<section class="project_view full-width">
    @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewModel))

    <section class="medium-width step-view">
        <div class="step_header">
            <h1 class="step_title">@Model.Title</h1>
            <a class="step_edit" asp-controller="WorkpackageOne" asp-action="EditStep" asp-route-id="@Model.StepId">
                <i class="material-icons">mode_edit</i>&nbsp;Edit
            </a>
        </div>

        <pre class="markdown-like">
@Model.Value
</pre>
    </section>
</section>
