<dom-module id="project-card">

	<template>
		<style>
			.project {
				box-shadow: 0 3px 6px var(--secondary-shade);
				border-radius: 5px;
				max-width: 350px;
				margin:1em;
			}
			.project-banner {
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				max-width: inherit;
			}
			.project-container {
				padding:0 1em;
				font-size: 80%;
			}
			.project-title {
				font-size: 130%;
			}
			.project-author {
				display: flex;
				align-items: center;
			}
			.project-author img {
				border-radius: 50%;
			}
			.project-author span {
				margin:0 0 0 1em;
			}

			.project-status {
				text-align: center;
				padding:0 1em 1em 1em;
				display: flex;
				justify-content: space-between;
			}
			.project-status p {
				margin:0;
				padding:0;
			}

		</style>

		<div class="project">
			<img class="project-banner" src$="[[banner]]">
			<div class="project-container">

				<p class="project-title">[[title]]</p>

				<div class="project-author">
					<img src$="[[authorimage]]">
					<span>[[author]]</span>
				</div>

				<slot></slot>
			</div>
			<div class="project-status">
				<div>
					<p>[[funded]]</p>
					<p>funded</p>
				</div>
				<div>
					<p>[[pledged]]</p>
					<p>pledged</p>
				</div>
				<div>
					<p>[[completed]]</p>
					<p>completed</p>
				</div>
				<div>
					<p>[[timeremaining]]</p>
					<p>days to go</p>
				</div>
			</div>
		</div>

	</template>

	<script>
		class ProjectCard extends Polymer.Element {
			static get is() { return "project-card"; }
			static get properties() {
				return {
					banner: String,
					title: String,
					author: String,
					authorimage: String,
					funded: String,
					pledged: String,
					completed: String,
					timeremaining: String
				}
			}
		}
		customElements.define(ProjectCard.is, ProjectCard);
	</script>

</dom-module>
