<dom-module id="project-card">

	<template>
		<style>
			.project {
				box-shadow: 0 3px 6px var(--secondary-shade);
				border-radius: 5px;
				max-width: 22em;
				margin:1em;
			    display: inline-block;
			}
			.project-banner {
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				width: 100%;
				max-height: 150px;
			}
			.project-container {
				padding: 1em;
			}
			.project-title {
				font-size: 140%;
			}
		</style>

		<a href$="[[projecturl]]" class="project">
			<img class="project-banner" src$="[[banner]]">
			<div class="project-container">
				<p class="project-title">[[title]]</p>
                
				<slot></slot>
			</div>
		</a>

	</template>

	<script>
		class ProjectCard extends Polymer.Element {
			static get is() { return "project-card"; }
            static get properties() {
				return {
					banner: String,
					title: String,
                    projecturl: String
				}
			}
		}
		customElements.define(ProjectCard.is, ProjectCard);
	</script>

</dom-module>
