@using Ubora.Web._Features.Projects.DeviceClassification
@model AnswerViewModel

<form asp-controller="DeviceClassification" asp-action="Answer" method="post">
    <input type="hidden" asp-for="NextQuestionId" />
    <input type="hidden" asp-for="MainQuestionId" />
    <input type="hidden" asp-for="QuestionId" />

    <button class="questionnaire-question" type="submit">@Model.QuestionText</button>
</form>