@using Ubora.Web._Features.Projects.DeviceClassification.ViewModels
@model CurrentClassificationViewModel

@{
    ViewData["Title"] = "Device classification results";
}

<section class="narrow-width center-element">
        <h1>Your device classification is: @Model.Classification</h1>
        <div class="questionnaire-question">
            <a class="btn btn-primary btn-lg" asp-controller="Dashboard" asp-action="Dashboard">Go back to project page</a>
        </div>
        <div class="questionnaire-question">
            <a class="btn btn-secondary-ghost btn-lg" asp-controller="DeviceClassification" asp-action="GetPairedMainQuestions">Retake questionnaire?</a>
        </div>


</section>
