@model Ubora.Web._Features.Projects.DeviceClassification.MainQuestionViewModel

    @{
        ViewData["Title"] = "Device classification";
    }

    <style>
        .classification-button {
            padding-left: 10px;
            padding-right: 10px;
            cursor: pointer;
        }
    </style>

    <section class="medium-width">
        <a class="button secondary-button classification-button" asp-controller="DeviceClassification" asp-action="GetQuestions" asp-route-questionId="@Model.MainQuestionId" asp-route-mainQuestionId="@Model.MainQuestionId">@Model.MainQuestionText</a>
    <br />
    <br />
    <br />
    <a class="button secondary-button classification-button" asp-controller="DeviceClassification" asp-action="NextMainQuestion" asp-route-mainQuestionId="@Model.MainQuestionId">No it is not.</a>
</section>