@using Ubora.Web._Features.Projects.DeviceClassification.ViewModels

@model PairedMainQuestionsViewModel

@{
    ViewData["Title"] = "Device classification";
}

<link rel="stylesheet" href="/css/questionnaire.css">
<section class="medium-width questionnaire">
    <h1>Please select an option:</h1>
    <ul class="questionnaire_list">
        <li class="questionnaire_item">
            @Html.Partial("MainQuestionAnswerPartial", new MainQuestionAnswerViewModel { QuestionText = Model.MainQuestionOne, MainQuestionId = Model.MainQuestionOneId, PairedQuestionId = Model.PairedQuestionId })
        </li>
        @if (!string.IsNullOrEmpty(Model.MainQuestionTwo))
        {
            <li class="questionnaire_item">
                @Html.Partial("MainQuestionAnswerPartial", new MainQuestionAnswerViewModel { QuestionText = Model.MainQuestionTwo, MainQuestionId = Model.MainQuestionTwoId, PairedQuestionId = Model.PairedQuestionId })
            </li>
        }
        else
        {
            <li>
                <a class="questionnaire-question" asp-controller="DeviceClassification" asp-action="NextMainQuestion" asp-route-pairedMainQuestionsId="@Model.PairedQuestionId">NOT APPLICABLE</a>
            </li>
        }
    </ul>
    @if (Model.Notes.Any())
    {
        <ul>
            @foreach (var note in Model.Notes)
            {
                <li><pre style="width:400px; white-space: pre-wrap;">@note</pre></li>
            }
        </ul>
    }
</section>
