@using Ubora.Web._Features.Projects.DeviceClassification.ViewModels
@model QuestionsViewModel

@{
    ViewData["Title"] = "Device classification";
}

<link rel="stylesheet" href="/css/questionnaire.css">
<section class="medium-width">
    <h1>Please select an option:</h1>
    <ul class="questionnaire_list">
        @foreach (var question in Model.Questions)
        {
            <li class="questionnaire_item">
                @Html.Partial("AnswerPartial", new AnswerViewModel { QuestionText = question.Text, PairedMainQuestionsId = Model.PairedMainQuestionsId, NextQuestionId = question.Id })
            </li>
        }

        @if (Model.Questions.Count == 1)
        {
            <li>
                <a class="questionnaire-question" asp-controller="DeviceClassification" asp-action="NextMainQuestion" asp-route-pairedMainQuestionsId="@Model.PairedMainQuestionsId">NOT APPLICABLE</a>
            </li>
        }
    </ul>
    @if (Model.Notes.Any())
    {
        <ul>
            @foreach (var note in Model.Notes)
            {
                <li><pre style="width:400px; white-space: pre-wrap;">@note</pre></li>
            }
        </ul>
    }
</section>
