@using Ubora.Web._Features.Projects.DeviceClassification.ViewModels
@model QuestionsViewModel

@{
    ViewData["Title"] = "Device classification";
}

<section class="medium-width">
    <h1>Please select an option:</h1>
        @foreach (var question in Model.Questions)
        {
            <div class="questionnaire-question">
                @Html.Partial("AnswerPartial", new AnswerViewModel { QuestionText = question.Text, PairedMainQuestionsId = Model.PairedMainQuestionsId, NextQuestionId = question.Id })
            </div>
        }

        @if (Model.Questions.Count == 1)
        {
            <div class="questionnaire-question">
                <a class="button secondary-button small-button full-width" asp-controller="DeviceClassification" asp-action="NextMainQuestion" asp-route-pairedMainQuestionsId="@Model.PairedMainQuestionsId">Not applicable</a>
            </div>
        }
    </ul>
    @if (Model.Notes.Any())
    {
        <h3>Notes</h3>
        <ul>
            @foreach (var note in Model.Notes)
            {
                <li>
                    <p>@note</p>
                </li>
            }
        </ul>
    }
</section>
