@using Ubora.Web._Features.Projects.DeviceClassification
@model QuestionsViewModel

@{
    ViewData["Title"] = "Device classification";
}

<link rel="stylesheet" href="/css/questionnaire.css">
<section class="medium-width">
    <h1>Please select an option:</h1>
    <ul class="questionnaire-question-list">
        @foreach (var question in Model.Questions) {
            <li>
                <a class="questionnaire-question" asp-controller="DeviceClassification" asp-action="GetQuestions" asp-route-questionId="@question.Id" asp-route-mainQuestionId="@Model.MainQuestionId">@question.Text</a>
            </li>
        }
        <li>
            <a class="questionnaire-question" asp-controller="DeviceClassification" asp-action="NextMainQuestion" asp-route-mainQuestionId="@Model.MainQuestionId">No it is not.</a>
        </li>
    </ul>
</section>
