@using Ubora.Web._Features.Projects.DeviceClassification.ViewModels

@model SpecialMainQuestionViewModel

@{
    ViewData["Title"] = "Device classification";
}

<section class="medium-width questionnaire">
    <h1>Please select an option:</h1>

    <div class="questionnaire-question">
            @Html.Partial("SpecialAnswerPartial", new SpecialAnswerViewModel { QuestionText = Model.QuestionText, MainQuestionId = Model.CurrentSpecialMainQuestionId, NextQuestionId = Model.CurrentSpecialMainQuestionId })
    </div>

    <div class="questionnaire-question">
            <a class="button secondary-button small-button full-width" asp-controller="DeviceClassification" asp-action="NextSpecialMainQuestion" asp-route-currentSpecialMainQuestionId="@Model.CurrentSpecialMainQuestionId">Not applicable</a>
    </div>
</section>
