@using Ubora.Web._Features.Projects.DeviceClassification.ViewModels

@model SpecialSubQuestionsViewModel

@{
    ViewData["Title"] = "Device classification";
}

<div class="container-fluid my-4">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8">

      <h1>Please select an option:</h1>

      @foreach (var question in Model.Questions)
      {
          <div class="questionnaire-question">
              @Html.Partial("SpecialAnswerPartial", new SpecialAnswerViewModel { QuestionText = question.Text, MainQuestionId = Model.MainQuestionId, NextQuestionId = question.Id })
          </div>
      }

      <div class="questionnaire-question">
          <a class="btn btn-secondary-ghost w-100" asp-controller="DeviceClassification" asp-action="NextSpecialMainQuestion" asp-route-currentSpecialMainQuestionId="@Model.MainQuestionId">Not applicable</a>
      </div>
      @if (Model.Notes.Any())
      {
          <h3>Notes</h3>
          <ul>
              @foreach (var note in Model.Notes)
              {
                  <li>
                      <p>@note</p>
                  </li>
              }
          </ul>
      }

    </div>
  </div>
</div>
