<section class="narrow-width">
    <h1>No class determined!</h1>
    <p>
        <a asp-controller="DeviceClassification" asp-action="GetMainQuestion">Please retake the questionnaire</a>
        or
        <a asp-controller="Dashboard" asp-action="Dashboard">go back to project page.</a>
    </p>
</section>
