<section class="narrow-width center-element">
    <h1>No class determined!</h1>

    <div class="questionnaire-question">
        <a class="btn btn-primary btn-lg full-width" asp-controller="DeviceClassification" asp-action="GetPairedMainQuestions">Retake questionnaire</a>
    </div>

    <div class="questionnaire-question">
        <a class="button secondary-button small-button full-width" asp-controller="Dashboard" asp-action="Dashboard">Go back to project page</a>
    </div>
</section>
