<section class="medium-width">
    <p>No class determined. Please retake the <a asp-controller="DeviceClassification" asp-action="GetMainQuestion">questionnaire.</a></p>
    <p><a asp-controller="Dashboard" asp-action="Dashboard">To project page.</a></p>

</section>