<section class="narrow-width center-element">
    <h1>No class determined!</h1>

    <div class="questionnaire-question">
        <a class="btn btn-primary w-100" asp-controller="DeviceClassification" asp-action="GetPairedMainQuestions">Retake questionnaire</a>
    </div>

    <div class="questionnaire-question">
        <a class="btn btn-secondary-ghost w-100" asp-controller="Dashboard" asp-action="Dashboard">Go back to project page</a>
    </div>
</section>
