@model Guid

<section class="medium-width">
    <p>No class determined. Please retake the <a asp-controller="DeviceClassification" asp-action="GetMainQuestion" asp-route-id="@Model">questionnaire.</a></p>
    <p><a asp-controller="Dashboard" asp-action="Dashboard" asp-route-id="@Model">To project page.</a></p>

</section>