@using Ubora.Web._Features.Projects.Workpackages
@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Workpackages.WorkpackageOne.StepViewModel

@{
    ViewData["Title"] = "Workpackages";
    ViewData["MenuOption"] = ProjectMenuOption.Workpackages;
}

<section class="project_view full-width">
    @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewModel))

    <section class="medium-width step-view">
        <div class="step_header">
            <h1 class="step_title">@Model.Title</h1>
            <a class="step_edit" asp-controller="WorkpackageOne" asp-action="EditStep" asp-route-id="@Model.StepId">
                <i class="material-icons">mode_edit</i>&nbsp;Edit
            </a>
        </div>

        <div class="markdown-like">@Html.Raw(Model.Content)</div>

    </section>
</section>

@section Scripts {
    <script>
        marked.setOptions({
            renderer: new marked.Renderer(),
            gfm: true,
            tables: true,
            breaks: true,
            pedantic: false,
            sanitize: true,
            smartLists: true,
            smartypants: false
        });

        //TODO: Risto Kitsing teeb ilusaks
        const element = document.querySelector('.markdown-like');
        element.innerHTML = marked(element.innerHTML);
    </script>
}
