@model Ubora.Web._Features.Projects.Workpackages.Steps.EditCommentViewModel 

<form asp-controller="ConceptualDesign" asp-action="EditComment" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.CandidateId)
    <div class="form-group">
        <textarea class="form-control" asp-for="CommentText" placeholder="Add comment" rows="4"></textarea>
        <span asp-validation-for="CommentText"></span>
    </div>
    <div class="d-flex justify-content-center">
        <button class="btn btn-secondary-ghost">Cancel</button>
        <span class="mx-1"></span>
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</form>