
<div class="row">
    <div class="col-lg-12">
        <h2 class="display-5 mb-4">Your votes:</h2>
    </div>
    <div class="col-lg-5 col-md-5">

        <div class="table-responsive">
            <table class="table table-votes">
                <tbody>
                    <tr>
                      <th scope="row">Functionality:</th>
                      <td>
                        1
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">Performance:</th>
                      <td>
                        1
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">Usability:</th>
                      <td>
                        1
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">Safety:</th>
                      <td>
                        1
                      </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
