@using Ubora.Web._Features.Projects._Shared

@{
    ViewData["MenuOption"] = ProjectMenuOption.Workpackages;
}


    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between">
                <h1>Business model</h1>
                <a class="btn btn-outline-primary align-self-start" href="#">
                    <i class="material-icons color-grey-2">mode_edit</i>
                    <span>Edit</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row border mb-5 mx-1">
        <div class="col-lg-3 border p-4">
                                <div class="d-flex justify-content-between">

            <h2 class="display-5">Key resources and partners</h2>
            <i class="material-icons color-grey-2">
vpn_key
</i>
 </div>
            <small class="color-grey">Who supports me?</small>
        </div>
        <div class="col-lg-3 border p-4">
                                            <div class="d-flex justify-content-between">

            <h2 class="display-5">Value proposal</h2>
            <i class="material-icons color-grey-2">
star
</i>
 </div>

            <small class="color-grey">What makes me special?</small>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-lg-12 border p-4">
                    <div class="d-flex justify-content-between">
<h2 class="display-5">Potential clients, users and channels</h2>
                    <i class="material-icons color-grey-2">
                    people
                </i>
                    </div>
                    
                                <small class="color-grey">How will I reach clients and users?</small>

                </div>
                <div class="col-lg-12 border p-4">
                                        <div class="d-flex justify-content-between">

                    <h2 class="display-5">Analysis of costs, production, supply chain and services to clients</h2>
                     <i class="material-icons color-grey-2">
                    monetization_on
                </i>
                                    </div>

                                <small class="color-grey">?</small>

                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6 border p-4">
                    <h2 class="display-5">Growth strategy</h2>
                                                    <small class="color-grey">How will I make a sustainable impact?</small>

                </div>
                <div class="col-lg-6 border p-4">
                                        <div class="d-flex justify-content-between">

                    <h2 class="display-5">Relevant documentation for device production and use</h2>
                     <i class="material-icons color-grey-2">
                            insert_drive_file
                        </i>
                                            </div>

                                                    <small class="color-grey">?</small>

                </div>
            </div>
        </div>
    </div>
    <div class="row border mx-1">
        <div class="col-lg-6 border p-4">
            <div class="d-flex justify-content-between">
                <h2 class="display-5">Service considerations</h2>
                <i class="material-icons color-grey-2 font-size-2">
                    build
                </i>
            </div>
            <div class="mb-auto h-75">
                <ul>
                    <li>Nunc diam diam, aliquet eget mauris et</li>
                    <li>Nunc diam diam, aliquet eget mauris et</li>
                    <li>Nunc diam diam, aliquet eget mauris et</li>
                    <li>Nunc diam diam, aliquet eget mauris et</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 border">
            <div class="row">
                <div class="col-lg-12 border-bottom p-4">
                    <div class="d-flex justify-content-between">
                        <h2 class="display-5 d-inline-block">Operative documentation</h2>
                        <i class="material-icons color-grey-2 font-size-2">
                            insert_drive_file
                        </i>
                    </div>                    <ul>
                        <li>Nunc diam diam, aliquet eget mauris et</li>
                        <li>Nunc diam diam, aliquet eget mauris et</li>
                        <li>Nunc diam diam, aliquet eget mauris et</li>
                        <li>Nunc diam diam, aliquet eget mauris et</li>
                    </ul>
                </div>
                <div class="col-lg-12 border-top p-4">
                    <div class="d-flex justify-content-between">
                        <h2 class="display-5">Design transfer</h2>
                        <i class="material-icons color-grey-2 font-size-2">
                            transform
                        </i>
                    </div>
                    <ul>
                        <li>Nunc diam diam, aliquet eget mauris et</li>
                        <li>Nunc diam diam, aliquet eget mauris et</li>
                        <li>Nunc diam diam, aliquet eget mauris et</li>
                        <li>Nunc diam diam, aliquet eget mauris et</li>
                        <li>Nunc diam diam, aliquet eget mauris et</li>
                        <li>Nunc diam diam, aliquet eget mauris et</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12 border p-4">
            <div class="d-flex justify-content-between">
                <h2 class="display-5">Analysis of cost & logistics + production</h2>
                <i class="material-icons color-grey-2 font-size-2">
                    monetization_on
                </i>
            </div>
            <ul>
                <li>Nunc diam diam, aliquet eget mauris et</li>
                <li>Nunc diam diam, aliquet eget mauris et</li>
                <li>Nunc diam diam, aliquet eget mauris et</li>
                <li>Nunc diam diam, aliquet eget mauris et</li>
                <li>Nunc diam diam, aliquet eget mauris et</li>
                <li>Nunc diam diam, aliquet eget mauris et</li>
            </ul>
        </div>
    </div>
