@using Ubora.Web._Features.Projects.Workpackages
@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Workpackages.Steps.DeviceClassificationViewModel

@{
    ViewData["Title"] = "Device classification";
    ViewData["MenuOption"] = ProjectMenuOption.Workpackages;
}

<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-xs-12 col-md-4">
      @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))
    </div>
    <div class="col-xs-12 col-md-8 d-flex flex-column align-items-center">
        @if (Model.DeviceClassification == null)
        {
            <h1 class="text-center">Please answer to the following questionnaire to identify your device classification.</h1>
            <a asp-controller="DeviceClassification" asp-action="GetPairedMainQuestions" class="btn btn-primary lg-btn">Go to device classification</a>
        }
        else
        {
            <h2>Your current device classification: @Model.DeviceClassification</h2>
            <a asp-controller="DeviceClassification" asp-action="GetPairedMainQuestions" class="btn btn-secondary-ghost btn-lg">Retake questionnaire?</a>
        }
    </div>
  </div>
</div>
