@using Ubora.Web._Features.Projects.Workpackages
@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Workpackages.Steps.DeviceClassificationViewModel

@{
    ViewData["Title"] = "Device classification";
    ViewData["MenuOption"] = ProjectMenuOption.Workpackages;
}

<div class="container-fluid my-4">
  <div class="row">
    <div class="col-lg-3">
      @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))
    </div>
    <div class="col-lg-9 pr-5 text-center">
        @if (Model.DeviceClassification == null)
        {
            <h1 class="mb-4">Please answer to the following questionnaire to identify your device classification.</h1>
            <a asp-controller="DeviceClassification" asp-action="GetPairedMainQuestions" class="btn btn-primary btn-lg">Go to device classification</a>
        }
        else
        {
            <h2 class="mb-4">Your current device classification: @Model.DeviceClassification</h2>
            <a asp-controller="DeviceClassification" asp-action="GetPairedMainQuestions" class="btn btn-secondary-ghost btn-lg">Retake questionnaire?</a>
        }
    </div>
  </div>
</div>
