@using Ubora.Web._Features.Projects.Workpackages
@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Workpackages.Steps.DeviceClassificationViewModel

@{
    ViewData["Title"] = "Device classification";
    ViewData["MenuOption"] = ProjectMenuOption.Workpackages;
}

<section class="project-view full-width">
    @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))

    <section class="medium-width step-view">
        <div class="center-element">
            @if (Model.DeviceClassification == null)
            {
                <h3>Please answer to the following questionnaire to identify your device classification.</h3>
                <a asp-controller="DeviceClassification" asp-action="GetPairedMainQuestions" class="button primary-button small-button">Go to device classification</a>
            }
            else
            {
                <h2>Your current device classification: @Model.DeviceClassification</h2>
                <a asp-controller="DeviceClassification" asp-action="GetPairedMainQuestions" class="button secondary-button small-button">Retake questionnaire?</a>
            }

        </div>
    </section>
</section>
