@using Ubora.Web._Features.Projects.Workpackages
@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Workpackages.Steps.EditCandidateViewModel

@{
    ViewData["Title"] = "Conceptual Design";
    ViewData["MenuOption"] = ProjectMenuOption.Workpackages;
}

<section class="project-view full-width">
    @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))

    <section class="medium-width step-view">

        <form asp-controller="ConceptualDesign" asp-action="EditCandidate" method="post" enctype="multipart/form-data">
            @Html.HiddenFor(m => m.Id)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-input">
                <label asp-for="Title">Candidate name</label>
                <input asp-for="Title" placeholder="Enter name of the candidate">
                <span asp-validation-for="Title"></span>
            </div>
            <div class="form-input">
                <label asp-for="Description">Description</label>
                <input asp-for="Description" placeholder="Describe your candidate">
                <span asp-validation-for="Description"></span>
            </div>
            <div class="center-element">
                <button class="button primary-button" type="submit">Edit</button>
            </div>
        </form>

    </section>
</section>

