@using Ubora.Web._Features.Projects.Workpackages
@using Ubora.Web._Features.Projects._Shared
@using Ubora.Web._Features._Shared

@{
    ViewData["MenuOption"] = ProjectMenuOption.Workpackages;
    ViewData[nameof(WorkpackageMenuOption)] = "PROTOSTEP";
}

<h1>Tere</h1>


<div class="col">
    <form>
        <div class="row">
            <div class="col">
                <h1 class="mb-4">Commercial documentation</h1>
                <p>This section will constitute the first user manual of the medical device, and will include the technical specifications available in future commercial documentation.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <h2>Commercial dossier</h2>
                <div class="form-group">
                    <label for="productName">Product name</label>
                    <input type="text" id="productName" name="productName" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="commercialName">Commercial name</label>
                    <input type="text" id="commercialName" name="commercialName" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="image">Logo</label>
                    <input class="form-control" type="file" id="image" name="image" />
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="decription" rows="4" placeholder="Which need we address? Who we are? Discover our design, value proposal..."></textarea>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <h2>Intellectual property</h2>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" id="attribution" value="BY" />
                    <label class="form-check-label" for="attribution">
                        <span class="d-flex align-items-center mb-2">
                            <img src="/images/icons/by.svg" class="w-2-rem mr-2" alt="Attribution icon">
                            Attribution (BY)
                        </span>
                        <small class="d-block">
                            Licensees may copy, distribute, display and perform the work and make
                            derivative works and remixes based on it only if they give the author or licensor
                            the credits (attribution) in the manner specified by these.
                        </small>
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" id="shareAlike" value="SA" />
                    <label class="form-check-label" for="shareAlike">
                        <span class="d-flex align-items-center mb-2">
                            <img src="/images/icons/sa.svg" class="w-2-rem mr-2" alt="Share-alike icon">
                            Share-alike (SA)
                        </span>
                        <small class="d-block">
                            Licensees may distribute derivative works only under a license identical ("not
                            more restrictive") to the license that governs the original work. Without sharealike,
                            derivative works might be sublicensed with compatible but more restrictive
                            license clauses, e.g. CC BY to CC BY-NC.)
                        </small>
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" id="nonCommercial" value="NC" />
                    <label class="form-check-label" for="nonCommercial">
                        <span class="d-flex align-items-center mb-2">
                            <img src="/images/icons/nc.svg" class="w-2-rem mr-2" alt="Non-commercial icon">
                            Non-commercial (NC)
                        </span>
                        <small class="d-block">
                            Licensees may copy, distribute, display, and perform the work and make derivative works and remixes based on it only for non-commercial purposes.
                        </small>
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" id="noDerivativeWorks" value="ND" />
                    <label class="form-check-label" for="noDerivativeWorks">
                        <span class="d-flex align-items-center mb-2">
                            <img src="/images/icons/nd.svg" class="w-2-rem mr-2" alt="No Derivative Works icon">
                            No Derivative Works (ND)
                        </span>
                        <small class="d-block">
                            Licensees may copy, distribute, display and perform only verbatim copies of the
                            work, not derivative works and remixes based on it.
                        </small>
                    </label>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <h2>Legal issues</h2>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="decription" rows="4" placeholder="..."></textarea>
                </div>
                <div class="form-group">
                    <label for="declaimer">Declaimer</label>
                    <input type="text" id="declaimer" name="declaimer" class="form-control" />
                </div>
            </div>
        </div>
        <hr class="mb-4">
        <div class="row">
            <div class="col">
                <button class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>