@using Ubora.Web._Features.Projects.Workpackages
@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Workpackages.Steps.ReadStepViewModel

@{
    ViewData["Title"] = Model.Title;
    ViewData["MenuOption"] = ProjectMenuOption.Workpackages;
}

<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-xs-12 col-md-4">
      @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="row no-gutters d-flex justify-content-between">
        <h2>@Model.Title</h2>
        @if (Model.EditButton.IsVisible)
        {
          <a href="@Model.EditStepUrl">
            <span>Edit</span>
            <i class="material-icons">mode_edit</i>
          </a>
        }
      </div>
      @*TODO: What is this?*@
      @if (Model.EditButton.IsHiddenWithMessage)
      {
          <p><i>@Model.EditButton.HideReasonMessage</i></p>
      }
      <div class="text-markdown">@Model.Content</div>
    </div>
  </div>
</div>

@section Scripts {
  <script
    src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"
    asp-fallback-src="~/dist/libs/marked.min.js"
    asp-fallback-test="window.marked">
  </script>
}
