@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Workpackages.Steps.ReadStepViewModel

@{
    ViewData["Title"] = Model.Title;
    ViewData["MenuOption"] = ProjectMenuOption.Workpackages;
}

<div class="d-flex justify-content-between">
    <h1>@Model.Title</h1>
    @if (Model.EditButton.IsVisible)
    {
        <a class="btn btn-outline-primary align-self-start" href="@Model.EditStepUrl">
            <i class="material-icons">mode_edit</i>
            <span>Edit</span>
        </a>
    }
</div>
@if (Model.EditButton.IsHiddenWithMessage)
{
    <p class="text-informative">@Model.EditButton.HideReasonMessage</p>
}
<div class="text-markdown">@Model.Content</div>