@model Ubora.Web._Features.Projects.Workpackages.Steps.EditCommentViewModel

<div class="modal fade" id="removeCommentModal-@Model.Id" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remove comment?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="ConceptualDesign" asp-action="RemoveComment" asp-route-commentId="@Model.Id" asp-route-candidateId="@Model.CandidateId" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <p>@Model.CommentText</p>
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-secondary-ghost" data-dismiss="modal">No, cancel</button>
                        <span class="mx-1"></span>
                        <button class="btn btn-primary" type="submit">Yes, remove</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>