@using Ubora.Web._Features.Projects.Workpackages;

@{
    ViewData["WorkpackageMenuOption"] = WorkpackageMenuOption.StructuredInformationOnTheDevice;
}

<div class="container-fluid my-4">
    <div class="row">
        <div class="col-lg-3">
            @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))
        </div>
        <div class="col-lg-7">
            <a class="btn btn-primary" asp-controller="WorkpackageTwo" asp-action="UserAndEnvironment">User and environment</a>
            <a class="btn btn-primary" asp-controller="WorkpackageTwo" asp-action="HealthTechnologySpecifications">Health Technology specifications</a>
        </div>
    </div>
</div>
