@using Ubora.Web._Features.Projects.Workpackages;


@{
  ViewData["WorkpackageMenuOption"] = WorkpackageMenuOption.StructuredInformationOnTheDevice;
}

<div class="container-fluid my-4">
  <div class="row">
    <div class="col-lg-3">
      @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))
    </div>
    <div class="col-lg-9">
      <div class="row">
          <h1 class="display-4 mb-4 col-lg-9">User and evironment</h1>
          <div class="col-lg-3">
            <a class="btn btn-secondary-ghost align-self-start" asp-action="UserAndEnvironment" asp-controller="WorkpackageTwo">
              <i class="material-icons">mode_edit</i>
              <span>Edit</span>
            </a>
          </div>
      </div>


      <div class="row">
        <div class="col-lg-10">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w-75">Question</th>
                <th class="w-25">Answer</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1. Who is the intended user?</td>
                <td>Vastus</td>
              </tr>
              <tr>
                <td>2. Is training required in addition to the expected skill level of the intended user?</td>
                <td>Vastus</td>
              </tr>
              <tr>
                <td>3. If training is required, please describe who will deliver the training and the materials and time required for the training.</td>
                <td>Vastus</td>
              </tr>
              <tr>
                <td>4. Is any maintenance or calibration required by the user at the time of use?</td>
                <td>Vastus</td>
              </tr>
              <tr>
                <td>5. Where will the technology be used?</td>
                <td>Vastus</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

        <div class="row">
            <h1 class="display-4 mb-4 col-lg-9">Health technology specifications</h1>
            <div class="col-lg-3">
                <a class="btn btn-secondary-ghost align-self-start" asp-action="HealthTechnologySpecifications" asp-controller="WorkpackageTwo">
                    <i class="material-icons">mode_edit</i>
                    <span>Edit</span>
                </a>
            </div>
        </div>
      <div class="row">
        <div class="col-lg-10">

          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w-75">Question</th>
                <th class="w-25">Answer</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1. Dimensions (mm3)</td>
                <td>vastus</td>
              </tr>
              <tr>
                <td>2. Weight (kg)</td>
                <td>vastus</td>
              </tr>
              <tr>
                <td>3. Does it require the use of consumables? For example, disposable batteries, disposable electrodes, etc.</td>
                <td>vastus</td>
              </tr>
              <tr>
                <td>4. If yes, please list the consumables</td>
                <td>vastus</td>
              </tr>
              <tr>
                <td>5. Estimated life time</td>
                <td>vastus</td>
              </tr>
              <tr>
                <td>6. Estimated shelf life</td>
                <td>vastus</td>
              </tr>
              <tr>
                <td>7. Can it have a telemedicine or eHealth application?</td>
                <td>vastus</td>
              </tr>
              <tr>
                <td>8. Does it use any kind of software?</td>
                <td>vastus</td>
              </tr>
              <tr>
                <td>9a. If yes, please describe the software, whether it is open source or proprietary, its use and/or license fee, etc. (10-70 words).</td>
                <td>vastus</td>
              </tr>
              <tr>
                <td>9b. If yes, can the software be customized for local use? Please explain (10-70 words). Include languages available.</td>
                <td>vastus</td>
              </tr>
              <tr>
                <td>10. Is it portable?</td>
                <td>vastus</td>
              </tr>
              <tr>
                <td>11. Type of use</td>
                <td>vastus</td>
              </tr>
              <tr>
                <td>12. Does the technology require maintenance?</td>
                <td>vastus</td>
              </tr>
              <tr>
                <td>13. If yes, who should provide maintenance?</td>
                <td>vastus</td>
              </tr>
              <tr>
                <td>14. Energy requirements</td>
                <td>vastus</td>
              </tr>
              <tr>
                <td>15. Facility requirements</td>
                <td>vastus</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>
</div>
