@using Ubora.Domain.Projects.StructuredInformations
@using Ubora.Web._Features.Projects.Workpackages;
@using Ubora.Web._Features.Projects.Workpackages.Steps
@model Ubora.Web._Features.Projects.Workpackages.Steps.DeviceStructuredInformationViewModel

@{
    ViewData["WorkpackageMenuOption"] = WorkpackageMenuOption.Wp2MentorReview;
}

<div class="container-fluid my-4">
    <div class="row">
        <div class="col-lg-3">
            @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))
        </div>
        <div class="col-lg-7">
            <form asp-controller="WorkpackageTwo" asp-action="StructuredInformationOnTheDevice2">
                
                <div class="row">
                    @Html.Partial("_UserAndEnvironmentPartial", Model)
                </div>

                <hr class="mb-4">

                <div class="row">
                    @Html.Partial("_HealthTechnologySpecificationsPartial", Model)
                </div>
                
                <hr class="mb-4">

                <div class="row">
                    <div class="my-4">
                        <button class="btn btn-primary btn-lg">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
