@using Ubora.Web._Features.Projects.Workpackages

@{
    var workpackageMenuOption = (string)ViewData["WorkpackageMenuOption"];

    var workpackageControllerName =
        workpackageMenuOption == WorkpackageMenuOption.WorkpackageFourLocked
        ? "WorkpackageFour"
        : "WorkpackageThree";
}

<h1>@ViewBag.Title</h1>
@if (workpackageMenuOption == WorkpackageMenuOption.WorkpackageThreeLocked)
{
    <p>
        WP3 will drive you in the design and prototyping hardware, electronics, firmware and software of your medical device, whose concept is depicted in WP2.
        For each part, you can propose already existing solutions, including commercially available parts and open source software libraries.
    </p>
    <p>
        In the "Design for ISO testing compliance" you can indicate the specific design solution to guarantee compliance with the relevant standards.
    </p>
    <p>
        Finally, in the last section you should provide step-by-step instructions for assembling the prototype of your medical device.
    </p>
}
else
{


}


@if (await AuthorizationService.IsAuthorizedAsync(User, Policies.CanUnlockWorkpackages))
{
    <form asp-controller="@workpackageControllerName" asp-action="Unlock">
        <button type="submit" class="btn btn-outline-primary">
            <i class="material-icons">lock_open</i>
            <span>Open @ViewBag.Title</span>
        </button>
    </form>
}
