@using Ubora.Web._Features.Projects.Workpackages
@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Workpackages.Steps.VotingViewModel

@{
    ViewData["Title"] = "Conceptual Design";
    ViewData["MenuOption"] = ProjectMenuOption.Workpackages;
}

<section class="project-view full-width">
    @await Component.InvokeAsync(typeof(WorkpackageListOverviewViewComponent))

    <section class="medium-width step-view">
        <div class="step_header">
            <h1 class="step_title">Conceptual Design</h1>
        </div>

        @foreach(var candidate in Model.Candidates)
        {
            <a href="@Url.Action("Candidate", "ConceptualDesign", new { candidateId = candidate.Id })"><p>@candidate.Title</p></a>
            <p>@candidate.Description</p>
            <img src="@candidate.ImageUrl"/>
            <p>...........................</p>
        }

        <a asp-controller="ConceptualDesign" asp-action="AddCandidate">Add candidate</a>

    </section>
</section>


