@model Ubora.Web._Features._Shared.Emails.ForgotPasswordEmailViewModel
@{
    var resetPasswordUrl = Html.Raw(Url.Action("ResetPassword", "Account", new { userId = Model.UserId, Model.Code }, Context.Request.Scheme));
    Layout = "_EmailLayout";
}

<table width="100%">
    <tr>
        <td class="heading-tertiary">
            Password reset
        </td>
    </tr>

    <tr>
        <td class="paragraph">
            We have received a request to reset your password. If you didn't make the request, just ignore this email.
        </td>
    </tr>
    <tr>
        <td class="paragraph">
            You can reset your password by clicking the button below:
        </td>
    </tr>
    <tr>
        <td align="center">
            <table>
                <tr>
                    <td class="button">
                        <a href="@resetPasswordUrl" class="button-text" target="_blank">
                            <strong style="text-decoration:none; color:#FFFFFF;">Reset password</strong>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="paragraph">
            If the button does not work, you can reset your password by clicking on the following link or copy-paste it in your browser:
        </td>
    </tr>
    <tr>
        <td class="link">
            <a href="@resetPasswordUrl">@resetPasswordUrl</a>
        </td>
    </tr>
</table>
