<section class="process-steps">

    <div class="process-step process-step-completed">
        <h2 class="process-step-header">WP 0</h2>
        <p class="process-step-description">Drafting</p>
    </div>

    <div class="process-step process-step-icon">
        <i class="material-icons">forward</i>
    </div>

    <div class="process-step process-step-active">
        <h2 class="process-step-header">WP 1</h2>
        <p class="process-step-description">Medical need & product specification</p>
    </div>

    <div class="process-step process-step-icon">
        <i class="material-icons">forward</i>
    </div>

    <div class="process-step">
        <h2 class="process-step-header">WP 2</h2>
        <p class="process-step-description">Conceptual design</p>
    </div>

    <div class="process-step process-step-icon">
        <i class="material-icons">forward</i>
    </div>

    <div class="process-step">
        <h2 class="process-step-header">WP 3</h2>
        <p class="process-step-description">Design and prototyping</p>
    </div>

    <div class="process-step process-step-icon">
        <i class="material-icons">forward</i>
    </div>

    <div class="process-step">
        <h2 class="process-step-header">WP 4</h2>
        <p class="process-step-description">Implementation</p>
    </div>

    <div class="process-step process-step-icon">
        <i class="material-icons">forward</i>
    </div>

    <div class="process-step">
        <h2 class="process-step-header">WP 5</h2>
        <p class="process-step-description">Operation</p>
    </div>
</section>
