<style>
.project-page div h1,
.project-page div h3,
.project-page div h3 {
    color: var(--text-color);
}

.project-image {
    background-color: var(--primary-shade);
    width:100%;
}

.project-device-info {
    text-align: center;
    color: var(--primary-shade);
}

.dev-container {
    border:1px solid var(--quaternary-color);
    color: var(--quaternary-color);
    margin:2em 0;
    height:3em;
    text-align: center;
}

.project-author {
    display: flex;
    align-items: center;
}

.project-author img {
    border-radius: 50%;
    max-width: 5em;
    margin: 0 1em 0 0;
}

.project-author p {
    font-size: 120%;
}

.project-news {
    margin:1em 0;
}

.project-actions {
    text-align: center;
}
</style>

@await Html.PartialAsync("_ProcessSteps")

<section class="medium-width project-page">

    <!-- TODO: Risto - section for controls when user is authorized -->

    <img class="project-image" src="//placeimg.com/600/200/nature/grayscale" alt="">

    <h1 class="project-title">Hyperneedle: a nanotechnological approach</h1>

    <div class="project-device-info">
        <p class="project-device-classification">Class X medical device</p>
    </div>


    <div class="project-author">
        <img src="//placehold.it/100x100" alt="">
        <p>Dr. John Smith</p>
    </div>

    <div class="dev-container">
        All the funding, pledging, completion and duration goes here.
    </div>

    <h1>Project description</h1>

    <div class="project-long-description">
        <h3>Lorem ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ea earum labore. Qui minima itaque architecto, odit optio asperiores animi, neque voluptas illum commodi sed eos rerum tempore cupiditate, natus!</p>

        <h3>Some more lorem ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis placeat aliquid voluptatum atque repudiandae doloribus earum nesciunt impedit facere voluptatibus at, autem ipsum hic, soluta alias assumenda laborum doloremque. Dolorem.</p>

        <h3>Can never have enough of lorem ipsum dolor sit amet, right?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum tempore, earum voluptas ipsa voluptatum at expedita facere ab rerum voluptate dicta deserunt officiis, blanditiis dolor illo perferendis iste maxime magni.</p>
    </div>

    <h1>Project news</h1>
    <div class="project-news">
        <h3>01.01.0001</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus impedit ipsa repellat doloremque esse pariatur nesciunt veniam ex distinctio inventore, cupiditate eligendi accusantium aliquid veritatis voluptatum sint a nemo dolores!</p>

        <h3>01.01.0001</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus impedit ipsa repellat doloremque esse pariatur nesciunt veniam ex distinctio inventore, cupiditate eligendi accusantium aliquid veritatis voluptatum sint a nemo dolores!</p>
    </div>

    <div class="project-actions">
        <button class="button primary-button">View project details</button>
    </div>

</section>
