@{
	ViewData["Title"] = "Welcome";
}

<style>
	.initiative {
		display: flex;
		flex-wrap: wrap;
	}

	.initiative-option {
		text-align: center;
		padding:1em 0;
		flex-grow: 2;
	}
</style>
<section class="initiative full-width">
	<div class="initiative-option">
		<button class="button primary-button">I have a need</button>
		<h3>Find help through open discussion.</h3>
	</div>

	<div class="initiative-option">
		<button class="button primary-button">I have an idea</button>
		<h3>Propose your biomedical solution.</h3>
	</div>
</section>


<style>
	.search {
		text-align: center;
	}
	.search-icon {
		height: 2em;
	}
</style>
<section class="search">
	<form>
		<div class="search-field">
			<img class="search-icon" src="~/images/icons/search.svg" alt="Search icon">
			<input type="text" placeholder="Find a project by title, tag, user...">
		</div>
	</form>
</section>

<style>
	.project-list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
</style>
<section class="projects">
	<h2>Public projects</h2>
	<div class="project-list">
		<project-card
			banner="//placehold.it/350x200"
			title="Example project"
			author="John Smith"
			authorimage="//placehold.it/50x50"
			funded="75%"
			pledged="1,000,000$"
			completed="100%"
			timeremaining="365">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab voluptas reprehenderit minus sed in quas non eos, vel incidunt ducimus ipsam sunt dolores pariatur, ipsum quia rem consectetur asperiores magni.</p>
		</project-card>
		<project-card
			banner="//placehold.it/350x200"
			title="Example project"
			author="John Smith"
			authorimage="//placehold.it/50x50"
			funded="75%"
			pledged="1,000,000$"
			completed="100%"
			timeremaining="365">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab voluptas reprehenderit minus sed in quas non eos, vel incidunt ducimus ipsam sunt dolores pariatur, ipsum quia rem consectetur asperiores magni.</p>
		</project-card>
		<project-card
			banner="//placehold.it/350x200"
			title="Example project"
			author="John Smith"
			authorimage="//placehold.it/50x50"
			funded="75%"
			pledged="1,000,000$"
			completed="100%"
			timeremaining="365">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab voluptas reprehenderit minus sed in quas non eos, vel incidunt ducimus ipsam sunt dolores pariatur, ipsum quia rem consectetur asperiores magni.</p>
		</project-card>
		<project-card
			banner="//placehold.it/350x200"
			title="Example project"
			author="John Smith"
			authorimage="//placehold.it/50x50"
			funded="75%"
			pledged="1,000,000$"
			completed="100%"
			timeremaining="365">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab voluptas reprehenderit minus sed in quas non eos, vel incidunt ducimus ipsam sunt dolores pariatur, ipsum quia rem consectetur asperiores magni.</p>
		</project-card>
		<project-card
			banner="//placehold.it/350x200"
			title="Example project"
			author="John Smith"
			authorimage="//placehold.it/50x50"
			funded="75%"
			pledged="1,000,000$"
			completed="100%"
			timeremaining="365">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab voluptas reprehenderit minus sed in quas non eos, vel incidunt ducimus ipsam sunt dolores pariatur, ipsum quia rem consectetur asperiores magni.</p>
		</project-card>
		<project-card
			banner="//placehold.it/350x200"
			title="Example project"
			author="John Smith"
			authorimage="//placehold.it/50x50"
			funded="75%"
			pledged="1,000,000$"
			completed="100%"
			timeremaining="365">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab voluptas reprehenderit minus sed in quas non eos, vel incidunt ducimus ipsam sunt dolores pariatur, ipsum quia rem consectetur asperiores magni.</p>
		</project-card>
		<project-card
			banner="//placehold.it/350x200"
			title="Example project"
			author="John Smith"
			authorimage="//placehold.it/50x50"
			funded="75%"
			pledged="1,000,000$"
			completed="100%"
			timeremaining="365">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab voluptas reprehenderit minus sed in quas non eos, vel incidunt ducimus ipsam sunt dolores pariatur, ipsum quia rem consectetur asperiores magni.</p>
		</project-card>
		<project-card
			banner="//placehold.it/350x200"
			title="Example project"
			author="John Smith"
			authorimage="//placehold.it/50x50"
			funded="75%"
			pledged="1,000,000$"
			completed="100%"
			timeremaining="365">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab voluptas reprehenderit minus sed in quas non eos, vel incidunt ducimus ipsam sunt dolores pariatur, ipsum quia rem consectetur asperiores magni.</p>
		</project-card>
	</div>
</section>

<style>

</style>
<section class="about">
	<h2>About UBORA</h2>
</section>

<style>

</style>
<section class="resources">
	<h2>Resources</h2>
</section>

<style>
</style>
<section class="donation">
	<h2>Help the cause</h2>
</section>
