@{
	ViewData["Title"] = "Welcome";
}

<section class="initiative">
	<button>I have a need</button>
	<button>I have a solution</button>
</section>

<section class="projects">
	<ul class="project-list">
		<li class="project">
			<img src="//placehold.it/350x200" alt="" class="project-image">
			<h2 class="project-title">Example project</h2>
			<div class="project-author">
				<img src="//placehold.it/32x32" alt="" class="project-author-image">
				<p class="project-author-name">John Smith</p>
			</div>
			<p class="project-short-description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, asperiores sint architecto perspiciatis et corporis quia labore voluptas obcaecati magnam, consequuntur dolorem iure repudiandae excepturi inventore reiciendis ab, laudantium adipisci.
			</p>
			<ul class="project-status">
				<li class="project-status-fundedpercent">
					100<br>
					funded
				</li>
				<li class="project-status-pledgedamount">
					100<br>
					pledged
				</li>
				<li class="project-status-completedpercent">
					100<br>
					completed
				</li>
				<li class="project-status-daysremaining">
					100<br>
					days remaining
				</li>
			</ul>
		</li>


	</ul>
</section>
