@{
    ViewData["Title"] = "Welcome";
}

<i class="material-icons" style="color:#4777BB">search</i>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati error nostrum at animi dolore, ullam voluptatem incidunt molestias maxime quasi quam velit deserunt, labore in necessitatibus. Consectetur quas veniam aspernatur!</p>
