@{
	ViewData["Title"] = "Project proposal";
}

@await Html.PartialAsync("_ProcessSteps")

<section class="medium-width">
	<h1 class="full-width">Project proposal</h1>

    <form class="input-form">
        <h2>Project summary</h2>
        <label>
            Project title
            <input type="text" placeholder="Nanomedical syringe" disabled>
        </label>

        <label>
            Project description
            <textarea id="js-project-description" rows="8" placeholder="Well, this is my awesome BME project where I want to make a 'nanomedical' syringe - oh my god, it's just gonna be the best thing eveeer!" disabled></textarea>
        </label>

        <h2>Description of need</h2>
        <label>
            <textarea rows="8" placeholder="Explain the need for this project in greater detail..."></textarea>
        </label>

		<h2>Description of existing solutions and analysis</h2>
        <label>
            <textarea rows="8" placeholder="Please provide an overview of existing solutions with included analysis compared to your project..."></textarea>
        </label>

		<h2>Product specification</h2>
        <label>
            <h4>Functionality</h4>
			<textarea rows="8" placeholder="What are the main functions of your product?"></textarea>
        </label>

		<label>
            <h4>Performance</h4>
			<textarea rows="8" placeholder="How do you measure your device performance?"></textarea>
        </label>

		<label>
            <h4>Usability</h4>
			<textarea rows="8" placeholder="How and where will this product be used? Under which conditions?"></textarea>
        </label>

		<label>
            <h4>Safety</h4>
			<textarea rows="8" placeholder="How do you guarantee safety?"></textarea>
        </label>

		<h2>Target groups</h2>
		<label>
			<h4>Patients</h4>
			<textarea rows="8" placeholder="On which patients will this be used?"></textarea>
		</label>

		<label>
            <h4>End-users</h4>
			<textarea rows="8" placeholder="Who are going to be the end-users and how they will use it?"></textarea>
        </label>

		<h2>Additional information</h2>
		<label>
			Documents, files, images etc.
			<textarea rows="8" placeholder="Additional information"></textarea>
			<input class="form-input-file" type="file">
		</label>

		<h2>Device classification</h2>
		<!-- TODO: This will open a modal, where the user can identify and/or classify his/her device -->
		<button class="button button-secondary">Classify your device</button>

		<h2>ISO standards and regulation checklist</h2>
		<!-- TODO: I actually have no idea what should go here... -->

        <br>
        <button class="button primary-button" type="submit">Propose project</button>
    </form>
</section>

<link rel="stylesheet" href="~/lib/simplemde/dist/simplemde.min.css">
<script src="~/lib/simplemde/dist/simplemde.min.js"></script>

<script>
	let projectDescription = document.getElementById('js-project-description');

	let projectDescriptionEditor = new SimpleMDE({
		element: projectDescription
	});
</script>
