@{
	ViewData["Title"] = "Project drafting";
}

@await Html.PartialAsync("_ProcessSteps")

<section class="medium-width">
    <h1 class="full-width">Project draft</h1>

    <form>
        <h2>Project summary</h2>
        <label>
            Project title
            <input type="text" placeholder="What's the name of your project?">
        </label>

        <label>
            Project description
            <textarea rows="8" placeholder="Describe your project idea briefly..."></textarea>
        </label>

        <h2>TODO: How to call this section?</h2>
        <label>
            Clinical need
            <textarea rows="8" placeholder="What is the clinical need?"></textarea>
        </label>

        <label>
            Area of usage
            <textarea rows="8" placeholder="Where and how will your project be used?"></textarea>
        </label>

        <label>
            Potential technology
            <textarea rows="8" placeholder="Describe potential technologies used in your project..."></textarea>
        </label>

        <h2>Initial GMDN tags</h2>
        <!-- Referenced from: http://www.gs1.org/docs/healthcare/Tues_10h15_MarkWasmuth_GMDN.pdf slide 8 -->
        <label>
            Term name
            <input type="text" placeholder="e.g. General-purpose syringe">
        </label>

        <label>
            Definition
            <textarea placeholder="Definition" disabled></textarea>
        </label>

        <label>
            Code
            <input type="text" placeholder="GMDN classification code">
        </label>

        <br>
        <button class="button primary-button" type="submit">Propose project</button>
    </form>
</section>
