.footer {
    background-color: $quartinary-shade;
    color: $text-color;
    border-top: 1px solid $light;
}

.social-item:active,
.social-item:focus,
.social-item:hover {
  color: $white;
  text-decoration: underline;
}

.social-item--image {
  height: 2em;
  width: 2em;
}

.legal-flag {
  width:4em;
}

.legal-quote {
  font-size: 80%;
  font-style: italic;
}
