.footer {
  background-color: $blue;
  /*position: absolute;
  bottom:0;
  width: 100%;*/
}

.social-item:active,
.social-item:focus,
.social-item:hover {
  color: $white;
  text-decoration: underline;
}

.social-item--image {
  height: 2em;
  width: 2em;
}

.legal-flag {
  width:5em;
}

.legal-quote {
  font-size: 80%;
  font-style: italic;
  color: $quartinary-shade;
}
