.helpful-tips {
  color: var(--blue);
  transition: color 200ms ease-in;
}

.helpful-tips .material-icons {
  font-size: 150%;
  vertical-align: text-bottom;
}

.helpful-tips:hover {
  cursor: pointer;
  color: var(--light-blue);
}

.helpful-tips-content {
  display: none;
}

.helpful-tips-content-visible {
  color: var(--text-color);
  display: block;
}
