
.landing-image-discussion,
.landing-image-solution {
    padding: 5rem 4rem;

    p.lead {
        color: $white;
    }
}

.landing-image-discussion {
  background: url('../images/discussion.jpg') no-repeat center center;
  background-size: cover;

  .btn-primary {
      min-width: 7rem;
  }
}

.landing-image-solution {
  background: url('../images/solution.jpg') no-repeat center center;
  background-size: cover;
}
