.jumbotron-landing {
  background: url('../images/landing.jpg') no-repeat center center;
  background-size: cover;
}

.landing-image-discussion p.lead,
.landing-image-solution p.lead {
  color: var(--white);
}

.landing-image-discussion {
  background: url('../images/discussion.jpg') no-repeat center center;
  background-size: cover;
}

.landing-image-solution {
  background: url('../images/solution.jpg') no-repeat center center;
  background-size: cover;
}
