
/*Markdown editor preview style*/
.CodeMirror,
.CodeMirror-scroll {
    max-height: 24em;
}

.CodeMirror-lines {
    padding: 4px 0 20px 0 !important;
}

.CodeMirror,
.text-markdown {
    h1, h2, h3, h4, h5, h6 {
        font-weight: 500;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: .75rem;
    }

    h6 {
        font-size: .75rem;
    }
}


.text-markdown {
    font-family: inherit;
    text-align: justify;

    img {
        max-width: 100%;
        object-fit: contain;
    }
}


.ql-editor {
    min-height: 16rem;
    max-height: 24em;
}