.CodeMirror,
.CodeMirror-scroll {
    max-height: 24em;
}

.text-markdown {
  font-family: inherit;
	margin:1em 0;
	text-align: justify;
}

.text-markdown h1{
  font-size: 2rem;
}

.text-markdown h2{
  font-size: 1.5rem;
}

.text-markdown h3{
  font-size: 1.25rem;
}

.text-markdown h4{
  font-size: 1rem;
}

.text-markdown h5{
  font-size: .75rem;
}

.text-markdown h6{
  font-size: .75rem;
}

.image-markdown {
  max-height: 844px;
  height: 100%;
  max-width: 1500px;
  width: 100%;
  object-fit: contain;
}
