.message {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.message-unread {
    background-color: var(--quartinary-shade);
}

.message-container {
    display: flex;
    flex-direction: column;
}

.message-author-image {
    border-radius: 50%;
    max-width: 4em;
    margin: 0 1em 0 0;
}

.message-author-preview {
    color: var(--primary-shade);
    padding: 0;
    margin: 0;
}

.notification {
    display: block;
    margin:1em 0;
    position: relative;
}

.notification::before {
    background-color: var(--tertiary-shade);
    content:'';
    display: inline-block;
    height: 100%;
    position: absolute;
    width:5px;
}

.notification--unread:before {
    background-color: var(--blue);
}

.notification-container {
    align-self: center;
    display: flex;
    justify-content: space-between;
    padding:0 0 0 1em;
}

.notification--message {
    align-self: center;
}

.notification--controls {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.notification-action {
    margin: 0;
    justify-content: center;
}

.notification-action:last-of-type {
    margin:0 0 0 1em;
}

.notice {
    color: var(--white);
    display: flex;
    flex-direction: row-reverse;
    font-size: 100%;
    left:0;
    position: absolute;
    top:0;
    width: 100%;
    z-index: 9999;
}

.notice-text {
    align-self: center;
    flex-grow: 2;
    text-align: center;
}

.notice-close {
    align-items: center;
    display: flex;
    font-size: 150%;
    justify-content: center;
    margin: 1em;
    min-height: 48px;
    min-width: 48px;
}

.notice-close:hover {
    cursor: pointer;
}

.notice-info {
    background-color: var(--light-blue);
}

.notice-success {
    background-color: var(--green);
}

.notice-error {
    background-color: var(--orange);
}

@media screen and (max-width: 50em) {
  .notification-container {
    flex-direction: column;
  }
}
