/*First level menu style*/
.list-sidebar {
    li {
        list-style-type: none;
    }

    a {
        color: black;
        text-decoration: none;
        display: block;
        opacity: 0.7;
        padding-top: .3em;
        padding-bottom: .3rem;

        &:hover {
            opacity: 1;
        }

        &.muted-status {
            color: $tertiary-shade;
            text-decoration: none;
            cursor: default;
            opacity: 1;
        }

        &.active-status {
            font-weight: 600;
            opacity: 1;
        }

        &.checked-status::after {
            font-family: 'Material Icons';
            content: 'check';
            color: $green;
            line-height: 1;
            font-weight: 600;
        }

        &.unlockable-status::after {
            font-family: 'Material Icons';
            content: 'lock';
            color: $blue;
            vertical-align: middle;
        }

        img {
            width: 2rem;
        }
    }
    /*Lower level menu style*/
    .side-menu-secondary {
        padding-left: 1.5rem;
    }

    .side-menu-tertiary {
        padding-left: 1.5rem;
    }

    .side-menu-quaternary {
        padding-left: 1.5rem;
    }
}
