.nav-right-sticky {
    @extend .nav;
    @extend .sticky-top;
    @extend .flex-column;
    position: sticky;
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
    top: 1rem;

    ul {
        @extend .nav;
        @extend .flex-column;
        padding-left: .8rem;

        .nav-link {
            color: $text-color;

            &:active,
            &:focus,
            &:hover {
                color: $blue;
            }
        }
    }

    .nav-link.active {
        color: $blue;

        &:before {
            @extend .active-nav-link;
        }
    }
}
