.nav-right-sticky {
    @extend .nav;
    @extend .sticky-top;
    @extend .flex-column;
    position: sticky;
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
    top: 1rem;

    ul {
        @extend .nav;
        @extend .flex-column;
        padding-left: .8rem;

        .nav-link {
            color: $primary-shade;
            font-size: .875rem;
            padding-top: .2rem;
            padding-bottom: .2rem;

            &:active,
            &:focus,
            &:hover {
                color: $light-blue;
            }
        }
    }
}
