/*wp sidemenu for smaller devices*/
.wp-sidemenu-md {
    background-color: $quartinary-shade;
    padding: .2rem 1rem;
    width: 100%;

    button.btn-icon {
        color: $blue;

        .material-icons {
            font-size: 180%;
        }

        &:focus {
            box-shadow: none;
        }
    }

    .modal {
        &.modal-left-pane {
            &.show .modal-dialog {
                transform: translate(0, 0);
            }

            .modal-dialog {
                transform: translate(-100%, 0);
            }
        }

        &.fade.in .modal-dialog {
            left: 0;
        }

        .modal-dialog {
            margin-left: 0;
            margin-top: 0;
            width: 50%;
            height: 100%;

            .modal-content {
                border-radius: 0;
                border: none;
                height: 100%;
                overflow-y: auto;

                .modal-header {
                    padding: .5rem 1rem;
                }

                .modal-body {
                    padding-top: 0;

                    ul.list-sidebar {
                        padding-left: 1rem;
                        font-size: 14px;

                        li {
                            margin-top: 1rem;
                            margin-bottom: 1rem;
                        }

                        .side-menu-secondary li {
                            font-weight: normal;
                        }

                        .side-menu-secondary span {
                            margin-left: .6rem;
                        }

                        .side-menu-tertiary {
                            padding-left: 1.6rem;
                        }

                        .side-menu-quaternary {
                            padding-left: 1.6rem;
                        }

                        a.active-status::before {
                            height: 14px;
                            background-color: $blue;
                            margin-left: -4px;
                            margin-bottom: -19px;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 620px) {
    .wp-sidemenu-md {
        .modal {
            .modal-dialog {
                width: 80%;
            }
        }
    }
}

@media (min-width: 992px) {
    .wp-sidemenu-md {
        display: none;
    }
}

@media (max-width: 991px) {
    .wp-sidemenu {
        display: none;
    }
}

.sidemenu-collapse {

    &[aria-expanded="false"]::before,
    &::before {
        font-family: 'Material icons';
        content: 'arrow_right';
        display: inline-block;
        margin-left: -20px;
    }

    &[aria-expanded="true"]::before {
        transform: rotate(90deg);
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari */
    }
}
