.message {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.message-container {
    display: flex;
    flex-direction: column;
}

.notification {
    border-bottom: 1px solid $light;
    display: block;
    position: relative;
    padding: .5rem;

    &.notification-unread {
        background-color: $blue-shade;
        border-bottom: 1px solid $white;
    }

    .notification-controls {
        display: flex;
        flex-direction: row;
        margin: 0;

        .btn-outline-primary {
            background-color: $white;

            &:hover {
                background-color: $light-blue;
            }
        }
    }
}


.notice {
    color: $white;
    display: flex;
    flex-direction: row-reverse;
    font-size: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.notice-text {
    align-self: center;
    flex-grow: 2;
    text-align: center;
}

.notice-close {
    align-items: center;
    display: flex;
    font-size: 150%;
    justify-content: center;
    margin: 1em;
    min-height: 48px;
    min-width: 48px;
}

.notice-close:hover {
    cursor: pointer;
}

.notice-info {
    background-color: $light-blue;
}

.notice-success {
    background-color: $green;
}

.notice-error {
    background-color: $orange;
}
