.project-header {
  background-color: $blue;
  padding: .5rem 0 0 0;
  border: 0;
}

.project-header .nav-link.active {
  border-color: transparent;
  border-bottom: 1px solid $white;
  color: $blue;
}

.project-header .nav-link {
  color: $white;
}

.project-header .nav-link:focus,
.project-header .nav-link:hover {
  color: $light-blue;
  background-color: $white;
  border-color: transparent;
}

@media (max-width:767px) {
  .project-header {
    display:none;
  }

    .project-header-md  {
        display:block;
    }

}

@media (min-width:768px) {
 
    .project-header-md {
        display: none;
    }
}

@media (max-width: 1024px) {
    .project-header .nav-item {
        margin-left: .25rem;
        margin-right: .25rem;
    }
}

@media (min-width: 1025px) {
    .project-header .nav-item {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

.project-header-md {

    .btn-primary {
        border-radius: 0;
        padding-top: .75rem;
        padding-bottom: .75rem;
    }

    .dropdown-menu {
        margin: 0;
        border-radius: 0;
        transform: none !important;
        top: 50px !important;
    }

    .dropdown-toggle::after {
        font-family: 'Material Icons';
        content: '\E313';
        border: none;
        float: right;
        font-size: 24px;
        margin-right: 2.8rem;
        margin-top: -4px;
    }
}