
.project-header-container {
    background-color: $blue;
}


.project-header {
    padding: .5rem 0 0 0;
    border: 0;

    .nav-link {
        color: $white;

        &.active {
            border-color: transparent;
            border-bottom: 1px solid $white;
            color: $blue;
        }

        &:focus,
        &:hover {
            color: $light-blue;
            background-color: $white;
            border-color: transparent;
        }
    }
}

.project-header-md {

    .btn-primary {
        border-radius: 0;
        padding-top: .75rem;
        padding-bottom: .75rem;
    }

    .dropdown-menu {
        margin: 0;
        border-radius: 0;
        transform: none !important;
        top: 50px !important;
    }

    .dropdown-toggle::after {
        font-family: 'Material Icons';
        content: '\E313';
        border: none;
        font-size: 24px;
        margin-right: 2.8rem;
        margin-top: -4px;
        position: absolute;
    }
}


@media (max-width:767px) {
    .project-header {
        display: none;
    }

    .project-header-md {
        display: block;
    }
}

@media (min-width:768px) {

    .project-header-md {
        display: none;
    }
}

@media (max-width: 1199px) {
    .project-header .nav-item {
        margin-right: .5rem;
    }
}

@media (min-width: 1200px) {
    .project-header .nav-item {
        margin-right: 3rem;
    }
}

@media (max-width: 992px) {
    .project-header .nav-item {
        margin-right: .25rem;
    }
}
