
/*First level menu style*/
.list-sidebar li {
  list-style-type: none;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.list-sidebar a {
  color: var(--blue);
}

.list-sidebar img{
  width: 3rem;
}

.list-sidebar span{
  margin-left: .5rem;
}


/*Second level menu style*/
.side-menu-secondary {
  padding-left: 1rem;
}

.side-menu-secondary img {
  width: 1rem;
}

.side-menu-secondary span {
  margin-left: 1.5rem;
}


/*Third and fourth level menu style*/
.side-menu-tertiary img,
.side-menu-quaternary img {
  width: .75rem;
}


/*Statuses styles*/
a.muted-status {
  color: var(--tertiary-shade);
  text-decoration: none;
  cursor: default;
}

a.active-status {
  color: var(--light-blue);
}

a.checked-status {
  color: var(--green);
}
