
.list-sidebar li {
  list-style-type: none;
}

.list-sidebar a {
  color: var(--blue);
}

.side-menu-icon-primary {
  width: 3em;
}

.side-menu-icon-secondary {
  width: 1em;
}

.side-menu-icon-tertiary {
  width: .75em;
}

.sub-menu {
  padding-left: 1em;
}

.list-sidebar li,
.sub-menu li{
  margin-top: .5rem;
  margin-bottom: .5rem;
}



a.muted-status {
  color: var(--tertiary-shade);
  text-decoration: none;
  cursor: default;
}


a.active-status {
  color: var(--light-blue);
}

a.checked-status {
  color: var(--green);
}
