.list-sidebar {
    font-size: 90%;
}

/*First level menu style*/
.list-sidebar li {
    list-style-type: none;
    margin-top: .4rem;
    margin-bottom: .4rem;
}

.list-sidebar a {
  color: var(--blue);
}

.list-sidebar img{
  width: 2rem;
}

.list-sidebar span{
  margin-left: .5rem;
}


/*Second level menu style*/
.side-menu-secondary {
  padding-left: .6rem;
}

    .side-menu-secondary li {
        margin-top: .1rem;
        margin-bottom: .1rem;
    }

    .side-menu-secondary span {
      margin-left: 1.2rem;
    }


/*Secondary, third and fourth level menu images style*/
.side-menu-secondary img ,
.side-menu-tertiary img,
.side-menu-quaternary img {
    width: .75rem;
}


/*Statuses styles*/
a.muted-status {
    color: $tertiary-shade;
    text-decoration: none;
    cursor: default;
}

a.active-status {
  color: $light-blue;
}

a.checked-status {
  color: $green;
}
