@model Ubora.Web._Features.Projects.History.GeneralEventViewModel

<li class="history-list-item">
    @Model.Message
    <p class="history-timestamp">@Model.Timestamp.ToString("dd-MM-yyyy HH:mm:ss")</p>
</li>