@model Ubora.Web._Features.Projects.History.GeneralEventViewModel

<li class="history-list-item">
    @Model.Message
    <p class="history-timestamp timeago" title="@Model.Timestamp">@Model.Timestamp.ToString("dd.MM.yyyy")</p>
</li>
