@model Ubora.Web._Features.Projects.History.GeneralEventViewModel

<div class="notification">
    <p class="mb-0 py-1">@Model.Message</p>
    <span class="history-timestamp timeago" title="@(Model.Timestamp.ToString("o"))">&nbsp;</span>
</div>

