@model Ubora.Web._Features.Projects.History.GeneralEventViewModel

<div class="row notification no-gutters">
    <div class="col-lg-12">
        <p>@Model.Message</p>
    </div>    
    <div class="col-lg-12">
        @Html.TimeAgoHistorySpan(Model.Timestamp)
    </div>
</div>