@using Ubora.Web._Features.Projects._Shared
@model System.Collections.Generic.IEnumerable<Ubora.Web._Features.Projects.History._Base.IEventViewModel>

@{
    ViewData["Title"] = "History";
    ViewData["MenuOption"] = ProjectMenuOption.History;
}

<section class="medium-width">
    <h1 class="full-width">Project history</h1>
    
    <ul class="list--none">
        @foreach (var uboraEvent in Model)
        {
            @uboraEvent.GetPartialView(Html)
        }
    </ul>
</section>
