@using Ubora.Web._Features.Projects._Shared
@model System.Collections.Generic.IEnumerable<Ubora.Web._Features.Projects.History._Base.IEventViewModel>

@{
    ViewData["Title"] = "History";
    ViewData["MenuOption"] = ProjectMenuOption.History;
}

<div class="container-fluid my-4">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8">
      <h1 class="display-4 mb-4">Project history</h1>
      @if (Model.Any())
      {
        <ul class="list-group">
          @foreach (var uboraEvent in Model)
          {
            @uboraEvent.GetPartialView(Html)
          }
        </ul>
      }
      else
      {
        <p>No history to show.</p>
      }
      </ul>
    </div>
  </div>
</div>
