@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.History.HistoryViewModel

@{
    ViewData["Title"] = "History";
    ViewData["MenuOption"] = ProjectMenuOption.History;
}

<div class="container my-4">
    <div class="row min-height">
        <div class="col">
            <h1>Project history</h1>
            @if (Model.Pager.TotalItemCount > 0)
            {
                <ul class="list-group">
                    @foreach (var uboraEvent in Model.Logs)
                    {
                        @uboraEvent.GetPartialView(Html)
                    }
                </ul>
            }
            else
            {
                <p>No history to show.</p>
            }
        </div>
    </div>
    <div class="row mt-4">
        <div class="col d-flex justify-content-center">
            @Html.Partial("~/_Features/_Shared/Paging/Pager.cshtml", Model.Pager)
        </div>
    </div>
</div>
