@using Ubora.Web._Features.Notifications.Requests

@model RequestPartialViewModel

<form class="default-form" asp-controller="Requests" asp-action="@Model.Action" method="post">
    <input type="hidden" asp-for="RequestId" />

    <button class="questionnaire_question" type="submit">@Model.Action</button>
</form>