@using Ubora.Web._Features.Notifications.Requests

@model RequestPartialViewModel

<form class="default-form notification-action" asp-controller="Requests" asp-action="@Model.Action" method="post">
    <input type="hidden" asp-for="RequestId" />

    <div class="form-input">
        <button class="button secondary-button small-button" type="submit">@Model.Action</button>
    </div>
</form>
