@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Assignments.AddAssignmentViewModel

@{
    ViewData["Title"] = "Assignments";
    ViewData["MenuOption"] = ProjectMenuOption.Assignments;
}

<section class="medium-width">
    <h1 class="full-width">Assignment draft</h1>

    <form asp-controller="Assignments" enctype="multipart/form-data" asp-action="Add" method="post">
        <input asp-for="ProjectId" type="hidden">

        <div class="form-input">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" placeholder="Assignment title" autofocus>
            <span asp-validation-for="Title"></span>
        </div>

        <div class="form-input">
            <label>Assignee</label>
            <select asp-for="AssigneeIds" class="js-example multiple-select-box select2" multiple="multiple">
                @foreach (var member in Model.ProjectMembers)
                {
                    <option value="@member.AssigneeId">@member.FullName</option>
                }
            </select>
        </div>

        <div class="form-input">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" placeholder="Assignment description" rows="8"></textarea>
            <span asp-validation-for="Description"></span>
        </div>

        <div class="form-input">
            <button class="button primary-button small-button" type="submit">Add Assignment</button>
        </div>
    </form>
</section>

@section Scripts {
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css"
          asp-fallback-href="~/dist/lib/select2.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"
            asp-fallback-src="~/dist/lib/select2.min.js"
            asp-fallback-test="window.select2">
    </script>
    <script>
        $(document).ready(function () {
            $('.js-example').select2();
        });
    </script>
}
