@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Assignments.AssignmentListViewModel

@{
    ViewData["Title"] = "Assignments";
    ViewData["MenuOption"] = ProjectMenuOption.Assignments;
}

<div class="container-fluid my-4">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-8">

      <div class="row">
        <div class="col-sm-12 col-lg-6">
          <h1>@Model.ProjectName</h1>
        </div>
        <div class="col-sm-12 col-lg-6 d-flex justify-content-end">
          <a class="btn btn-secondary-ghost align-self-start d-sm-block" asp-controller="Assignments" asp-action="Add" asp-route-projectId="@Model.ProjectId">
            <i class="material-icons">add</i>
            <span>Add assignment</span>
          </a>
        </div>
      </div>

      <div class="row my-4">
        <div class="col">
          <ol>
            @foreach (var assignment in Model.Assignments)
            {
              <li>
                  <a asp-controller="Assignments" asp-action="Edit" asp-route-id="@assignment.Id">@assignment.Title</a>
              </li>
            }
          </ol>
        </div>
      </div>

    </div>
  </div>
</div>
