@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Assignments.AssignmentListViewModel

@{
    ViewData["Title"] = "Assignments";
    ViewData["MenuOption"] = ProjectMenuOption.Assignments;
}

<div class="container-fluid my-4">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-between">
        <h1>@Model.ProjectName</h1>
        <a class="btn btn-secondary-ghost" asp-controller="Assignments" asp-action="Add" asp-route-projectId="@Model.ProjectId">
            <span>Add assignment</span>
            <i class="material-icons">add_box</i>
        </a>
      </div>
      <ol>
        @foreach (var assignment in Model.Assignments)
        {
          <li>
              <a asp-controller="Assignments" asp-action="Edit" asp-route-id="@assignment.Id">@assignment.Title</a>
          </li>
        }
      </ol>
    </div>
  </div>
</div>
