@using Ubora.Web._Features.Projects._Shared
@model Ubora.Web._Features.Projects.Assignments.EditAssignmentViewModel

@{
    ViewData["Title"] = "Edit assignment";
    ViewData["MenuOption"] = ProjectMenuOption.Assignments;
}

<div class="container my-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">UBORA</a></li>
            <li class="breadcrumb-item"><a asp-controller="Assignments" asp-action="Assignments">Assignments</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col">
            <h1>Assignment</h1>
            <form asp-controller="Assignments" asp-action="Edit" method="post">
                <input asp-for="ProjectId" type="hidden">
                <input asp-for="Id" type="hidden">

                <div class="form-group">
                    <label asp-for="Title">Title</label>
                    <input class="form-control" asp-for="Title" placeholder="Assignment title">
                    <span asp-validation-for="Title"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <textarea class="form-control" asp-for="Description" placeholder="Assignment description" rows="3"></textarea>
                    <span asp-validation-for="Description"></span>
                </div>

                <div class="form-group">
                    <label asp-for="AssigneeIds">Assignee</label>
                    <select asp-for="AssigneeIds" class="form-control js-project-member-selection multiple-select-box select2" multiple="multiple">
                        @foreach (var member in Model.ProjectMembers)
                        {
                            <option value="@member.AssigneeId">@member.FullName</option>
                        }
                    </select>
                    <span asp-validation-for="AssigneeIds"></span>
                </div>

                <div class="text-center">
                    <a class="btn btn-outline-primary" asp-controller="Assignments" asp-action="Assignments">Discard</a>
                    <span class="mx-1"></span>
                    <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Head {
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css"
          asp-fallback-href="~/dist/libs/select2.min.css">
}

@section Scripts {
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"
    asp-fallback-src="~/dist/libs/select2.min.js"
    asp-fallback-test="window.select2">
</script>
<script>
$(document).ready(function () {
    $('.js-project-member-selection').select2();
});
</script>
}
